<form action="/service-manual/search" method="get" accept-charset="utf-8" class="search-header search-header-2 js-search-hash" role="search">
  <fieldset>
    <legend class="visuallyhidden">Search gov.uk</legend>

    <label for="search-main">
      <h1>
        <%- if @results && @results.any? -%>
          <%= pluralize(@results.length, "result", "results") %> for
        <%- else -%>
          What are you looking for?
        <%- end -%>
      </h1>
    </label>

    <input type="search" name="q" value="<%= @search_term %>" id="search-main" /> <button type="submit" class="button">Search</button>
  </fieldset>
</form>
