<li>
  <h3>
    <a href="<%= result.link %>" title="View <%= result.title %>"<% if result.format == "recommended-link" %> rel="external"<% end %>>
      <%= result.title %>
    </a>
  </h3>
  <p><%= result.description %></p>
</li>
