  <div class="alpha-banner">
    <p>
      <b>ALPHA:</b> This is a prototype – your <a href="/contact/govuk">feedback</a> will help us to improve it. <a href="/service-manual/phases/alpha">Find out more</a>
    </p>
  </div>
  <div class="inner">
    <p><span>Last updated 10 December 2013</span></p>
  </div>

  <header>
    <h1>Government Digital Service <strong>Content style guide</strong></h1>
    <p>This style guide is part of the <a href="/design-principles">Design Principles</a> document.</p>
  </header>
