  <div class="alpha-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a prototype – your <a href="/contact/govuk">feedback</a> will help us to improve it. <a href="/service-manual/phases/alpha">Find out more</a></span>
    </p>
  </div>
  <div class="inner">
    <p><span>Last updated <%= @changes.first.updated_at.strftime('%e %B %Y') %></span> <a href="/design-principles/style-guide.atom" class="feed">feed</a></p>
  </div>

  <header>
    <h1>Government Digital Service <strong>Content style guide</strong></h1>
    <p>This style guide is part of the <a href="/design-principles">Design Principles</a> document.</p>
  </header>
