  <header>
    <h1>Government Digital Service <strong>Content style guide</strong></h1>
    <p>This style guide is part of the <a href="/design-principles">Design Principles</a> document.</p>
  </header>
