<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <section aria-labelledby="answers-heading">
          <h1 id="answers-heading">Answers</h1>

          <p>Answers assume prior knowledge and answer a popular and specific need (so you don't need to explain terms or provide context). For example, the answer 'National Minimum Wage rate' should only give the rate, not information about what the National Minimum Wage is, how to pay it, etc (although you should be clearly linking to related content that does).</p>
          <p>Stick exclusively to the answer – don't be tempted to include extra information, however useful this might appear to be.</p>
          <h2 id="summary">Summary</h2>
          <ul>
            <li>one or two sentence(s) summing up the answer for common case (aim for 1)</li>
            <li>get the basic information quickly</li>
            <li>not an introduction</li>
            <li>use summary tags</li>
          </ul>

          <h2 id="body">Body</h2>
          <ul>
            <li>expand on summary with any necessary detail</li>
            <li>be strict with information you include</li>
            <li>stick to task</li>
            <li>keep it concise; don't overload it with caveats</li>
            <li>no need to repeat info in subhead</li>
          </ul>

          <h2 id="subheads">Subheads</h2>
          <ul>
            <li>keep as close to search terms as possible</li>
            <li>avoid questions; use statements</li>
            <li>no need for the 'if' (eg 'You're working abroad')</li>
            <li>H2 are primary subs</li>
          </ul>

          <h2 id="formatting">Formatting</h2>
          <ul>
            <li>don't break up text with too many subheads</li>
            <li>use formatting options (eg callouts) but don't overload the page</li>
            </ul>
          <h2>When an answer becomes a guide</h2>
          <p>Make the answer part of a longer guide when:</p>
          <ul>
            <li>depends on too many things, for example the age of your child and the type of job can't be summed up</li>
            <li>is not a popular search</li>
          </ul>
        </section>
      </article>
    </li>
  </ol>

</div>
