<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <h1>Benefits and schemes</h1>
        <h2>Overview</h2>
        <p>Give people what they want to know without going into detail, eg the rate and how long it's paid for. Don’t use one long paragraph. Separate the main points.</p>

        <h2>Main sections</h2>
        <p>You’ll meet the user’s need by:</p>
        <ul>
          <li>sticking to the title and need</li>
          <li>resisting the temptation to provide information around the subject </li>
          <li>using examples for complex calculations (use example Markdown)</li>
          <li>sticking to the common case – put unusual cases in ‘Further information'</li>
        </ul>

        <h2>Further information</h2>
        <p>This isn't a dumping ground. Content still needs to be useful. If you can't find a place for it, don't use it.</p>
        <p>The  main information needed is: </p>
        <ul>
          <li>effect on other benefits</li>
          <li>appeals and edge cases</li>
          <li>more information on how things like calculations, cases and benefits are worked out</li>
        </ul>
      </article>
    </li>
  </ol>
</div>
