<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <h1>Case studies</h1>
        <p>Use for real examples that help users understand either:</p>
        <ul>
          <li>a process that’s covered on GOV.UK (eg shows someone’s experience of taking part in a particular government programme)</li>
          <li>an important aspect of government policy that’s covered on GOV.UK (eg shows someone’s personal experience of a policy problem the government is trying to solve)</li>
        </ul>
        <h2>Deciding whether to create a case study</h2>
        <p>Typically, a user just wants the relevant information in a clear and concise way. A case study can be counter-productive: it’s just something else for the user to read, and complicates search results. It’s best to focus on getting the wording of the guidance or policy right instead.</p>
        <p>Only create a case study if:</p>
        <ul>
          <li>it relates directly to guidance or policy content on GOV.UK – and adds something really important to it</li>
          <li>it’s going to be permanently useful (situations with only a temporary interest are better dealt with in a press release or news story)</li>
        </ul>
        <h2>How to avoid creating too many case studies</h2>
        <p>Don’t create case studies that are just about promoting your organisation. A user on GOV.UK is aware of your organisation and what it does: what they’re looking for is concrete information on how to do something. Unnecessary promotional content creates ‘noise’, making the concrete information harder to find.</p>
        <p>Avoid creating 2 case studies about similar points. If there’s a case study about a policy or process, will a second really add enough to balance the extra ‘noise’ it creates?</p>
        <h2>What to put on the page</h2>
        <p>A case study can be a first person account. Or it can be a third person account including quotes from the subject of the case study. </p>
        <p>Case studies can be in video form.</p>
        <h2>Titles</h2>
        <p>Summarise the main point of the case study. Don’t use the words ‘case study’ in the title: they appear on the page automatically.</p>
        <p>Good example: UK money helps to build new homes in Darfur</p>
        <p>Bad example: After the war</p>
        <h2>Summary</h2>
        <p>One paragraph, 3 sentences or fewer. You want a short, sharp introduction that gives facts: what happened, why and the result. Write in the third person, even if the case study is a first person account.</p>
        <p>Good example:</p>
        <p>‘The war in Darfur left many people without homes. We gave the Sudanese government £x money and 500 builders to help build homes for 1,000 families.’</p>
        <h2>Body copy</h2>
        <p>There are no set headings but make sure you include specific facts about:</p>
        <ul>
          <li>how the case study supports a particular policy (include links to the policy/detail pages)</li>
          <li>stats and facts: how many people this will help, how much money is going where etc</li>
          <li>the human element: who is benefiting and how</li>
        </ul>
        <p>Context is important, but don’t include too much detail about the past.</p>
        <p>Include quotes but don’t overload the page with them unless it is a straight interview.</p>
        <p>Example:</p>
        <p>‘The 7-year war in Darfur (2003 to 2010) left x people homeless. Despite the ceasefire in 2010, the region is still unstable and work to rebuild homes is slow.</p>
        <p>We sent [building company, builders etc] to Darfur in June 2011. In 6 months they built 50 homes, which will house 200 people including 130 children.</p>
        <p>George, husband and father of 4 children, said:</p>
        <p>"It has made such a difference to our lives. My wife was ill and our children were getting sick. We were crammed into a tiny house with 5 other families. The living conditions were awful. Now we have a clean house to ourselves. The children share a room but they love the space and get up to mischief."’</p>
        <p>Keep to the usual style. Explain any unusual terms and keep a friendly, informative tone. It’s not a magazine and we won’t be using slang etc but keep the language easy to understand.</p>
      </article>
    </li>
  </ol>
</div>
