<% content_for :title do %>GOV.UK – Style guide – Consultations<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <section aria-labelledby="consultations-heading">
          <h1 id="consultations-heading">Consultations</h1>
          <p>Use for consultations, calls for evidence and requests for people’s views on a question.</p>
          <p>Don’t create separate pages for public feedback and government responses to consultations: just add the documents to the existing page. That way users can always find the latest information about the consultation at the same URL.</p>
          <h2 id="consultations-titles">Titles</h2>
          <p>Summarise what the consultation is about. Don’t include the word ‘consultation’ in the title: ‘consultation’ appears on the page automatically.</p>
          <p>A good example:</p>
          <p>Building regulations: saving fuel and power</p>
          <h2 id="consultations-body-text">Body text</h2>
          <p>Give a short, succinct account of what the consultation is asking people to comment on. </p>
          <p>Don’t use jargon. As government, we have to keep all users in mind. We can't exclude people by using unclear language.</p>
          <p>Don’t include publication or response dates as they’re inserted automatically and say who the consultation is aimed at if not obvious</p>
          <p>Keep it to under 100 words.</p>
          <h2 id="consultations-attachments">Attachments</h2>
          <p>When you upload the attachment it will automatically show the front page of the consultation. The type of document, number of pages and file size are captured automatically.</p>
          <p>The title field for this attachment will be displayed as the link text to download or open the file. This should be the full, official title of the publication as written on its front cover.</p>
          <p>When a government response is available, upload those files to the consultation page so that the whole consultation is findable at a single URL.</p>
          <h2 id="consultations-public-feedback">Public feedback (optional – can be added after consultation closes)</h2>
          <p>Use the detail/summary field to show how many responses you got and, if it’s not obvious, the type of responses (members of the public, small businesses, large businesses, local government organisations, trade unions etc).</p>
          <p>Don’t try to summarise what the feedback says: just upload the actual feedback as one or more attachments. Upload as zip files if there are too many to display individually.</p>
          <p>Don’t include dates in the copy: the publication date is inserted automatically.</p>
          <h2 id="consultations-final-outcome">Final outcome (add once the government response is ready)</h2>
          <p>Use the detail/summary field to describe briefly the form the government response takes. Don’t describe what the response actually said: that information goes in the attachment.</p>
          <p>Good example:</p>
          <p>Summary of what changes were made and why, together with a copy of the revised draft regulations.</p>
          <p>Only add documents that form part of the government’s initial response to the consultation (usually just the official response document plus a final impact assessment, if there is one). Don’t attach documents with a longer life span, like implementation plans or new guidance: create a separate publication page, so users can find them without knowing the consultation.</p>
          <p>Don’t add more information or attachments to the page after the initial government response has been published. If there are long term consequences for a significant area of government policy, cover it on the relevant policy page (under the ‘Who we consulted’ heading).</p>
        </section>
      </article>
    </li>
  </ol>
</div>
