<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <section aria-labelledby="responses-heading">
          <h1 id="responses-heading">Government responses</h1>
          <p>Use for government statements in response to coverage in the media, produced by the organisation’s press team: rebuttals, ‘myth busters’ etc.</p>
          <p>Don’t use for statements issued to Parliament (use the ‘Statement [to Parliament]’ format).</p>
          <h2 id="responses-titles">Title</h2>
          <p>Summarise the government’s position. Avoid starting titles with ‘Statement on ...’ or ‘Government response to ...’: it takes up space without saying anything useful to the user, and makes it more difficult to tell statements apart.</p>
          <p>Don’t put the name of the person making the statement in the title: this information will appear on the page automatically.</p>
          <p>A good example:<br /></p>
          <p>Syria: international community must act as deaths reach 100,000</p>
          <h3 id="responses-summary">Summary</h3>
          <p>Summarise the main point of the government’s response – expanding on what you’ve said in the title – and indicate what you’re responding to.</p>
          <p>The summary also acts as the first sentence of the story, so it should make sense when read as part of the whole page.</p>
          <p>End it with a full stop.</p>
          <p>Good example:</p>
          <p>News reports on the scale of the tragedy show the need for all sides to respect humanitarian efforts and work towards a political solution.</p>
          <h3 id="responses-body-text">Body text</h3>
          <p>Don’t repeat the summary.</p>
          <p>Body copy for government responses tends to be shorter than press releases: it’s usually just a quote from the organisation spokesperson. So typically there’s no need for subheadings.</p>
        </section>
      </article>
    </li>
  </ol>
</div>
