<% content_for :title do %>GOV.UK – Style guide – Groups<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <section aria-labelledby="policy-heading">
          <h1 id="policy-heading">Groups</h1>
          <p>The groups format is used for policy advisory groups and other types of groups in government.</p> 
          <p>Your group will be set up as a policy advisory group page if it:</p>
          <ul>
            <li>advises on policy and not for example on business or operational matters</li>
            <li>advises on policy and not for example on business or operational matters</li>
            <li>has a significant impact on policy making (ie it has a direct relationship with ministers or senior policy officials)</li>
            <li>has formal terms of reference and is a formally constituted group that plays a defined role in policy making</li>
          </ul>
          <p>Your group will also be set up as a group page if:</p>
          <ul>
            <li>it’s an organisational unit, team or committee within, set up or sponsored by government and responsible for a specific area of work</li>
            <li>there is a genuine user need for information about its work</li>
            <li>it can be contacted by the public</li>
          </ul>
          <h2 id="groups-role">Role of a group page</h2>
          <p>Group pages should give a brief, succinct explanation of the group’s work. If the purpose of the group is to highlight a particular government scheme or project, the relevant content pages should be the promoted destination rather than the group page.</p>
          <p>Example:</p>
          <p><a href="/government/groups/the-darwin-initiative#darwin-expert-committee">The Darwin Expert Committee</a>, which is managed by Defra, is represented as a group. Sustainable Development in Government (also under Defra) isn’t but there is a policy on the subject.</p>
          <p>The Darwin committee provides independent advice to the Secretary of State. Its members are independently appointed through open competition. It has a clear public role.</p>
          <p><a href="http:www.//sd.defra.gov.uk/">Sustainable Development in Government</a> explains what the government is doing in the area of sustainable development. It has no corporate existence outside of Defra.</p>
          <p>Group pages should not be organisation home pages where everything about a group and the subject area they’re responsible for are collected in one place. Don’t use group pages to explain the internal structure of government.</p> 
          <h3 id="groups-approval">Getting approval for a group page</h3>
          <p><a href="https://support.production.alphagov.co.uk/">Contact GDS</a> to get approval to set up a group page that fits the criteria for policy advisory groups and other groups.</p>

          <h2 id="groups-style-guidance">Style guidance for all groups</h2>
          <p>The following style guidance applies to policy advisory and all other groups.</p>

          <h3 id="groups-title">Title</h3>
          <p>Use the name of the group but don’t include the acronym.</p>

          <h3 id="groups-summary">Summary</h3>
          <p>Use a single sentence to describe what the group does. This shouldn’t be longer than 140 characters (or the sentence will be truncated in search) and should be in plain English without jargon. Technical terms or the group acronym should only be used where there is concrete analytics evidence that users search for these terms.</p> 

          <p>For policy advisory groups, include who the group reports to if there is space (or in the ‘role’ section if not).</p>

          <h3 id="groups-team-role">Role (of group/team or committee)</h3>
          <p>This can be added as an H2 subheading if more detail is needed on the role of the group. This should be no longer than 2 sentences and must be in plain English. If you write 2 sentences then the total word count shouldn’t be more than 30.</p>

          <h3 id="groups-contact">Contact</h3>
          <p>Add an email address to this field so that the public can contact the group. The email address will appear below all the other sections.</p>

          <h3 id="groups-other-contacts">Other contact details</h3>
          <p>If there are other contact details, add a single H2 subheading (for example, ‘Address and phone number’ or ‘Secretariat address’) at the end of the group page.</p>

          <h2 id="groups-policy-advisory">Policy advisory groups: additional style guidance</h2>
          <p>The following additional style guidance only applies to policy advisory groups.</p>

          <h3 id="groups-reference-terms">Terms of reference</h3>
          <p>Attach the group’s terms of reference to the page. Use a ‘callout’ style attachment.</p>

          <h3 id="groups-membership">Membership</h3>
          <p>Lead in with ‘Current members are:’, then create a bullet point list.</p>

          <p>List the chair of the group first, and indicate their role by putting ‘Chair’ in brackets. Just give the member’s name, their job title and the organisation they represent (if it’s not obvious). In general, avoid titles and honorifics.</p>

          <h3 id="groups-minutes">Minutes</h3>
          <p>Don’t attach more than the previous 6 months of minutes. Minutes should be attached directly to the page - don’t publish them as publications on GOV.UK and then link to them.</p>

          <p>Attach the most recent as a ‘callout’ style attachment and the others using ‘inline’ style attachments. Use this format for the link text – ‘19 January, 2013: minutes’.</p>

          <p>Link to the National Archives for older minutes (use this format for the link text – ‘See the National Archives website for minutes from June 2013 and earlier’).</p>

          <h3 id="groups-conduct">Code of conduct (optional)</h3>
          <p>If the group has a formal code of conduct, you can attach it to the page here.</p>

          <h3 id="groups-policy-area">Policy area</h3>
          <p>A single link may be added to either a specific policy or policy area (known as ‘topics’).</p>

          <h2 id="groups-other-guidance">All other groups: additional style guidance</h2>
          <p>The following style guidance applies to all other groups that aren’t policy advisory groups.</p>

          <p>Don’t use more than 6 H2 headings to the detail section on this group page.</p> 

          <p>Use the ‘role’ section to explain why the public need to contact the group.</p>

          <p>If there is a genuine user need to provide minutes of other group meetings, follow the style guidance on this for policy advisory groups.</p>

          <p>You can create an inline link to the most important publication, detailed guide or alternatively a document collection related to the group’s work. Only link in this way if the user has a call to action to follow. Don’t attach the publication directly to the page (as you would for minutes) but link to the publication page.</p>
        </section>
      </article>
    </li>
  </ol>
</div>
