<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <section aria-labelledby="guides-heading">
          <h1 id="guides-heading">Guides</h1>
          <h2 id="guides-overview">Overview</h2>
          <p>‘Part 1' of the guide should contain the most important information that the majority of users will want to read – you can have an 'overview' but you don't have to.</p>
          <p>Subsequent parts should have more specific information and content for specialist audiences.</p>
          <h2 id="guides-parts">Parts</h2>
          <p>You should break content into sections based on user needs as well as the natural structure of the content.</p>
          <p>You don't have to use parts. If you find that you only have 3 or 4 small parts in a guide, consider simply having a page without parts where users can scroll.</p>
          <p>For consistency across the site, these part titles (and order) should be used: Eligibility; Apply For…; Appeal against.</p>
          <p>Don't force a linear reading pattern.</p>
          <p>Don't duplicate information but also don't assume people have read all parts of the guide.</p>
          <p>You can link between different parts of the guide using slugs.</p>
        </section>
      </article>
    </li>
  </ol>
</div>
