<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <h1>News stories and press releases</h1>
        <section aria-labelledby="news-stories-heading">
          <h1 id="news-stories-heading">News stories</h1>
          <p>News stories are different from press releases:</p>
          <ul>
            <li>if it’s mostly about putting the organisation’s views on record, it should probably be a press release (or a ‘Government response’)</li>
            <li>if it’s mostly about giving users information they can act on, information they need and can’t get from other sources, it should probably be a news story</li>
          </ul>
          <h3 id="news-stories-deciding-what-to-publish">Deciding what to publish</h3>
          <p>There’s a good chance that most users won’t look at news content.</p>
          <p>When we looked at <a href="http://digital.cabinetoffice.gov.uk/2012/11/07/have-i-got-government-news-for-you/">traffic to government websites</a>, we found that some were getting as little as 2% of their traffic to news content – and few had much more than a third of users going to the news.</p>
          <p>So be selective. When making decisions about what to publish, think about what users need to know rather than what the organisation would like them to see. You should:</p>
          <ul>
            <li>avoid duplicating press releases</li>
            <li>avoid duplicating other organisations’ news stories</li>
            <li>make sure it’s information users can act on (or users need to get information directly from the organisation rather than through the media)</li>
            <li>make sure it’s genuine news content</li>
            <li>make sure it adds something to existing content</li>
          </ul>
          <h3 id="news-stories-avoid-duplicating-press-releases">Avoid duplicating press releases</h3>
          <p>If you’ve already covered something in a press release, don’t put out a news story with the same information. It’s confusing for users, and means that both pages will perform less well in search.</p>
          <h3 d="news-stories-avoid-duplication">Avoid duplicating other organisations’ news stories</h3>
          <p>Any duplication is very obvious on GOV.UK, so stick to your remit.</p>
          <p>If there’s more than one organisation with an interest in a topical issue, think about producing a joint story – it’s likely to have more impact.</p>
          <p>But if two organisations are covering completely different angles and/or addressing different audiences, it’s okay to issue separate stories.</p>
          <h3 id="news-stories-information-users-can-act-on">Make sure it’s information that users can act on (or can’t get from other sources)</h3>
          <p>For the most part, government isn’t a provider of news. That’s what media organisations do. We’re a source of news: a maker of announcements. </p>
          <p>News stories on GOV.UK should provide users with either:</p>
          <ul>
            <li>information they can act on (eg a government grant scheme opening for applications)</li>
            <li>information they would expect to get directly from the organisation rather than through the media (eg information about how changes to public services affect them as public sector employees)</li>
          </ul>
          <p>Content that’s more about providing comment or explaining the government’s position on a matter of policy is probably more suitable for a press release. Content that’s about explaining the government’s position in response to something in the news is probably better published as a ‘Government response’.</p>
          <h3 id="news-stories-genuine-content">Make sure it’s genuine news content</h3>
          <p>Genuine news content should is self-contained: it should be possible to delete it from the site without affecting anything else. Don’t publish news stories that are actually general purpose content pages.</p>
          <p>Also, news stories represent the organisation’s views at a particular moment in time: don’t make changes after they’re published, unless it’s to correct an error.</p>
          <h3>Make sure it adds something to existing content</h3>
          <p>Don’t publish news items just to provide a link through to other GOV.UK content – it confuses user journeys and complicates search results, without adding any benefit for users.</p>
          <h3 id="news-stories-length">Article length</h3>
          <p>No lower limit, although the value of a story under 150 words should be questioned.</p>
          <p>Upper limit of 750 words – with case-by-case exceptions (eg some Budget pages).</p>
          <h3 id="news-stories-titles">Titles</h3>
          <p>What's the story? Tell the story in a few words:</p>
          <ul>
            <li>headlines: aim for 65 characters max</li>
            <li>use a colon not a dash to separate: Google doesn’t recognise dashes</li>
          </ul>
          <p>‘Minister visits factory’ is not a story. ‘Vince Cable tells factory workers about workplace law reforms’ gives the reader a sense of what the story is about.</p>
          <p>Avoid ‘teasing headlines’, puns or wordplay – these make your story hard for people to find. Use the words most people use for the situation. This helps your search ranking.</p>
          <p>Avoid print conventions / ‘journalese’ eg ‘Minister in youth homelessness bid’ (‘bid’ is used in print where headline space is in short supply).</p>
          <p>Think about what happens in Little Red Riding Hood, then think what the headline should be:</p>
          <p>Good example: ‘Granny in near-death wolf escape’</p>
          <p>Bad example: ‘Girl goes into forest, encounters problems’</p>
          <h3 id="news-stories-summary">Summary</h3>
          <p>Get across the main point of the story, expanding on what you’ve said in the title. Use up to 140 characters including spaces: this is all people searching Google see in the page summary. The summary is also the first sentence of the story, so it should make sense when read continuously with the rest of the page. End with a full stop.</p>
          <h3 id="news-stories-body-copy">Body copy</h3>
          <p>Don’t repeat the summary. Aim to tell the story in 1 or 2 sentences, eg who, what, where, when, why. Don’t include more than 2 consecutive sentences of quotes.</p>
          <p>Break up long news stories with subheadings. But remember that subheadings add to the text, they’re not part of it: the text should still make sense with the subheadings removed.</p>
          <p>Here's how to write effective body copy:</p>
          <ul>
            <li>the first paragraph of body copy should lead on from the introduction paragraph – it should not repeat the information</li>
            <li>use the 'inverted pyramid' approach with the most important information at the top tapering down to lesser detail</li>
            <li>paragraphs should have no more than 5 sentences each</li>
            <li>ensure copy includes keywords to boost natural search rankings</li>
            <li>use video and images</li>
          </ul>
        </section>
        <section aria-labelledby="press-releases-heading">
          <h1 id="press-releases-heading">Press releases</h1>
          <p>Use to provide a record of press releases in unedited form (ie as produced by the organisation’s press team and sent to the media).</p>
          <p>Also use for official statements by an organisation spokesperson or minister (unless it’s a Parliamentary statement – in which case use the ‘Statement [to Parliament]’ format).</p>
          <h3 id="press-releases-title">Title</h3>
          <p>Summarise the main point of the story.</p>
          <p>Avoid starting titles with ‘Statement on ...’ or something similar: it just takes up space without communicating anything useful to the user, and makes it more difficult to tell one press release from another.</p>
          <p>Don’t put ‘press release’ or the name of the person making the statement in the title: this information will appear on the page automatically.</p>
          <p>A good example:<br />
          Mums and dads to share parental leave</p>
          <h3 id="press-releases-summary">Summary</h3>
          <p>Summarise the main point of the story (in slightly longer form than in the title).</p>
          <p>The summary also acts as the first sentence of the story, so it should make sense when read continuously with the rest of the page.</p>
          <p>Good example:<br />
          New arrangements for maternity leave and paternity leave mean that parents will be able to choose how they share care responsibilities.</p>
          <h3 id="press-releases-body-text">Body text</h3>
          <p>Don’t repeat the summary</p>
          <p>Break up long press releases with subheadings. But remember that subheadings are an addition to the text, not part of it. The text should still make sense with the subheadings removed.</p>
          <p>If you need to add notes at the end, a subheading like ‘Background’ is better than ‘Notes to editors’ or similar.</p>
        </section>
      </article>
    </li>
  </ol>
</div>
