<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <section aria-labelledby="organisation-heading">
          <h1 id="organisation-heading">Organisation homepage</h1>
          <h2 id="organisation-about-us">About us</h2>
          <p>Lead with ‘We’ - it will be very obvious who the ‘we’ is on this page.</p>
          <p>Aim for 30 words and give a broad overview of your department’s work. You may want to highlight areas that users might not assume are within your remit.</p>
          <p>Make sure you use <a href="/design-principles/style-guide#writing-plain-english">plain English</a> throughout.</p>
          <p>Please note that the 'what we do' section is automatically pulled through from the content in the 'description' field in the back end. Writing 'what we do' information again will give you 2 'what we do' sections</p>
          <h2 id="organisation-responsibilities">Responsibilities</h2>
          <p>Lead with ‘We are responsible for’ and then a short, bulleted list of your responsibilities. Keep them active, clear and not too detailed - you can cover more detail in the content on your policies.</p>
          <p>Maximum of 7 bullets. </p>
          <h2 id="organisation-priorities">Priorities</h2>
          <p>Lead with: ‘From 2013 to 2014, our priorities will be..’ Make sure you keep this information, and the years referred to, up to date.</p>
          <p>It would be best if you took your main priorities based in your business plan - these are normally specific, clear and succinct.</p>
          <p>Maximum of 7 bullets.</p>
          <h2 id="organisation-who-we-are">Who we are</h2>
          <p>A few lines about the number of staff you employ and where they are based.</p>

          <h2 id="organisation-top-tasks">‘Top tasks’ links</h2>
          <p>These are the links at the top right of the home page. They’re meant to help users who have arrived at your home page looking for a service that’s closely associated with your organisation, but is actually covered on the services and information part of GOV.UK.</p>
          <p>These links are optional: only keep them if there’s evidence that users are clicking on them. As a guide, each top task link should be followed by no fewer than 2% of total visitors to your homepage (measured in total unique pageviews).</p>
          <p>Links should point either to GOV.UK services and information (mainstream) content, or information or tools on domains outside GOV.UK. The text of the link must be as specific and active as possible, and not overlap with titles used for ‘corporate’ content types.</p>
          <p>Don’t include anything that’s already covered by a link on the organisation home page (eg contact details, lists of announcements or publications, blogs or social media channels).</p>
          <p>Don’t include microsites or campaign sites unless there’s evidence of significant user demand.</p>
          <h2 id="organisation-feature-slots">Feature slots</h2>
          <p>Don’t feel that you have to use all the feature slots: the fewer content items you feature, the more they stand out. Remember that anything you feature needs to have an image.</p>
          <h2 id="organisation-contact">Contact details</h2>
          <p>Include a point of contact for general enquiries and a point of contact for freedom of information (FOI) requests. Additional contact details are optional.</p>
        </section>
      </article>
    </li>
  </ol>
</div>
