<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <section aria-labelledby="people-heading">
          <h1 id="people-heading">People and roles</h1>
          <p>Use these pages to let people know who is responsible for running the organisation at the highest level.</p>
          <p>Create GOV.UK profiles for:</p>
          <ul>
            <li>ministers</li>
            <li>the organisation’s most senior official (ie the permanent secretary or chief executive)</li>
            <li>the organisation’s top tier of management (usually directors general)</li>
            <li>senior officials with a public leadership role (eg Chief Scientist, Chief Medical Officer, military chiefs, ambassadors, high commissioners)</li>
          </ul>
          <p>Don’t create ‘People’ pages for anyone else.</p>
          <h2 id="people-biography">Biography</h2>
          <p>Keep it short. One or two short paragraphs (one or two sentences each) or a single lead sentence with 5 bullets or fewer will do. If it’s a long career, just provide the highlights.</p>
          <p>The first paragraph should cover:</p>
          <ul>
            <li>the person’s full name (without title and letters, as it will appear directly above the text)</li>
            <li>their current job title, and when they were appointed</li>
          </ul>
          <p>In the second paragraph, provide a little information about the person’s background. You can either:</p>
          <ul>
            <li>list up to 5 previous roles as bullet points, with the most recent at the top (if it’s long career, just provide the highlights)</li>
            <li>say something more general about the types of role they’ve had in the past</li>
          </ul>
          <p>At first mention use the full name. After that, use the first name. So ‘Philip Rutnam’ at first mention, then ‘Philip’ after that.</p>
          <p>Don’t include information about their personal life, eg marital status, children, hobbies etc.</p>
          <p>Don’t use headings or subheadings.</p>
          <h2 id="people-choosing-a-role">Choosing a role</h2>
          <p>Currently we can give people these roles:</p>
          <ul>
            <li>permanent secretary </li>
            <li>board member</li>
            <li>Chief of the Defence Staff or Chief of Staff (for members of the armed forces)</li>
          </ul>
          <p>If you think GOV.UK needs a new role type, <a href="[https://support.production.alphagov.co.uk/](https://support.production.alphagov.co.uk/)">let us know</a>.</p>
          <h2 id="people-management-biographies">Management biographies</h2>
          <p>Use a maximum of 3 sentences to explain what the manager is doing and 5 bullets on career highlights.</p>
          <h2 id="people-ministerial-biographies">Ministerial biographies</h2>
          <p>Remember to:</p>
          <ul>
            <li>keep it short; half a page is plenty for a bio</li>
            <li>lead with: '[name] was appointed [title] in [date]. [He/she] is the [party] MP for [constituency]'</li>
            <li>first name terms: The Rt Hon Nick Clegg MP at the top of the page, then use Nick Clegg at first mention, then Nick</li>
            <li>a Lord or Baroness will always use their title and surname eg Baroness Warsi</li>
            <li>education: avoid 'read'; use 'studied'</li>
            <li>political career: a few sentences of career highlights in chronological order; if this is long, use bullet points, with an introductory sentence</li>
            <li>career outside politics: if none, use 'Political career'</li>
            <li>personal life: don't include children's names and/or delete this section if you don't need it</li>
          </ul>
          <p>Note: when talking about ministers who have previously held a role, use their first name and surname.</p>

          <h2 id="people-describe-roles">Writing copy to describe a role</h2>
          <p>Give a brief description of the role: no more than 5 bullet points.</p>
          <p>Don’t use headings or subheadings.</p>
          <p>Be specific when listing responsibilities. For example, don’t use:</p>
          <p>The minister is responsible for:</p>
          <ul>
            <li>drugs</li>
            <li>alcohol</li>
          </ul>
          <p>Instead, use:</p>
          <p>The minister is responsible for:</p>
          <ul>
            <li>reducing drug misuse</li>
            <li>reducing harmful drinking</li>
          </ul>
          <p>Good example:</p>
          <p><%= image_tag "bio-example.png", :alt => "example of a peron's biography", :title => "example of a person's biography" %></p>
        </section>
      </article>
    </li>
  </ol>
</div>
