<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <h1>Policy pages</h1>
        <p>A policy is how the government plans to achieve a specific outcome.</p>
        <p>Policies on GOV.UK have 4 parts:</p>
        <ul>
          <li>a title</li>
          <li>a cover sheet</li>
          <li>latest tab (this is generated automatically)</li>
          <li>supporting detail pages</li>
        </ul>
        <h3 class="heading-level-3">Titles</h3>
        <p>Policy titles should express the specific outcome the government wants. They should be:</p>
        <ul>
          <li>clear</li>
          <li>succinct</li>
          <li>specific enough to allow someone to measure progress and achievement</li>
          <li>jargon-free</li>
          <li>active: eg 'increasing x', 'reducing y', 'preventing z', 'protecting x from y'</li>
          <li>related to an outcome</li>
        </ul>
        <p>Use words the wider audience would use. Don't use 'The x report' unless that search term is higher than the explanation of what 'The x report' says.</p>
        <p>Good examples:</p>
        <ul>
          <li>Expanding and improving the rail network</li>
          <li>Making roads safer</li>
          <li>Increasing the number of successful small businesses</li>
        </ul>
        <p>Bad examples:</p>
        <ul>
          <li>Charter for business</li>
          <li>Tackling climate change</li>
        </ul>
        <h3 class="heading-level-3">Issue (mandatory)</h3>
        <p>This should answer the question 'why does the government have this policy?'</p>
        <p>Give a short, clear and specific description of the problem or opportunity and a brief explanation of what the government is going to do or is doing about it.</p>
        <p>This section isn't:</p>
        <ul>
          <li>about the history</li>
          <li>what led to the policy being implemented</li>
          <li>the government's actions or intended actions</li>
        </ul>
        <p>Example:</p>
        <p>The public sector – including central government, local councils and devolved administrations – accounts for around 3% of the UK's carbon emissions. In England alone, the government spends £2.5 billion on energy for buildings and £1.2 billion on owned-vehicle fuel.</p>
        <p>Improving energy efficiency in the public sector will result in a better use of taxpayers' money and help the UK meet existing climate change agreements.</p>
        <h3 class="heading-level-3">Actions (mandatory)</h3>
        <p>This section details what the government is doing about the issue or to achieve the outcome in the policy title.</p>
        <p>Actions should be specific, measurable and time-bound.</p>
        <p>Summarise briefly what government is doing now and what it will do next – 1 short paragraph or bullet point for each action with links to supporting detail pages where relevant.</p>
        <p>Past actions go into the background section. If an action was taken in the past but the effects are still being felt (eg the benefits of successfully lobbying the EU), then it is still current. If an action was taken, and then replaced by related and further action, policy, etc, then it's background.</p>
        <p>Example:</p>
        <p>To increase our energy efficiency, by 2015 the government will:</p>
        <ul>
          <li>reduce greenhouse gas emissions by 25% from the whole estate and business-related transport, by introducing x scheme</li>
          <li>make sure the goods, services and suppliers it chooses are energy efficient</li>
        </ul>
        <h3 class="heading-level-3">Background (mandatory)</h3>
        <p>This section should explain how this policy and set of actions came about. Provide essential information for understanding the context of the policy, issue and actions.</p>
        <p>This isn't a dumping ground for information that doesn't fit the other headings, nor a history of everything, but a clear indication of how the policy got to where it is.</p>
        <p>Example:</p>
        <p>We announced our intention to do x as part of the coalition agreement.</p>
        <p>We commissioned research into y in 2010. This showed that that the most cost-effective and useful action we could take would be to do z.</p>
        <p>We consulted experts at an event in 2011 and worked with a and b to develop our action plan.</p>
        <h3 class="heading-level-3">Who we're consulting or who we've consulted (optional and depending on time)</h3>
        <p>Explain who has been or will be consulted or involved in the policy, and in what way.</p>
        <p>List any consultations – formal or informal. Give some detail about what is being done and by whom. Don't just add a list of links.</p>
        <p>Example:</p>
        <p>The government ran a consultation on 'Breaking the cycle: effective punishment, rehabilitation and sentencing of offenders'. This set out our proposals for effectively punishing and rehabilitating offenders and reforming sentencing. Following that consultation, we revised our plans to x and y.</p>
        <h3 class="heading-level-3">Impact (optional)</h3>
        <p>List (and link inline to) any impact assessment publications.</p>
        <p>Briefly summarise the main points arising from the impact assessments.</p>
        <h3 class="heading-level-3">Bills and legislation (optional)</h3>
        <p>Give summary details of relevant legislation to explain the legal context for the policy and if the policy will mean changes to the law.</p>
        <p>Write full sentences, not just a list of related laws, and add links where relevant.</p>
        <h3 class="heading-level-3">Who we're working with (optional)</h3>
        <p>List the organisations that have a major involvement, and what work is being done by them or with them.</p>
        <p>Write full sentences, don't just list the organisations.</p>
        <h3 class="heading-level-3">Detail pages (optional)</h3>
        <p>These pages are for users who want to know more about the actions listed on the cover sheet. So have 1 detail page for each action.</p>
        <p>They should provide supporting detail about the issue and actions.</p>
        <p>For example, if the actions include a programme costing £x and running for 6 months, the detail page should provide further information about who is involved, what they are spending the money on and how.</p>
        <p>These pages must not be used as a dumping ground for material that doesn't fit under other headings.</p>
        <p>If appropriate, include a supplementary detail page called 'evidence' or 'research'. This can be used to present the most important research and statistics relating to the policy.</p>
      </article>
    </li>
  </ol>
</div>
