<% content_for :title do %>GOV.UK – Style guide – Publications<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <section aria-labelledby="publications-heading">
          <h1 id="publications-heading">Publications</h1>
          <p>Publication pages should be short and straightforward. They are only there to help the user find the publication that matches their needs as quickly as possible.</p>
          <p>Users need to know whether they should open the document and if the information within meets their needs.</p>
          <p>Think about:</p>
          <ul>
            <li>search and SEO (ie include relevant keywords and phrases that users are searching for): this GDS guidance shows you how to identify relevant keywords</li>
            <li>providing clear, concise information about what a publication is (so users can tell at a glance whether it will tell them what they need to know)</li>
            <li>context (government often publishes lots of documents which look superficially similar – how will you help the user to find the right one?)</li>
          </ul>
          <p>Don't:</p>
          <ul>
            <li>summarise what the document says (you're just repeating what's in the document)</li>
            <li>include general information about the topic covered by the publication (this isn't the place for it)</li>
          </ul>
          <p>Publications are standalone government documents. They are date-stamped and usually not updated once published. Don't use publications when you should be adding an attachment to another content format; meeting minutes and agendas should be attachments, for example.</p>
          <p>Use for government documents: white papers, strategy documents, reports and so on.</p>
          <p>Don’t use for meeting minutes (these should be attached directly to the relevant policy advisory group or governance page).</p>
          <p>Don’t use for videos (these should be embedded directly in the content they relate to – usually a news story or press release).</p>
          <h2 id="publications-types">Publication types</h2>
          <p>Look at the purpose of the document rather than the format. For example – classifying a publication as ‘guidance’ is generally more helpful to users than telling them that the guidance happens to be in the form of a letter.</p>
          <h3 id="publications-policy-paper">Policy paper</h3>
          <p>Use for publications about government policy. Includes white papers, strategies, operational plans, action plans and implementation plans.</p>
          <p>Don’t use for consultations, research reports,  impact assessments or internal ‘policies’.</p>
          <h3 id="publications-guidance">Guidance</h3>
          <p>Use for publications telling someone what to do or how to do something. Includes manuals, handbooks and statutory guidance documents.</p>
          <h3 id="publications-research">Research and analysis</h3>
          <p>Use for research reports, surveys, analyses and evaluations.</p>
          <h3 id="publications-independent-reports">Independent report</h3>
          <p>Use for reports commissioned by government but written by non-government organisations, including independent enquiries, investigations and reviews.</p>
          <h3 id="publications-corporate-reports">Corporate report</h3>
          <p>Use for publications that are about what the organisation <strong>is</strong>, as a corporate entity: annual reports, business plans, accounts, structural reform plans, performance and efficiency reviews.</p>
          <p>Don’t use for publications that are about what the organisation <strong>does – </strong>for example, a strategy document showing how the organisation plans to meet its policy objectives would probably be a policy paper.</p>
          <h3 id="publications-form">Form</h3>
          <p>Use for forms and pro forma documents.</p>
          <p>If there’s a guidance document that goes with the form, upload it to the same page as a supporting document (the content type should still be ‘Form’ rather than ‘Guidance’ because people will be coming to the page to download the form – the guidance is secondary). </p>
          <h3 id="publications-impact-assessment">Impact assessment</h3>
          <p>Use for documents that assess the impact of new initiatives or changes to legislation: impact assessments, equality impact assessments and equality impact analyses. Avoid creating a new page for them, if possible – add them as a supporting documents to the ‘parent’ publication, where there is one).</p>
          <h3 id="publications-statistics">Statistics</h3>
          <p>Statistics publications are only for official statistics governed by the UK Statistics Authority.</p>
          <p>Find out <a href="http://alphagov.github.io/inside-government-admin-guide/creating-documents/statistics-publications.html">how to publish statistics</a> on GOV.UK.</p>
          <h3 id="publications-titles">Titles</h3>
          <p>Titles don't have to reflect the official publication title. Keep them short and search- and user-friendly.</p>
          <p>Front-load all titles – get all the most important words at the front of the sentence.</p>
          <p>Good example: 'Income Tax reform: impact assessment'</p>
          <p>Bad example: 'An assessment of the impact of proposed reforms to Income Tax'</p>
          <p>You can mention the report title etc in the summary or page copy if you think users will search for that term.</p>
          <p>Good example: 'Improving government online services'</p>
          <p>Bad example: 'The Varney report'</p>
          <p>For transparency titles:</p>
          <p>'DfT special advisers: gifts and hospitality received, 13 May to 31 July 2010'</p>
          <p>Note: use acronyms, colons and truncated dates.</p>
          <h3 id="publications-summary">Summary</h3>
          <p>Statistics announcements are only for official statistics governed by the UK Statistics Authority.</p>
          <p>Give a short, 140-character summary and end with a full stop.</p>
          <h3 id="publications-body-text">Body text</h3>
          <p>The body of a publication page is used to provide a summary of the publication in plain, neutral language – to reassure the user that it is (or isn't) what they're looking for. Include what the publication is about and its purpose. Publications often outlive governments so keep the language politically neutral.</p>
          <p>Include links to related publications but use collections to group them if more than a few.</p>
          <p>Good example:</p>
          <p>'These reports describe the effect of government proposals to reduce the amount of money spent on legal aid. The aim of the reforms is to make sure legal aid is still available for support and representation in cases where it is justified.'</p>
          <h3 id="publications-attachments">Attachments</h3>
          <p>Use the official title of the document.</p>
          <h2 id="publications-document-collections">Document collections</h2>
          <p>The name of each document collection should be concise, in plain English and have front-loaded keywords etc. Usual usability rules apply.</p>
          <p>Use the description field to:</p>
          <ul>
            <li>say what the collection covers</li>
            <li>give context</li>
            <li>outline which audience the information is for</li>
            <li>include keywords</li>
          </ul>
          
          <p>For more information about the mechanics of making a collection, see <a href=https://insidegovuk.blog.gov.uk/2013/11/04/how-to-make-a-collection/>this blog post</a>.</p>

          <h2 id="publications-statistics-release-announcements">Statistics release announcements</h2>
          <p>Statistics announcements are only for official statistics governed by the UK Statistics Authority.</p>
          <p>Find out <a href="http://alphagov.github.io/inside-government-admin-guide/creating-documents/statistics-announcements.html">how to publish statistics release announcements</a> on GOV.UK</p>

          <h2 id="publications-transparency-series">Transparency series</h2>
          <p>Unlike other series, series of transparency documents can and should include the acronym for the department – or the full name, where it is short (Home Office, for example).</p>
          <p>The titles should follow this pattern: 'Dept name/acronym: type of spending/information covered'.</p>
          <p>Examples:</p>
          <ul>
            <li>DfT: spend for transactions over £25,000</li>
            <li>BIS: contracts and tenders worth over £10,000</li>
            <li>DfE: special advisers' meetings</li>
          </ul>
          <p>The year/months covered can be included at the end of the series name, if necessary – although usually these series are broad, with the titles of the publications within them containing the more specific date information.</p>
        </section>
      </article>
    </li>
  </ol>
</div>
