<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <h1>Speeches</h1>
        <p>Use this content type to provide a direct record of what someone said.</p>
        <p>GOV.UK supports 3 types of speech:</p>
        <ul>
          <li>transcript (for verbatim reports of exactly what the speaker said – also known as 'checked against delivery')</li>
          <li>draft (for reports of what the speaker was supposed to say – also known as 'check against delivery')</li>
          <li>speaking notes (if it’s not a complete speech – eg it’s a summary of topics covered)</li>
        </ul>
        <p>Only publish speeches on GOV.UK if you expect a high level of public interest in everything that what was said – not just the main messages. Otherwise, it’s better to publish a ‘Press release’ or ‘Government response’ quoting selected highlights, along with some commentary and analysis.</p>
        <h3 class="heading-level-3">Title</h3>
        <p>Summarise the main point of the speech in the title. Go for something like the titles used for newspaper comment pieces.</p>
        <p>Don’t include the word ‘speech’ in the title (it’s added to the page automatically).</p>
        <p>Don’t include anything about the speaker, date, venue or audience in the title (the date and speaker appear on the page automatically: if it’s needed, put information about the venue or audience in the summary).</p>
        <p>Good example:<br />
        National security and civil liberties: getting the balance right.</p>
        <h3 class="heading-level-3">Summary</h3>
        <p>Give details of the occasion for the speech (including any terms that people are likely to be searching for).</p>
        <p>The summary must end with a full stop.</p>
        <p>Good example:<br />
        Speech given at the Living Streets supporters conference 2013. Originally given in London. This is a transcript of the speech, exactly as it was delivered.</p>
        <p>The second and third sentences are inserted into the summary automatically, based on what’s entered into the relevant fields in Publisher.</p>
      </article>
    </li>
  </ol>
</div>
