<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <section aria-labelledby="statements-heading">
          <h1 id="statements-heading">Statements [to Parliament]</h1>
          <p>Use this content type for very significant statements given to Parliament by a minister (written or oral).</p>
          <p>Don’t use it for statements made to the media (use the ‘Press release’ or ‘Government response’ content types for that sort of thing).</p>
          <p>There’s no need to publish statements to Parliament on GOV.UK as a matter of record (that’s what Hansard is for).</p>
          <p>Only publish them on GOV.UK as well if:</p>
          <ul>
            <li>you expect a high level of public interest in everything that what was said – not just the main messages</li>
            <li>they are necessary context for understanding how a policy is progressing </li>
          </ul>
          <p>Otherwise it’s better to publish a ‘Press release’ or ‘Government response’ quoting selected highlights, along with some commentary and analysis).</p>
          <h3 id="statements-title">Title</h3>
          <p>Don’t use the words ‘statement’ or Parliament’ in the title (the words ‘Oral statement to Parliament’ or ‘Written statement to Parliament’ will appear on the page automatically).</p>
          <p>Good example:<br/>
          Problems with Action Fraud IT system</p>
          <h3 id="statements-summary">Summary</h3>
          <p>Again – there’s no need to specify whether it’s a written or oral statement in the summary (this information appears on the page anyway), and no need to say that the statement was given to Parliament (that’s self-evident).</p>
          <p>The summary must end with a full stop.</p>
          <p>Good example:<br/>
          Statement on Action Fraud reports not processed correctly due to a fault in the IT system.</p>
        </section>
      </article>
    </li>
  </ol>
</div>
