<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <section aria-labelledby="style-heading">
          <h1 id="style-heading">Style points</h1>

          <h2 id="style-abbreviations">Abbreviations and acronyms</h2>
          <p>Spell out acronyms at first mention unless they’re well known, eg UK, DVLA, US, EU, VAT, MP etc. This includes government departments or schemes.</p>
          <p>If you think your acronym is well known, please provide evidence that 80% of the UK population will understand, and commonly use, the term.</p>
          <p>Evidence can be search analytics or testing of a representative sample.</p>
          <p>The first time you use an abbreviation or acronym, explain it in full on each page, and then refer to it by initials. For example – HM Revenue and Customs (HMRC). Don’t use an acronym if you’re not going to use it again later in the text.</p>
          <p>Don’t use full stops in abbreviations – BBC, not B.B.C.</p>
          
          <p>Quick reminder: Freedom of Information – you can make an FOI request but not a request under the FOI Act.</p>

          <h2 id="style-americanisms">Americanisms</h2>
          <p>Don’t use Americanisms. You ‘fill in’ a form, not ‘fill out’ a form.</p>
          <p>Exceptions include where it’s part of a specific name, eg ‘4th Mechanized Brigade’.</p>
          <p>Organise – not organize (this isn’t actually an Americanism but is often seen as such).</p>

          <h2 id="style-ampersand">Ampersand</h2>
          <p>Use ‘and’ rather than an ‘&amp;’, unless it's a department's logo image.</p>

          <h2 id="style-brackets">Brackets</h2>
          <p>Use (round brackets), not [square brackets]. The only acceptable use of square brackets is for explanatory notes in reported speech, eg a minister’s speech:</p>
          <quote>"Thank you [Foreign Minister] Mr Smith."</quote>

          <h2 id="style-bullets">Bullet points and steps</h2>
          <p>You can use bullet points to make text easier to read. Make sure that:</p>
          <ul>
            <li>you always use a lead-in line</li>
            <li>the bullets make sense running on from the lead-in line</li>
            <li>you use lower case at the start of the bullet</li>
            <li>you don’t use full stops within bullet points – where possible start another bullet point or use commas, dashes or semicolons to expand on an item</li>
            <li>you don’t put ‘or’, ‘and’ after the bullets</li>
            <li>if you add links they appear within the text and not as the whole bullet</li>
            <li>there is no full stop after the last bullet point</li>
          </ul>

          <h2 id="style-steps">Steps</h2>
          <ol>
            <li>Use steps to guide a user through a process.</li>
            <li>Use numbered steps, not bullets, for each line.</li>
            <li>You don't need a lead-in line.</li>
            <li>You can use links and downloads (with appropriate markdown) in steps.</li>
            <li>Each step ends in a full stop because each step should be a complete sentence.</li>
          </ol>

          <h2 id="style-capitalisation">Capitalisation</h2>
          <p>DON’T USE BLOCK CAPITALS FOR LARGE AMOUNTS OF TEXT AS IT’S QUITE HARD TO READ.</p>
          <p>Lower case is preferable but use capitalisation for:</p>
          <ul>
            <li>departments (specific government departments – see below)</li>
            <li>titles</li>
            <li>buildings</li>
            <li>place names</li>
            <li>brand names</li>
            <li>The Earth (ie our planet), Planet Earth and Earth sciences</li>
            <li>faculties, departments, institutes and schools</li>
            <li>job titles, ministers’ role titles eg Minister for Housing, Home Secretary</li>
            <li>names of groups, directorates and organisations eg Knowledge and Innovation Group</li>
            <li>Parliament, the House</li>
            <li>titles of specific acts or bills, eg Housing Reform Bill (but use ‘the act’ or ‘the bill’ after the first time you use the full act or bill title)</li>
            <li>names of specific, named government schemes known to people outside government eg Right to Buy, Queen’s Awards for Enterprise</li>
            <li>Rt Hon (note lack of full stops)</li>
            <li>specific select committees (eg Public Administration Select Committee)</li>
            <li>header cells in tables</li>
            <li>titles of publications (and within single quotes)</li>
            <li>World War 1 and World War 2 (note caps and numbers)</li>
          </ul>
          <p>Don’t capitalise:</p>
          <ul>
            <li>government – never Government, even when referring to an elected administration, (so not the Afghanistan Government) unless part of a specific name, eg Local Government Association</li>
            <li>civil service</li>
            <li>minister, never Minister, unless part of a specific job title, eg Minister for the Cabinet Office</li>
            <li>department or ministry – never Department or Ministry, unless referring to a specific one, eg Ministry of Justice</li>
            <li>white paper, green paper, command paper, House of Commons paper</li>
            <li>sections or schedules within specific named acts, regulations or orders</li>
            <li>director general (note no hyphen), deputy director, director, unless in a specific job title</li>
            <li>group and directorate, unless referring to a specific group or directorate, eg the Commercial Directorate</li>
            <li>departmental board, executive board, the board</li>
            <li>policy themes eg sustainable communities, promoting economic growth, local enterprise zones</li>
            <li>general mention of select committees (but do cap specific ones – see above)</li>
          </ul>

          <h2 id="style-capitals-government-departments">Capitals for government departments</h2>
          <p>Use the following conventions for government departments. A department using an ampersand in its logo image is fine but use ‘and’ when writing in full text.</p>
          <ul>
            <li>Attorney General’s Office (AGO)</li>
            <li>Cabinet Office (CO)</li>
            <li>Department for Business Innovation and Skills (BIS)</li>
            <li>Department for Communities and Local Government (DCLG)</li>
            <li>Department for Culture Media and Sport (DCMS)</li>
            <li>Department for Education (DfE)</li>
            <li>Department for Environment Food and Rural Affairs (Defra)</li>
            <li>Department for International Development (DFID)</li>
            <li>Department for Transport (DfT)</li>
            <li>Department for Work and Pensions (DWP)</li>
            <li>Department of Energy and Climate Change (DECC)</li>
            <li>Department of Health (DH)</li>
            <li>Foreign and Commonwealth Office (FCO)</li>
            <li>HM Treasury (HMT)</li>
            <li>Home Office (HO)</li>
            <li>Ministry of Defence (MOD)</li>
            <li>Ministry of Justice (MOJ)</li>
          </ul>

          <h2 id="style-dates-and-times">Dates and times</h2>
          <p>We use ‘to‘ in date and time ranges – not hyphens, en rules or em dashes. For example:</p>
          <ul>
            <li>tax year 2011 to 2012</li>
            <li>Monday to Friday, 9am to 5pm (put different days on a new line, don’t separate with a comma etc)</li>
            <li>10 November to 21 December</li>
            <li>don't use a comma between the month and year, eg 14 June 2012</li>
            <li>when space is an issue, eg tables, publication titles etc, you can use truncated months, eg Jan, Feb, Mar, Aug, Sept, Oct, Nov, Dec</li>
            <li>5:30pm (not 1730hrs)</li>
            <li>midnight, not 00:00</li>
            <li>midday, not 12 noon, noon or 12pm</li>
            <li>10am to 11am (not 10–11am)</li>
            <li>don’t use ‘quarter’ for dates; use the months, for example: ‘[dept] expenses, Jan to Mar 2013’</li>
          </ul>
          <p>When referring to ‘today’ (eg in a news article) make sure you include the date as well. For example: ‘The minister announced today (14 June 2012) that…’</p>
          

          <h2>Eg, etc, and ie</h2>
          <p>Don’t use full stops after or between these notations.</p>
          <p>If you want to use the long form (‘for example’ instead of ‘eg’, ‘specifically’ instead of ‘ie’ etc) then this is at the content designer’s discretion. User testing has shown that some people are not familiar with abbreviations such as eg, so consider your audience before abbreviating.</p>

          <h2 id="style-emails">Email addresses</h2>
          <p>Write email addresses in full, in lower case and as active links. Don’t include any other words as part of the link.</p>

          <h2 id="style-geography">Geography and regions</h2>
          <p>Compass directions are all in lower case: the north, the south of England, the south-west, north-east Scotland, south Wales.</p>
          <p>The same applies to wider regions: the west, western Europe, the far east, south-east Asia.</p>
          <p>Note the following: East End, West End (London), Middle East, Central America, North America, South America, Latin America.</p>
          <p>Always write out the full name of the area the first time you use it. You can use a capital for a shortened version of a specific area or region if it’s commonly known by that name, eg ‘the Pole’ for the North Pole.</p>

          <h2 id="style-great-britain">Great Britain</h2>
          <p>Refers only to England, Scotland and Wales excluding Northern Ireland.</p>
          <p>If you're telling users about multiple areas, use: ‘England, Scotland and Wales’.</p>

          <h2 id="style-britain">Britain</h2>
          <p>Use UK and United Kingdom in preference to Britain and British (UK business, UK foreign policy, ambassador and high commissioner). Note: British embassy, not UK embassy.</p>

          <h2 id="style-hyphenation">Hyphenation</h2>
          <p>Hyphenate:</p>
          <ul>
            <li>‘re-‘ words starting with ‘e’, eg re-evaluate</li>
            <li>co-ordinate</li>
            <li>co-operate</li>
          </ul>
          <p>Don’t hyphenate:</p>
          <ul>
            <li>reuse</li>
            <li>reinvent</li>
            <li>reorder</li>
            <li>reopen</li>
            <li>email</li>
          </ul>
          <p>If in doubt, don’t use a hyphen unless it’s confusing without it and check the Oxford English Dictionary for Writers and Editors.</p>

          <h2 id="style-italics">Italics</h2>
          <p>Don’t use italics. Use ‘single quotation marks’ if referring to a document, scheme or initiative.</p>

          <h2 id="style-legal">Legal language</h2>
          <p>If you’re talking about a legal requirement, use ‘must’. For example, ‘your employer must pay you the National Minimum Wage (NMW)’.</p>
          <p>If you feel that ‘must’ doesn’t have enough emphasis, then use ‘legal requirement’, ‘legally entitled’ etc. For example: ‘Once your child is registered at school, you're legally responsible for making sure they attend regularly’.</p>
          <p>When deciding whether to use ‘must’ or ‘legally entitled’ etc, consider how important it is for us to talk about the legal aspect, as well as the overall tone of voice.</p>
          <p>If a requirement is legal, but administrative, or part of a process that won’t have criminal repercussions, then use: ‘need to’. For example: ‘You will need to provide copies of your marriage certificate’.</p>
          <p>This may be a legal requirement, but not completing it would just stop the person from moving on to the next stage of a process, rather than committing a more serious offence.</p>

          <h2 id="style-links">Links</h2>
          <p>Front-load your link text with the relevant terms and make them active and specific. Always link to online services first. Offer offline alternatives afterwards (where possible).</p>

          <h2 id="style-measurements">Measurements</h2>
          <p>Use numerals and spell out measurements at first mention.</p>
          <p>Abbreviating kilograms to kg is fine – you don’t need to spell it out.</p>
          <p>If the measurement is more than 1 word, eg ‘kilometres per hour’ then spell it out the first time it is used with the abbreviation. From then on, abbreviate. If it is only mentioned once, don’t abbreviate.</p>
          <p>Use Celsius for temperature, eg 37°C.</p>

          <h2 id="style-numbers">Numbers</h2>
          <p>Write all numbers in numerals (including 1 to 9) except where it’s part of a common expression and it would look strange, eg ‘one or two of them’. Use common sense.</p>
          <p>‘One of the 13 words in this sentence is causing problems: this 1.’</p>
          <p>This sentence would be better with ‘one’ as the final word.</p>
          <p>If a number starts a sentence, write it out in full (‘Thirty-four hula-hoops found in researcher’s filing cupboard’) except where it starts a title or subheading.</p>
          <p>For numerals over 999 – insert a comma for clarity. ‘It was over 9,000’. Spell out common fractions, such as one-half, but use a % sign for percentages, ie 50%.</p>
          <p>Use ‘500 to 900’ and not ‘500–900’ (except in tables).</p>
          <p>Use MB not KB for anything over 1MB, eg 4MB not 4096KB . For under 1MB, use KB, eg 569KB not 0.55MB.</p>
          <p>Keep it as accurate as possible and up to 2 decimal places. For example: 4.03MB.</p>
          <p>Addresses: use ‘to’ in address ranges, for example: 49 to 53 Cherry Street.</p>

          <h2 id="style-millions">Millions</h2>
          <p>Always use million in money (and billion), eg £138 million. Use millions in phrases, eg ‘millions of people’.</p>

          <h2 id="style-ordinals">Ordinal numbers</h2>
          <p>Spell out first to ninth. After that use 10th, etc.</p>
          <p>In tables, use numerals throughout.</p>

          <h2 id="style-money">Money</h2>
          <p>Use the £ symbol – £75</p>
          <p>Don’t use decimals unless pence are included – for example use: £75.50 but not £75.00.</p>
          <p>Don’t use ‘£0.xx million’ for amounts less than £1 million.</p>
          <p>Write out ‘pence’ in full – ‘calls will cost 4 pence per minute from a landline’.</p>

          <h2 id="style-organisations">Organisations</h2>
          <p>All organisations are singular, for example: ‘the government has decided to sell assets’.</p>
          <p>DThe definite article can be used when referring to the organisation by its full name, but shouldn't be used with the organisation's acronym. For example: 'You should contact the Driving Standards Agency if...' but 'You should contact DSA if...' </p>
          <p>Use ‘local council’, instead of ‘local authority’ where possible.</p>

          <h2 id="style-quote-marks">Quotes and speech marks</h2>
          <p>In long passages of speech, open quotes for every new paragraph, but close quotes only at the end of the final paragraph.</p>

          <h2 id="style-single-quotes">Single quotes</h2>
          <p>Use single quotes:</p>
          <ul>
            <li>in headlines</li>
            <li>for unusual terms</li>
            <li>when referring to words or publications, for example: ‘Download the publication ‘Understanding Capital Gains Tax’ (PDF, 360KB)’</li>
          </ul>

          <h2 id="style-double-quotes">Double quotes</h2>
          <p>Use double quotes in body text for direct quotations.</p>

          <h2 id="style-block-quotes">Block quotes</h2>
          <p>Use the block quote markdown for quotes longer than a few sentences.</p>

          <h2 id="style-contractions">Contractions</h2>
          <p>Use contractions eg ‘they’ve’, ‘we’ll’. Avoid using ‘should’ve’, ‘could’ve’, ‘would’ve’ etc – these are hard to read.</p>

          <h2 id="style-spaces">Spaces</h2>
          <p>Use only 1 space after a full stop, not 2.</p>

          <h2 id="style-phone-numbers">Telephone numbers</h2>
          <p>Use ‘Telephone: 011 111 111’ or ‘Mobile:’ not ‘Mob:’.</p>
          <p>Use spaces between city and local exchange etc. Here are the different formats to use:</p>
          <ul>
            <li>01273 800 900</li>
            <li>020 7450 4000</li>
            <li>0800 890 567</li>
            <li>07771 900 900</li>
            <li>077718 300 300</li>
            <li>+44 (0)20 7450 4000</li>
            <li>+39 1 33 45 70 90</li>
          </ul>
          <p>When a number is memorable, group the numbers into easily remembered units, eg 0800 80 70 60.</p>

          <h2 id="style-titles">Titles</h2>
          <p>Remember all the search engine optimisation points and use colons to introduce the sub-clause.</p>
          <p>Good example:<br/>
          ‘Income Tax reform: impact assessment’</p>
          <p>Bad example:<br/>
          ‘An assessment of the impact of proposed reforms to Income Tax’</p>

          <h2 id="style-transactions">Transactions and services</h2>
          <p>These are pre-transaction pages. Use SEO to define the title, so if people search for ‘registry office’, put that in the summary or body text and then explain the proper term is ‘register office’.</p>
          <p>Give one sentence of what the user can expect from the service – this will appear before the button.</p>
          <p>‘What you need to know’ section:<br/>
          This is where you put information that the user will need to complete the transaction and information about how long it takes, how much there will be to pay etc.</p>
          <p>You can add alternatives to the online transaction at the bottom of the page.</p>
          <p>For more information on writing for transactions, have a look at the <a href="https://www.gov.uk/service-manual/design-and-content/resources/writing-for-transactions.html">GDS Service Design Manual</a>.</p>
        </section>
      </article>
    </li>
  </ol>

</div>
