<% content_for :title do %>GOV.UK – Style guide – What's new<% end %>

<div id="wrapper" class="design-principles styleguide">
  <header>
    <h1>Government Digital Service <strong>Content principles</strong></h1>
    <p>This style guide is part of the <a href="/design-principles">Design Principles</a> document.</p>
  </header>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="accessible-pdfs">
    <li class="principle">
      <article>
        <section aria-labelledby="whats-new-heading">
          <h1 id="whats-new-heading">What's new?</h1>
          <p>You'll find information about style updates on this page.</p>

          <% @changes.each do |change| %>
            <h2>Changes for <%= change.updated_at.strftime('%e %B %Y') %></h2>
            <%= change.content.html_safe %>
          <% end %>
        </section>
      </article>
    </li>
  </ol>
</div>
