<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">

    <li class="principle">
      <article>
        <section aria-labelledby="writing-heading">
          <h1 id="writing-heading">Writing for the web</h1>
          <p>Anyone can put information online, but writing well for the web is very different. Look at popular information sites like the BBC, The Guardian, Oxfam or Lonely Planet. You'll see their content is easy to read and understand.</p>
          <p>They use:<p>
          <ul>
            <li>short sentences</li>
            <li>subheaded sections</li>
            <li>simple vocabulary</li>
          </ul>
          <p>This helps users find what they need quickly and absorb it effortlessly.</p>
          <p>But most of all, look at GOV.UK. We're not a media outlet, charity or travel site. We provide information, pure and simple.</p>

          <h2 id="web-writing-user-need">User need</h2>
          <p>The  process of finding and absorbing information on the web should follow these steps:<p>
          <ol>
            <li>I have a question.</li>
            <li>I can find the page with the answer easily – I can see it’s the right page from the search results listing.</li>
            <li>I have understood the information.</li>
            <li>I have my answer.</li>
            <li>I trust the information.</li>
            <li>I know what to do next/my fears are allayed/I don’t need anything else.</li>
          </ol>
          <p>A site only works if users can find what they need quickly, complete their task and leave without having to think about it too much.</p>

          <h2 id="web-writing-user-wants">What the user wants matters most</h2>
          <p>Users don't usually read text unless they want information. When you write for the web, start with the same question every time: what does the user want to know?</p>
          <p>Meeting that need means being:</p>
          <ul>
            <li>specific</li>
            <li>informative</li>
            <li>clear and to the point</li>
          </ul>

          <h2 id="web-writing-where-to-publish">Where to publish</h2>
          <p>You have a website, so you publish everything there. Right?</p>
          <p>Not necessarily.</p>
          <p>Think about where your users go. Do they visit blogs, forums, partner sites or social media? Why not talk to them there too? If all you do is publish on your site, you’re always working to get users to visit it.</p>

          <h2 id="web-writing-know-your-audience">Know your audience</h2>
          <p>This is a traditional ‘rule’: you can’t write effectively unless you know who you’re writing for.</p>
          <p>It’s true most of the time.</p>
          <p>If you have a specific audience in mind, knowing how they behave can mean the difference between success and complete failure.</p>
          <p>You definitely need to know the vocabulary of your users. That’s the one golden rule. If you don’t use the same terms and phrases as them, they may never find your content. You’ve failed.</p>
          <p>But what if you don’t have a specific audience? What if your message could be for anyone? Isn’t that what the web is about?</p>
          <p>Yes, it is. Whoever your main users are, you need to make your writing as easy to read as possible, so it’s accessible to all. After all, why settle for one audience, when you could speak to everyone?</p>
          <p>Can you really write in a way that engages anyone and everyone? The good news is you can.</p>

          <h2 id="web-writing-pull-content">Don't 'push' content at users, let them 'pull' it</h2>
          <p>Traditionally, sites have published lots of information without thinking about the users, 'pushing' content at them.</p>
          <p>Content that works is information that users want and search for, 'pulling' it towards them.</p>

          <h2 id="web-writing-how-users-read">How users read</h2>
          <p>Knowing how users read means you'll write in a way they can understand easily and quickly.</p>
          <p>By the time the average child is 9 years old, they can skip up to 30% of words on a page and still accurately predict the text. That's not just reading online. If there's enough context, the mind fills in the gaps. You don't need to read every word to understand what is written.</p>
          <p>Also, online, users don't read in the traditional way. They don't necessarily read top to bottom or even from word to word.</p>

          <h2 id="web-writing-front-loading">Front-loadings</h2>
          <p>Web-user eye-tracking studies show that people tend to ‘read’ a webpage in an <a href="http://www.nngroup.com/articles/f-shaped-pattern-reading-web-content/">‘F’ shape pattern</a>. They look across the top, then down the side, reading further across when they find what they need.</p>
          <p>So ‘front-load’ sub-headings, titles and bullet points. What this means is: put the the most important information first.</p>
          <p>For example, say ‘Canteen menu’, not ‘What’s on the menu at the canteen today?’</p>
          <p>Make sure your bullet points are all in the same tense and verb form, with any common information in the preceding sentence.</p>
          <p>Good example:<br/>
          At the activity centre you can:</p>
          <ul>
            <li>swim</li>
            <li>play</li>
            <li>run</li>
          </ul>

          <p>Bad example:<br/>
          At the activity centre:</p>
          <ul>
            <li>you can swim</li>
            <li>you can play</li>
            <li>you can run</li>
          </ul>

          <h2 id="web-writing-common-words">Common words</h2>
          <p>By the time a child is 5 or 6 years old, they'll use 2,500 to 5,000 common words. Even as adults, we find these words easier to recognise and understand.</p>
          <p>When you use a longer word (8 or 9 letters), users are more likely to skip shorter words that follow it, words of 3, 4 or 5 letters. So if you use longer, more complicated words, readers will skip more. Keep it simple.</p>
          <p>Look at this sentence:
            <quote>"The recently implemented categorical standardisation procedure on waste oil should not be applied before 1 January 2014."</quote>
            It’s just an example, but you can imagine people missing that ‘not’. This is a big deal.
          </p>
          <p>How about:</p>
          <p>"Do not use the new waste oil standards before 1 January 2014."</p>
          <p>Focus on the child’s common word set of up to 5,000 words. This makes it easier to read and understand information quickly.</p>

          <h2 id="web-writing-start">Start writing</h2>
          <p>So now you’re ready to write.</p>
          <p>Most users start on a search engine. There's a good chance your audience won't even find your page if you don't use the vocabulary they use for their search in your page title, summary and first paragraph.</p>

          <h2 id="web-writing-titles">Titles</h2>
          <p>You don’t have a lot of space in a search engine to tell your user that the information they want is on your page, so make every word count.</p>
          <p>Think about how the title will look in search on GOV.UK and on search engines. You are now on a site with (potentially) similar titles for policies and news articles. Make sure your titles are clear for the content type you are using.</p>
          <p>Keep all titles to 65 characters (including spaces).</p>
          <p>Front-load keywords and use colons to break up long titles (it helps users to scan). ‘Planning appeal procedures: technical review’ works better than ‘Technical review of planning appeal procedures’.</p>
          <p>Explain any unusual terms and keep a friendly, informative tone. It’s not a magazine and we won’t be using slang etc but keep the language easy to understand.</p>
          <p>Remember that puns or wordplay can make the content difficult to find.</p>

          <h2 id="web-writing-summaries">Summaries</h2>
          <p>Condense the main point of the page in 140 characters or less. Use search keywords (especially ones you haven’t included in the page title).</p>
          <p>Remember that the summary – along with the title – is often what users see in search results. So let them see quickly whether this page will have the information they want.</p>
          <p>Summaries should end with a full stop.</p>

          <h2 id="web-writing-body-copy">Body copy</h2>
          <p>Keep your body copy as focused as possible.</p>
          <p>Remember, you're likely to be battling outside factors for user attention, not least their mood and situation. They might be looking on a mobile on a train, trying to complete their task online in the middle of a stressful family event or any combination of multiple unknowns. If you want their attention, don't waste their time.</p>
          <p>Don't publish everything you can online. Publish only what the user needs to know so they can complete their task. Nothing more.</p>

          <h2 id="web-writing-page-length">Length of page</h2>
          <p>Jakob Nielsen <a href="http://www.nngroup.com/articles/how-little-do-users-read/">ran a study</a> that showed users only read 20 to 28% of text on a web page, so you may think: ‘the shorter the page – the better’.</p>
          <p>This is generally true. Remember that the pressure on the brain to understand increases for every 100 words you put on a page. The quicker you can get to the point, the faster a user will consume the information, understand and either leave or engage.</p>
          <p>But the main point is to write well.</p>
          <p>Word counts don’t help if you write text full of caveats, jargon and things users don’t need to know (but you want to say). You can have a single paragraph on a page, but if it’s not written in a user-centred way then it’s too much.</p>

          <h2 id="web-writing-capitalisation">Capitalisation</h2>
          <p>DON’T USE BLOCK CAPITALS FOR LARGE AMOUNTS OF TEXT. IT'S HARD TO READ.</p>

          <h2 id="web-writing-rules">7 golden rules for writing for the web</h2>
          You should observe these rules:
          <ul>
            <li>make it brief and to the point</li>
            <li>break up text into subheaded sections</li>
            <li>use bullet lists</li>
            <li>‘front-load’ subheadings, titles and bullet points to put the most important information first</li>
            <li>include links to external sites and relevant pages</li>
            <li>use words that are easy to understand</li>
            <li>use active, not passive, tense</li>
          </ul>

          <h2 id="web-writing-after-publication">After publication</h2>
          <p>Users expect information to be accurate and up to date. You can archive news stories, but you’ll need to change any other pages as the content changes or when user testing tells you there’s a better way of doing it.</p>
          <p>If you don’t, users will lose trust in your content, and may not visit your pages again.</p>
        </section>
      </article>
    </li>
  </ol>

</div>
