<% content_for :title do %>GOV.UK – GDS design principles<% end %>

 <div id="wrapper" class="design-principles">
  <header class="gds-principles">
    <h1>Government Digital Service <strong>Design Principles</strong></h1>
    <p>Listed below are our design principles and examples of how we’ve used them so far. These build on, and add to, our original <a href="http://www.flickr.com/photos/benterrett/7041509709/">7 digital principles</a>.</p>
  </header>
   <nav>
     <ol>
       <li>
         <a href="#first"><span class="icon">1</span> <span class="caption">Start with needs*</span></a>
       </li>
       <li>
         <a href="#second"><span class="icon">2</span> <span class="caption">Do less</span></a>
       </li>
       <li>
         <a href="#third"><span class="icon">3</span> <span class="caption">Design with data</span></a>
       </li>
       <li>
         <a href="#fourth"><span class="icon">4</span> <span class="caption">Do the hard work to make it simple</span></a>
       </li>
       <li>
         <a href="#fifth"><span class="icon">5</span> <span class="caption">Iterate. Then iterate again.</span></a>
       </li>
       <li>
         <a href="#sixth"><span class="icon">6</span> <span class="caption">This is for everyone</span></a>
       </li>
       <li>
         <a href="#seventh"><span class="icon">7</span> <span class="caption">Understand context</span></a>
       </li>
       <li>
         <a href="#eighth"><span class="icon">8</span> <span class="caption">Build digital services, not websites</span></a>
       </li>
       <li>
         <a href="#ninth"><span class="icon">9</span> <span class="caption">Be consistent, not uniform</span></a>
       </li>
       <li>
         <a href="#tenth"><span class="icon">10</span> <span class="caption">Make things open: it makes things better</span></a>
       </li>
     </ol>
   </nav>
   
   <ol class="principles">
     <li class="principle">
      <article>
        <hgroup>
          <h1 id="first">Start with needs*</h1>
          <h2>*user needs not government needs</h2>
        </hgroup>

         <div class="outline">
           <p>
            Service design starts with identifying user needs. If you don’t
            know what the user needs are, you won’t build the right thing. Do
            research, analyse data, talk to users. Don’t make assumptions. Have
            empathy for users, and should remember that what they ask for isn't
            always what they need.
          </p>
          <ul>
            <li><a href="https://gds.blog.gov.uk/2014/07/03/what-we-mean-when-we-say-service-transformation/">What we mean when we say “service transformation”</a>, by&nbsp;Mike&nbsp;Bracken</li>
            <li><a href="http://blog.mattedgar.com/2015/05/12/most-of-government-is-mostly-service-design-most-of-the-time-discuss/">Most of government is mostly service design most of the time</a>, by&nbsp;Matt&nbsp;Edgar</li>
            <li><a href="https://gds.blog.gov.uk/2014/09/03/vertical-campfires-our-user-research-walls/">Vertical campfires: our user research walls</a>, by&nbsp;Kate&nbsp;Towsey</li>
          </ul>
         </div>
        </article>
     </li>
   
     <li class="principle">
       <article>
       
         <h1 id="second">Do less</h1>
       
         <div class="outline">
           <p>
            Government should only do what only government can do. If we’ve
            found a way of doing something that works, we should make it
            reusable and shareable instead of reinventing the wheel every time.
            This means building platforms and registers others can build upon,
            providing resources (like APIs) that others can use, and linking to
            the work of others. We should concentrate on the irreducible core.
          </p>

          <ul>
            <li><a href="https://gds.blog.gov.uk/2014/10/15/building-digital-civic-infrastructure-from-the-ground-up/">Building digital civic infrastructure from the ground up</a>, by&nbsp;Mike&nbsp;Bracken</li>
            <li><a href="https://gds.blog.gov.uk/2012/10/26/what-weve-learnt-about-scaling-agile/">What we’ve learned about scaling agile</a>, by&nbsp;Jamie&nbsp;Arnold</li>
          </ul>
         </div>
       </article>
     </li>
   
     <li class="principle">
       <article>
       
         <h1 id="third">Design with data</h1>
       
         <div class="outline">
           <p>
            In most cases, we can learn from real world behaviour by looking at
            how existing services are used. Let data drive decision-making, not
            hunches or guesswork. Keep doing that after taking your service
            live, prototyping and testing with users then iterating in
            response. Analytics should be built-in, always on and easy to read.
            They’re an essential tool.
          </p>
          <ul>
            <li><a href="https://www.gov.uk/performance">Performance data for government services</a></li>
            <li><a href="https://gds.blog.gov.uk/2013/06/18/retiring-our-icons/">Retiring our icons</a>, by&nbsp;Guy&nbsp;Moorhouse</li>
            <li><a href="https://gds.blog.gov.uk/2014/10/10/combining-user-research-and-analytics-to-improve-the-user-experience/">Combining user research and analytics to improve the user experience</a>, by&nbsp;Lana&nbsp;Gibson and Charlotte&nbsp;Clancy</li>
          </ul>
         </div>
       </article>
     </li>
   
     <li class="principle">
       <article>
       
         <h1 id="fourth">Do the hard work to make it simple</h1>
       
         <div class="outline">
           <p>
            Making something look simple is easy. Making something simple to
            use is much harder — especially when the underlying systems are
            complex — but that’s what we should be doing. Don’t take “It’s
            always been that way” for an answer. It’s usually more and harder
            work to make things simple, but it’s the right thing to do.
          </p>
          <ul>
            <li><a href="https://gds.blog.gov.uk/2014/07/28/doing-the-hard-work-to-make-things-simple/">Doing the hard work to make things simple</a>, by&nbsp;Mike&nbsp;Bracken</li>
            <li><a href="https://gds.blog.gov.uk/2014/06/20/i-fought-the-law-and-the-users-won-delivering-online-voter-registration/">I fought the law and the users won</a>, by&nbsp;Pete&nbsp;Herlihy</li>
            <li><a href="https://gds.blog.gov.uk/2014/07/03/what-we-mean-when-we-say-service-transformation/">This is what we mean when we say “service transformation”</a>, by&nbsp;Mike&nbsp;Bracken</li>
          </ul>
         </div>
       </article>
     </li>
   
     <li class="principle">
       <article>
       
         <h1 id="fifth">Iterate. Then iterate again.</h1>
       
         <div class="outline">
           <p>
            The best way to build good services is to start small and iterate
            wildly. Release <a
              href="https://en.wikipedia.org/wiki/Minimum_viable_product">Minimum
              Viable Products</a> early, test them with actual users, move from
            <a
              href="https://en.wikipedia.org/wiki/Software_release_life_cycle#Alpha">Alpha</a>
            to <a
              href="https://en.wikipedia.org/wiki/Software_release_life_cycle#Beta">Beta</a>
            to Live adding features, deleting things that don’t work and making
            refinements based on feedback. Iteration reduces risk. It makes big
            failures unlikely and turns small failures into lessons. If a
            prototype isn’t working, don’t be afraid to scrap it and start
            again.
          </p>
          <ul>
            <li><a href="http://makeitquotidian.co.uk/2015/06/16/discovering-discovery/">Discovering discovery</a>, by&nbsp;Sarah&nbsp;Prag</li>
            <li><a href="https://userresearch.blog.gov.uk/2014/09/17/6-case-studies-using-research-and-data-to-improve-a-live-service/">6 case studies using research and data to improve a live service</a>, by&nbsp;Ben&nbsp;Holliday</li>
            <li><a href="https://gds.blog.gov.uk/2015/02/05/exemplars-making-examples-of-themselves/">Exemplars making examples of themselves</a>, by&nbsp;Mike&nbsp;Bracken</li>
          </ul>

         </div>
       </article>
     </li>
   
     <li class="principle">
       <article>
       
         <h1 id="sixth">This is for everyone</h1>
       
         <div class="outline">
           <p>
            Accessible design is good design. Everything we build should be as
            inclusive, legible and readable as possible. If we have to
            sacrifice elegance — so be it. We’re building for needs, not
            audiences. We’re designing for the whole country, not just the
            ones who are used to using the web. The people who most need our
            services are often the people who find them hardest to use. Let’s
            think about those people from the start.
           </p>
           <ul>
             <li><a href="https://accessibility.blog.gov.uk/2016/05/16/what-we-mean-when-we-talk-about-accessibility-2/">What we mean when we talk about accessibility</a>, by&nbsp;Alistair&nbsp;Duggin</li>
             <li><a href="https://accessibility.blog.gov.uk/2016/05/16/consider-the-range-of-people-that-will-use-your-product-or-service/">Consider the range of people that will use your product or service</a>, by&nbsp;Alistair&nbsp;Duggin</li>
             <li><a href="https://accessibility.blog.gov.uk/2016/05/17/hope-inspiration-and-inclusion/">Hope, inspiration and inclusion</a>, by&nbsp;Steven&nbsp;Mark</li>
             <li><a href="https://gds.blog.gov.uk/2012/10/01/building-for-inclusion/">Building for inclusion</a>, by&nbsp;Léonie&nbsp;Watson</li>
             
           </ul>
         </div>
       </article>
     </li>
   
     <li class="principle">
       <article>
         <h1 id="seventh">Understand context</h1>
         <div class="outline">
           <p>
            We’re not designing for a screen, we’re designing for people. We
            need to think hard about the context in which they’re using our
            services.  Are they in a library? Are they on a phone? Are they
            only really familiar with Facebook? Have they never used the web
            before?
          </p>
            <ul>
              <li><a href="https://userresearch.blog.gov.uk/2015/02/13/how-we-recruited-people-with-lowno-digital-skills-on-carers-allowance/">How we recruited people with low/no digital skills on Carer's Allowance</a>, by&nbsp;Simon&nbsp;Hurst</li>
              <li><a href="https://userresearch.blog.gov.uk/2015/03/11/the-right-place-to-do-rural-research/">The right place to do rural research</a>, by&nbsp;Emily&nbsp;Ball</li>
            </ul>
          </div>
       </article>
     </li>
   
     <li class="principle">
       <article>
       
         <h1 id="eighth">Build digital services, not websites</h1>
       
         <div class="outline">
           <p>
            A service is something that helps people to do something. Our job
            is to uncover user needs, and build the service that meets those
            needs. Of course much of that will be pages on the web, but we’re
            not here to build websites. The digital world has to connect to the
            real world, so we have to think about all aspects of a service, and
            make sure they add up to something that meets user needs.
          </p>
          <ul>
            <li><a href="https://speakerdeck.com/kitcollingwood/digital-leadership-presentation">Digital leadership</a>, by&nbsp;Kit&nbsp;Collingwood-Richardson</li>
            <li><a href="https://gds.blog.gov.uk/2014/12/17/revealing-the-hidden-side-of-transformation/">Revealing the hidden side of transformation</a>, by&nbsp;Mike&nbsp;Bracken</li>
            <li><a href="https://gds.blog.gov.uk/2015/03/27/not-the-hmrc-of-old/">Not the HMRC of old</a>, by&nbsp;Mike&nbsp;Bracken</li>
          </ul>
         </div>
       </article>
     </li>
   
     <li class="principle">
       <article>
       
         <h1 id="ninth">Be consistent, not uniform</h1>
       
         <div class="outline">
           <p>
            We should use the same language and the same design patterns
            wherever possible. This helps people get familiar with our
            services, but when this isn’t possible we should make sure our
            approach is consistent.
          </p>
          <p>
           This isn’t a straitjacket or a rule book. Every circumstance is
           different. When we find patterns that work we should share them, and
           talk about why we use them. But that shouldn’t stop us from
           improving or changing them in the future when we find better ways of
           doing things or the needs of users change.
          </p>
          <ul>
            <li><a href="https://designpatterns.hackpad.com/">The GOV.UK Design Patterns Hackpad</a></li>
            <li><a href="https://gds.blog.gov.uk/2014/07/18/whats-the-design-process-at-gds/">What’s the design process at GDS?</a> by&nbsp;Ben&nbsp;Terrett</li>
          </ul>
        </div>
       </article>
     </li>
   
      <li class="principle">
        <article>

          <h1 id="tenth">Make things open: it makes things better</h1>

          <div class="outline">
            <p>
              We should share what we’re doing whenever we can. With
              colleagues, with users, with the world. Share code, share
              designs, share ideas, share intentions, share failures. The more
              eyes there are on a service the better it gets — howlers are
              spotted, better alternatives are pointed out, the bar is raised.
            </p>
            <p>
              Much of what we’re doing is only possible because of open source
              code and the generosity of the web design community. We should
              pay that back.
            </p>
            <ul>
              <li><a href="https://gds.blog.gov.uk/2015/01/20/gds-usds/">GDS, USDS, and sharing expertise</a>, by&nbsp;Mike&nbsp;Bracken</li>
              <li><a href="https://gds.blog.gov.uk/2014/08/22/how-sharing-helps-us-improve-digital-services/">How sharing helps us improve digital services</a>, by&nbsp;Mike&nbsp;Bracken</li>
            </ul>
          </div>
        </article>
      </li>
    </ol>
</div>
