<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <header>
    <h1>Government Digital Service <strong>Content principles</strong></h1>
    <p>This style guide is part of the <a href="/designprinciples">Design Principles</a> document.</p>
  </header>
  <nav>
    <ul class="sections">
      <li><a href="styleguide" class="gov-uk">GOV.UK</a></li>
      <li><a href="mainstream">Mainstream</a></li>
      <li><a href="insidegovernment" class="current">Inside Government</a></li>
      <li><a href="whatsnew">What's New?</a></li>
    </ul>
  </nav>

  <ol class="principles" id="inside-government">
    <li class="principle">
      <article>
        <h1 id="ig">4. Style differences:<br />Inside Government beta</h1>
        <h2>About this document</h2>
        <p>This is a guide to style and conventions on Inside Government (<a href="https://www.gov.uk/government">www.gov.uk/government</a>). This style guide is complementary to the GOV.UK style guide. Make sure you check <a href="https://www.gov.uk/designprinciples">www.gov.uk/designprinciples</a> for the up-to-date version.</p>
        <p>Users prefer more in-depth information on Inside Government than some of the more task-driven content on mainstream GOV.UK. However, the premise is still to get to the point of the information in a succinct, concise, usable way. There is no space for waffle anywhere on GOV.UK.</p>
        <p>If you are giving your users more detail, you&rsquo;ll need to consider internal links to supporting pages etc more closely. The user journey and architecture within a topic or audience space can become so swamped with detail, it becomes unusable. So there&rsquo;s your challenge.</p>

        <h2 id="tone-of-voice">4.1 Tone of voice</h2>
        <p>The site is aimed at every citizen in the UK, and those outside of the UK with an interest in the UK government, but particularly those with a professional or personal interest in some aspect of government activity (eg an area of policy) or a part of government (eg an organisation or minister).</p>

        <h2 id="Addressing-the-user">4.1.1 Addressing the user</h2>
        <p>Style differences</p>

        <p>Mainstream: Don&rsquo;t use &lsquo;we&rsquo;, &lsquo;I&rsquo;, &lsquo;our&rsquo;, &lsquo;us&rsquo;.<br />
          Inside Government: Use &lsquo;we&rsquo; if the &lsquo;we&rsquo; is obvious from the context, eg it&rsquo;s clearly a department or the government.</p>

        <h2 id="Jargon">4.1.2 Jargon</h2>
        <p>On <a href="https://www.gov.uk/government">www.gov.uk/government</a>, sometimes it will be impossible to avoid unusual words or phrases &ndash; but these must be explained where possible. There is no need to explain common terms of reference, eg climate change, but something like The Green Deal does need explaining, or linking to a definition. You can use supporting detail pages to explain complicated background if needed. It&rsquo;s our job to make government understandable to anyone. This includes people with poor literacy skills.</p>

       
        <h2 id="style-points-for-all-formats">4.2 Style points for all formats</h2>
        <p>To open up government information to anyone interested enough to find out about it, we need to follow these golden rules:</p>
        <ul>
          <li>be specific &ndash; avoid vague words, metaphors and words that are open to misinterpretation</li>
          <li>adjectives can be subjective and make the text sound more emotive and like &lsquo;spin&rsquo; &ndash; don&rsquo;t use them</li>
          <li>use verbs to nouns, for example, &lsquo;providing funding for people to insulate their homes&rsquo; rather than &rsquo;encouraging the take-up of home insulation through a new funding mechanism&rsquo;.</li>
        </ul>
        <p>(Note: words ending in &lsquo;&ndash;ion&rsquo; and &lsquo;&ndash;ment&rsquo; tend to make sentences longer and more complicated than they need to be)</p>

        <h2 id="active-voice">4.2.1 Active voice</h2>
        <p>Use the active rather than the passive voice, eg &lsquo;we are doing this&rsquo;, rather than &lsquo;this is being done&rsquo;.</p>

        <h2 id="capitalisation">4.2.2 Capitalisation</h2>
        <p>Don&rsquo;t capitalise words just because you think they are important. It&rsquo;s hard on the eye and can seem pompous. So don&rsquo;t write, &lsquo;BIS is committed to increasing the number of Apprenticeships.&rsquo;</p>

        <p>Capitalise:</p>
        <ul>
          <li>job titles, ministers&rsquo; role titles eg Minister for Housing, Home Secretary</li>
          <li>names of groups and directorates eg Knowledge and Innovation Group</li>
          <li>Parliament, the House</li>
          <li>an Act or a Bill</li>
          <li>titles of specific Acts or Bills eg Housing Reform Bill</li>
          <li>names of specific, named government schemes known to people outside government eg Right to Buy, Queen&rsquo;s Awards for Enterprise</li>
          <li>specific select committees (eg Public Administration Select Committee)</li>
          <li>header cells in tables</li>
        </ul>

        <p>Don&rsquo;t capitalise:</p>
        <ul>
          <li>government &ndash; never Government, even when referring to the elected administration, unless part of a specific name, eg Local Government Association, or Inside Government</li>
          <li>minister, never Minister, unless part of a specific job title, eg Minister for the Cabinet Office</li>
          <li>department or ministry &ndash; never Department or Ministry, unless referring to a specific one, eg Ministry of Justice</li>
          <li>the titles of publications &ndash; only initial cap on first word and the entire title in single quote marks eg &lsquo;Implementing self-financing for council housing&rsquo; (unless it includes a phrase which should be capitalised for other reasons eg &lsquo;Review of the Right to Buy scheme&rsquo;)</li>
          <li>white paper, green paper, command paper, House of Commons paper</li>
          <li>director general (note no hyphen), deputy director, director unless in a specific job title</li>
          <li>group and directorate, unless referring to a specific group or directorate, eg Commercial Directorate</li>
          <li>departmental board, executive board, the board</li>
          <li>policy themes eg sustainable communities, promoting economic growth, local enterprise zones</li>
          <li>general mention of select committees (but DO cap specific ones &ndash; see above)</li>
        </ul>

        <p>DON&rsquo;T USE BLOCK CAPITALS FOR LARGE AMOUNTS OF TEXT AS IT&rsquo;S QUITE HARD TO READ.</p>

        <h2 id="images">4.2.3 Images</h2>
        <p>What&rsquo;s the actual purpose of the image? If it is a picture of a computer keyboard when talking about online services &ndash; this is probably not that useful. If you use a picture of a new state-of-the-art hospital when it is opened &ndash; this probably is useful.</p>
        <p>Image size for featuring: 960x640 pixels, 72 dpi, landscape</p>

        <h2 id="attribution">4.2.4 Attribution</h2>
        <p>When attributing images, use this format:<br />
          Francis Maude shakes hands with Mark Serwotka. Picture: George Roberts / Crown copyright.</p>

        <h2 id="alt-text">4.2.5 Alt text</h2>
        <p>Alt text is used as an alternative to an image for people who use screen readers.</p>
        <p>Use alt text where you need to help users understand the visual content. If an image is not essential to understanding the content, use &ldquo;&rdquo;.</p>
        <p>For example: don&rsquo;t tell people there is a logo on the page. However, if there is a picture of a minister in a tank, put an appropriate description.</p>

        <h2 id="captions">4.2.6 Captions</h2>
        <p>Keep captions under 140 characters including attribution if possible. Exceptions can be made if necessary.</p>

        <h2 id="job-titles">4.2.7 Job titles</h2>
        <p>In the first instance, refer to a minister by their commonly known title, eg Justice Secretary Kenneth Clarke. After that, refer to them by name only, eg Kenneth Clarke.</p>
        <p>In some instances, like appointments or official communications, you may have to refer to someone by their full title, eg The Right Honourable Lord Chancellor and Secretary of State for Justice Kenneth Clarke.</p>
        <p>Ministers and MPs are given their full titles without the Mr or Mrs &ndash; for example, Prime Minister David Cameron. Use the commonly understood acronym MPs where possible, not Members of Parliament.</p>

        <h2>Formats </h2>
        
        <h2 id="case-studies">4.3 Case studies</h2>

<h3>Titles</h3>
<p>These can be more ‘newsy’ than policy titles but give the reader a clear idea of what they are going to get.
Remember how the title will look in search on GOV.UK and on search engines, so don’t go for duplicates of policy, scheme titles or completely abstract.</p>
Good example:
UK money helps to build new homes in Darfur

Bad example:
Hope after the war

Summary
140 character limit. Remember this is for search. 

Opening paragraph
One paragraph, 3 sentences or fewer. You want a short, sharp introduction that gives facts: what happened, why and what was the result .


Good example:
The war in Darfur left many people without homes. We gave the Sudanese government £x money and 500 builders to help build homes for 1,000 families.


Body copy
There are no set headings but make sure you include concrete facts about:
how the case study supports the policy (include links to the policy/detail pages)
stats and facts - how many people this is going to help, how much money is going where etc
The human element - who is benefiting and how

Example:

The seven-year war in Darfur (2003-2010) left x people homeless. Despite the ceasefire in 2010 the region is still unstable and work to rebuild homes is slow.

We sent [building company, builders etc] to Darfur in June 2011. In six months they built 50 homes, which will house 200 people including 130 children.

George, husband and father of 4 children said:
“It has made such a difference to our lives. My wife was ill and our children were getting sick. We were crammed into a tiny house with 5 other families. The living conditions were awful. Now we have a clean house to ourselves. The children share a room but they love the space and get up to mischief.”

Keep to the usual style. Explain any unusual terms and keep a friendly, informative style. It is not a magazine and we won’t be using slang etc but keep the language easy to understand.

Video
You can use them. The format has to be: http://www.youtube/[filename]
(Later there will be functionality to add a transcript.)

Images
What’s the actual purpose of the image? If it is a picture of a key when talking about online services – this is probably not that useful. If you use a picture of a new state-of-the-art hospital when it is opened – this probably is useful.
Image size: 960x640 pixels, 72 dpi

The first image on the page will be placed automatically, top left.  Subsequent images, and all videos, can be placed in the relevant part of the text using markdown.

Attribution
When attributing images, use this format:
Francis Maude shakes hands with Mark Serwotka. Picture: George Roberts / Crown copyright.

Alt text
Alt text is used as an alternative to an image for people who use screen readers.
Use alt text where you need to help users understand the visual content. If an image is not essential to understanding the content, use “”.
For example: don’t tell people there is a logo on the page. However, if there is a picture of a minister in a tank, put an appropriate description.

Quotes
Include quotes but don’t overload the page with them unless it is a straight interview. Use 5 or fewer. You are telling a story. Use the quotation markdown for each paragraph.

Background
Giving context is important but don’t overload the page with the past.
        
        <h2 id="about-us">4.3 Corporate pages: about us</h2>
        <p>Whilst most of the ‘about us’ pages are mandated by some part of government, the only page we mandate is ‘what we do'.</p>

        <h3>What we do</h3>
        <p>Use &lsquo;we&rsquo; &ndash; is should be very obvious who the &lsquo;we&rsquo; is on this page more than any other.</p> 
        <p>Remember to:</p>
        <ul>
          <li>keep it active, personal and relevant</li>
          <li>aim for 30 words</li> 
          <li>give an overall view of your department’s work &ndash; you may want to highlight areas users may not have thought you do</li> 
          <li>make sure you use plain English &ndash; this is not a time for SEO-ing jargon words for niche audiences. You can do that on specific lower-level pages</li>
        </ul>

        <h3>Responsibilities</h3>
        <p>Lead with ‘We are responsible for’ and bullet a list of your responsibilities. Keep them active, clear and not too detailed &ndash; you can do that in your policies.</p>
        <p></p>Max of 7 bullets.</p>

       <h3>Priorities</h3>
        <p>Lead with: &lsquo;In 2012 to 2013, our priorities will be:&rsquo; (for this year, obviously. Change it next year.)</p>
        <p>It would be best if you took your main priorities based in your business plan &ndash; these are normally specific, clear and succinct.</p> 
        <p>Max of 7 bullets.</p>
        
        <h2 id="biographies">4.3 Corporate pages: biographies</h2>
        <h3>Ministerial biographies</h3>
        <p>Remember to:</p>
        <ul>
          <li>keep it short; half a page is plenty for a bio</li>
          <li>biography: begin with the appointment, full title and constituency</li>
          <li>first name terms:  The Rt Hon Nick Clegg MP at the top of the page, then use Nick Clegg at first mention,   then Nick. </li>
          <li>a Lord or Baroness will always use their title and surname eg Baroness Warsi</li>
          <li>education: avoid ‘read’ - use ‘studied</li>
          <li>political career: a few sentences of career highlights in chronological order. If this is long, use bullet points, with an introductory sentence.</li>
          <li>career outside politics: If none, use 'Political career’ </li>
          <li>personal life: delete this section if you don't need it and don't include children’s names</li>
        </ul>
        <h3>Management biographies</h3>
        <p>Use a maxumum of 3 sentences to explain what the manager is doing and 5 bullets on career highlights.</p>
        
      <h2 id="energy-use">NUMBER Corporate pages: Energy use</h2>
      <p>Include what you are doing and don&rsquo;t try to blind people with science and unnecessary stats but make sure it is relevant. Tell people which buildings etc you are monitoring and what you are doing to make sure use is efficient.</p>

      <p>Include a copy of your energy efficiency certificate as a publication.</p>

      <p>Link to any 3rd party hosted real time energy data tools.  (We will look to support embedding of these tools in the longer term.)</p>

      <h2 id="personal-information-charter">NUMBER Corporate pages: personal information charter</h2>
      <p>Lead with: &lsquo; Our personal information charter contains the standards you can expect when we ask for, or hold, your personal information. It also covers what we ask of you, to help us keep information up to date.&rsquo; </p>

      <p>There are no set headings but include why you ask for information, what you do with it and how users can ask to get copies of the information you hold. Look at https://www.gov.uk/government/organisations/department-for-transport/about/personal-information-charter for an example. </p>


      <h2 id="working-with">NUMBER Corporate pages: working with [dept]</h2>
      <p>Again, no set headings but include:</p>
      <ul>
        <li>what sort of roles you might recruit for</li>
        <li>benefits to working for your departments &ndash; travel, holiday, pension</li>
        <li>training and development opportunities</li>
        <li>benefits of working for the civil service &ndash; sports etc</li>
      </ul>

      <p>and link to Civil Service or other relevant recruitment websites.</p>
      
       <h2 id="consultations">4.5 Consultations</h2>
        <p>Much like publications but check the following have been populated:</p>
        <ul>
          <li>organisation</li>
          <li>ministers</li>
          <li>related policies</li>
          <li>countries (eg Spain, if applicable)</li>
          <li>excluded nations (eg Scotland, if applicable)</li>
        </ul>

        <h2>Body text &ndash; what it&rsquo;s for</h2>
        <p>Give a short, succinct summary of what the consultation is asking people to comment on.</p>

        <h2>How to respond</h2>
        <p>On all open consultations, add information in the body copy on how to respond in the following format:</p>
        <p>##How to respond</p>
        <p>###Respond online<br />
          Add a url if there is one</p>
        <p>###Email us<br />
          email@email.com</p>
        <p>###Write to us<br />
          Address</p>

        <h2>Attachments</h2>
        <p>When you upload the attachment it will automatically show the front page of the consultation. The type of document, number of pages and file size are captured automatically.</p>
        <p>The title field for this attachment will be displayed as the link text to download or open the file. This should be the full, official title of the publication as written on its front cover.</p>



      <h2 id="reminders-for-all-pages">NUMBER Corporate pages: reminders for all pages</h2> 
      <p>Rememeber that:</p>
      <ul>
        <li>summaries take a full stop</li>
        <li>think about how the information looks on the page &ndash; remember subheads and bullets</li>
        <li>keep it plain English but use and explain jargon if your users will be looking for specific terms</li>
        <li>no &lsquo;legalese&rsquo;:we are trying to open up all government information &ndash; even the legal stuff</li>
      </ul>
      
      <h2 id="news">4.7 News </h2>
        <p>News content directly follows the common style guide, with the exceptions listed below.</p>
        <p>News should not read like a press release &ndash; it should add value to a press release by increasing comprehensibility and user-focus, and removing spin.</p>

        <h2>Titles</h2>
        <p>What is the actual story? Tell it in a few words.</p>
        <p>&ldquo;Minister visits factory&rdquo; is not a story. &ldquo;Vince Cable tells factory workers about workplace law reforms&rdquo; gives the reader a sense of what the story is about.</p>
        <p>Avoid &lsquo;teasing headlines&rsquo;, puns or wordplay &ndash; these make your story hard for people to find. Use the words most people use for the situation. This helps your search ranking.</p>
        <p>Avoid print conventions / &lsquo;journalese&rsquo; eg &ldquo;Minister in youth homelessness bid&rdquo; (&lsquo;bid&rsquo; is used in print where headline space is in short supply).</p>

        <p>Good example:<br />
          Granny in near-death wolf escape</p>

        <p>Bad example:<br />
          Girl goes into forest, encounters problems</p>

        <h2>Introductions</h2>
        <p>Introductions should be 15 to 50 words. Aim to tell the story in one or two sentences, eg who, what, where, when, why.</p>

        <h2>Body copy</h2>
        <p>Here's how to write effective body copy:</p>
        <ul>
          <li>the first paragraph of body copy should lead on from the introduction paragraph &ndash; it should not repeat the information</li>
          <li>use &lsquo;inverted pyramid&rsquo; approach with most important information at the top tapering down to lesser detail</li>
          <li>paragraphs should have no more than 5 sentences each</li>
          <li>large blocks of text should be split by regular sub-headers</li>
          <li>ensure copy includes keywords to boost natural search rankings</li>
        </ul>

        <h2>Sub-headers</h2>
        <p>For news stories of fewer than than 150 words a sub-header below the introduction is discretionary.</p>

        <h2>Article length</h2>
        <p>No lower limit, although the value of a story under 150 words should be questioned.</p>
        <p>Upper limit of 750 words &ndash; with case-by-case exceptions (eg some Budget pages).</p>

        <h2>Quotes</h2>
        <p>Do not include more than 2 concurrent sentences of quotes unless the quotation/speech is the story.</p>

        <h2>Summaries</h2>
        <p>Summaries end with a full stop.</p>
        <p>Summaries do appear on news stories but not on other content types eg publications.</p>

        <h2 id="policy">NUMBER Policy pages</h2>
        <p>A policy is how the government plans to achieve a specific outcome.</p>

        <p>Policies on GOV.UK have 4 parts:</p>
        <ul>
          <li>a title</li>
          <li>a cover sheet</li>
          <li>latest tab (this is generated automatically)</li>
          <li>supporting detail pages</li>
        </ul>

        <h2>Titles</h2>
        <p>Policy titles should express the specific outcome the government is seeking to achieve. They should be:</p>
        <ul>
          <li>clear</li>
          <li>succinct</li>
          <li>specific enough to allow someone to measure progress and achievement</li>
          <li>jargon-free</li>
          <li>active: eg &lsquo;increasing x&rsquo;, &lsquo;reducing y&rsquo;, &lsquo;preventing z&rsquo;, &lsquo;protecting x from y&rsquo;</li>
          <li>related to an outcome</li>
        </ul>
        <p>Use words the wider audience would use. Don&rsquo;t use &lsquo;The x report&rsquo; unless that search term is higher than the explanation of what &lsquo;The x report&rsquo; says.</p>

        <p>Good examples:</p>
        <ul>
          <li>Expanding and improving the rail network</li>
          <li>Making roads safer</li>
          <li>Increasing the number of successful small businesses</li>
        </ul>

        <p>Bad examples:</p>
        <ul>
          <li>Charter for business</li>
          <li>Tackling climate change</li>
        </ul>

        <h2>Issue (mandatory)</h2>
        <p>This should answer the question &lsquo;why does the government have this policy?&rsquo;.</p>
        <p>Give a short, clear and specific description of the problem or opportunity and a brief explanation of what the government is going to do or is doing about it.</p>
        <p>This section isn&rsquo;t:</p>
        <ul>
          <li>about the history</li>
          <li>what led to the policy being implemented</li>
          <li>the government&rsquo;s actions or intended actions</li>
        </ul>

        <p>Example:</p>
        <p>The public sector &ndash; including central government, local councils and devolved administrations &ndash; accounts for around 3% of the UK&rsquo;s carbon emissions. In England alone, the government spends &pound;2.5 billion on building energy and &pound;1.2 billion on owned-vehicle fuel.</p>
        <p>Improving energy efficiency in the public sector will result in a better use of taxpayers&rsquo; money and help the UK meet existing climate change agreements.</p>

        <h2>Actions (mandatory)</h2>
        <p>This section details what the government is doing about the issue or to achieve the outcome in the policy title.</p>
        <p>Actions should be specific, measurable and time-bound.</p>
        <p>Summarise briefly what government is doing now and what it will do next &ndash; one short paragraph or bullet point for each action with links to supporting detail pages where necessary.</p>
        <p>Past actions go into the background section. If an action was taken in the past but the effects are still being felt (eg the benefits of successfully lobbying the EU), then it is still current. If an action was taken, and then replaced by related and further action, policy, etc, then it&rsquo;s background.</p>

        <p>Example:</p>
        <p>To increase our energy efficiency, by 2015 the government will:</p>
        <ul>
          <li>reduce greenhouse gas emissions by 25% from the whole estate and business-related transport, by introducing x scheme</li>
          <li>make sure the goods, services and suppliers it chooses are energy efficient</li>
        </ul>

        <h2>Background (mandatory)</h2>
        <p>This section should explain how this policy and set of actions came about. Provide essential information for understanding the context of the policy, issue and actions.</p>
        <p>This isn&rsquo;t a dumping ground for information that doesn&rsquo;t fit the other headings, nor a history of everything, but a clear indication of how the policy got to where it is.</p>

        <p>Example:</p>
        <p>We announced our intention to do x as part of the coalition agreement.</p>
        <p>We commissioned research into y in 2010. This showed that that the most cost-effective and useful action we could take would be to do z.</p>
        <p>We consulted experts at an event in 2011 and worked with aaa and bbb to develop our action plan.</p>

        <h2>Who we're consulting or who we&rsquo;ve consulted (optional and depending on time)</h2>
        <p>Explain who has been or will be consulted or involved in the policy, and in what way.</p>
        <p>List any consultations &ndash; formal or informal. Give some detail about what is being done and by whom, don&rsquo;t just add a list of links.</p>
        <p>Example:</p>
        <p>The government ran a consultation on &lsquo;Breaking the cycle: effective punishment, rehabilitation and sentencing of offenders&rsquo;. This set out our proposals for effectively punishing and rehabilitating offenders and reforming sentencing. Following that consultation, we revised our plans to xxx and yyyy.</p>

        <h2>Impact (optional)</h2>
        <p>List (and link inline to) any impact assessment publications.</p>
        <p>Briefly summarise the main points arising from the impact assessments.</p>

        <h2>Bills and legislation (optional)</h2>
        <p>Give summary details of relevant legislation to explain the legal context for the policy and if the policy will mean changes to the law.</p> 
        <p>Write full sentences, not just a list of related laws, and add links where relevant.</p>

        <h2>Who we are working with (optional)</h2>
        <p>List the organisations which have a major involvement, and what work is being done by them or with them.</p>
        <p>Write full sentences, don&rsquo;t just list the organisations.</p>

        <h2>Detail pages (optional)</h2>
        <p>These pages are for users who want to know more about the actions listed on the cover sheet.</p>
        <p>They should provide supporting detail about the issue and actions.</p>
        <p>For example, if the actions include a programme costing &pound;x and running for 6 months, the detail page should provide further information about who is involved, what they are spending the money on and how.</p>
        <p>These pages must not be used as a dumping ground for material that doesn&rsquo;t fit under other headings.</p>
        <p>If appropriate, include a supplementary detail page called &lsquo;evidence&rsquo; or &lsquo;research&rsquo;. This can be used to present the most important research and statistics relating to the policy.</p>

        <h2 id="publications">4.4 Publications</h2>
        <h2>Titles</h2>
        <p>Titles don&rsquo;t have to reflect the &lsquo;official&rsquo; publication title. Keep them short and search- and user-friendly.</p>
        <p>Front-load all titles &ndash; get all the most important words at the front of the sentence.</p>

        <p>Good example:<br />
          Income Tax reform: impact assessment</p>

        <p>Bad example:<br />
          An assessment of the impact of proposed reforms to Income Tax</p>

        <p>You can mention the report title etc in the summary or page copy if you think users will search for that term.</p>

        <p>Good example:<br />
          &lsquo;Improving government online services&rsquo;</p>
        <p>Bad example:<br />
          &lsquo;The Varney report&rsquo;</p>

        <h2>Summary</h2>
        <p>This will be seen on section pages &ndash; not the publication page itself so <strong>don&rsquo;t use it for essential information</strong> unless that information is repeated in the body text. It&rsquo;s a short, snappy overview and takes a full stop.</p>
        <p>Write a 140 character summary &ndash; this will help with concise writing for search etc.</p>

        <h2>Body text &ndash; what it&rsquo;s for</h2>
        <p>The body of a publication page is used to provide a summary of the publication in plain, neutral language &ndash; to reassure the user that it is (or isn&rsquo;t) what they&rsquo;re looking for. Include what the publication is about and its purpose. Publications often outlive governments so keep the language politically neutral.</p>
        <p>Good example:<br/>
          These reports describe the effect of government proposals to reduce the amount of money spent on legal aid. The aim of the reforms is to make sure legal aid is still available for support and representation in cases where it is justified.</p>

        <h2>Attachments &ndash; title field</h2>
        <p>Use the official title of the document.</p>

        <h2>Things to check</h2>
        <p>Check the following have been populated:</p>
        <ul>
          <li>organisation</li>
          <li>ministers</li>
          <li>related policies</li>
          <li>countries (if applicable)</li>
          <li>excluded nations (if applicable)</li>
          <li>closing date</li>
        </ul>

        <p>Make sure as much as possible of the following information is captured:</p>
        <ul>
          <li>Publication date: 2 February 2011 (automatic)</li>
          <li>Unique reference: (if your department uses a numbering scheme for publications)</li>
          <li>ISBN: (if your department uses ISBNs)</li>
          <li>Research (this will be used in future to show all government research in one place)</li>
          <li>Corporate Publication (if checked, the publication shows on the organisations &lsquo;About us&rsquo; pages)</li>
          <li>Order URL: (enter a URL if the publication is available to order from an e-commerce site)</li>
        </ul>

       
        <h2 id="speeches">4.6 Speeches</h2>
        <p>In the &lsquo;type&rsquo; dropdown, select:</p>
        <ul>
          <li>Transcript &ndash; only for verbatim reports of exactly what the speaker said, NOT &lsquo;check against delivery&rsquo;</li>
          <li>Draft &ndash; for what the speaker was supposed to say (&lsquo;check against delivery&rsquo;, though this is not necessary to state in the text)</li>
          <li>Speaking notes &ndash; if it is not a complete speech, eg a list of topics, cue cards</li>
          <li>Written statement &ndash; a written statement submitted to the House, a letter to newspaper etc</li>
          <li>Oral statement &ndash; often a statement to the House or a briefing to camera</li>
        </ul>

        
      </article>

      <article class="process">
        <section class="examples">
          <h2>Cheat sheet</h2>
          <div class="content">
            <article class="process no-image">
              <header>
                <h1>gov.uk/government &ndash; points of style cheat sheet</h1>
              </header>

              <div class="caption">
                <h3>Addressing the user</h3>
                <p>Use &lsquo;we&rsquo;, &lsquo;I&rsquo;, &lsquo;our&rsquo;, &lsquo;us&rsquo;, if it is clear.</p>

                <h3>Headings</h3>
                <p>The top level of heading you can use is H2 (##).</p>

                <h3>Capitalisation</h3>
                <p>Capitalise:</p>
                <ul>
                  <li>job titles for specific people, eg Lieutenant Sanger, British Ambassador Alan Maddrell</li>
                  <li>Parliament, the House</li>
                  <li>British Embassy (when referring to or implying one specific embassy, eg &lsquo;the British Embassy in Madrid&rsquo;, &ldquo;Protestors outside the British Embassy&rdquo;)</li>
                  <li>an Act or a Bill</li>
                  <li>titles of specific Acts or Bills eg Housing Reform Bill</li>
                  <li>names of government schemes eg Right to Buy, Queen&rsquo;s Awards for Enterprise</li>
                  <li>specific select committees (eg Public Administration Select Committee)</li>
                  <li>Her Majesty the Queen</li>
                  <li>job titles for an individual</li>
                </ul>
                <p>Don&rsquo;t capitalise:</p>
                <ul>
                  <li>government (unless part of a name)</li>
                  <li>minister (unless part of a specific job title)</li>
                  <li>department or ministry, unless referring to a specific one</li>
                  <li>British embassy or consulate (when talking generally, eg &lsquo;Find a British embassy&rsquo;)</li>
                  <li>job titles for a generic role holder (not an individual)</li>
                  <li>the titles of publications, eg &lsquo;Implementing self-financing for council housing&rsquo; (unless it includes a phrase which should be capitalised for other reasons eg &lsquo;Review of the Right to Buy scheme&rsquo;)</li>
                  <li>white paper, green paper, command paper, House of Commons paper</li>
                  <li>director general, deputy director, director unless in a specific job title</li>
                  <li>group and directorate (unless referring to specific ones)</li>
                  <li>general mention of select committees (but DO cap specific ones)</li>
                  <li>titles of articles</li>
                </ul>

                <h3>Dates and times</h3>
                <ul>
                  <li>6 September 1976</li>
                  <li>5:30pm</li>
                  <li>11am (not 1100hrs)</li>
                  <li>midnight, not 00:00</li>
                  <li>Monday to Friday, 9am to 5pm</li>
                  <li>10 November to 21 December</li>
                  <li>midnight, not 00:00</li>
                </ul>

                <h3>Numbers and money</h3>
                <ul>
                  <li>&pound;186 million (not m)</li>
                  <li>&pound;860,000 not &pound;0.86 million</li>
                  <li>1,000</li>
                  <li>Use common sense with numbers, eg when starting a headline: Thirty-four hula hoops found in researcher&rsquo;s drawer</li>
                  <li>Use words for common expressions, eg &lsquo;the minister will be looking at one or two areas&rsquo;</li>
                </ul>

                <h3>Lists</h3>
                <p>Use bullets for more than a couple of items. If doing a list in a sentence, use commas to separate items, not semicolons.</p>

                <h3>Bullets</h3>
                <p>This is how to do bullets:</p>
                <ul>
                  <li>have a lead-in sentence</li>
                  <li>don&rsquo;t end them with &lsquo;and&rsquo;, &lsquo;or&rsquo; or a semicolon</li>
                  <li>don&rsquo;t use sentences within a bullet point &ndash; dashes, semicolons etc are okay</li>
                </ul>

                <h3>Text emphasis</h3>
                <p>Use bold <strong>very</strong> sparingly.</p>

                <h3>Quotes</h3>
                <p>Use single quotes for &lsquo;unusual terms&rsquo;.</p>
                <p>He said, &ldquo;Short quotes take double quotation marks.&rdquo;</p>
                <p>She said:</p>
                <p>&gt; This is a block quote, used for long quotes.<br />
                  &gt;<br />
                  &gt; Don&rsquo;t forget to use the arrow between paragraphs as well.</p>

                <h3>Acronyms</h3>
                <p>Common acronyms don&rsquo;t need markdown (eg VAT, UK, US, EU, MP). Don&rsquo;t use acronyms if you&rsquo;re not going to use the acronym later in the text.</p>
                <p>Tip: for acronyms you use frequently, have a file you can copy/paste.</p>

                <h3>Links</h3>
                <p>Use markdown where necessary.</p>
                <p>Links to documents:<br />
                  Download &lsquo;This is the document title&rsquo; (PDF, 69KB)</p>
                <p>Check all links on preview before publishing. Make sure link text is helpful, not &lsquo;click here&rsquo;.</p>

                <h3>Footnotes</h3>
                <p>Don&lsquo;t use them.</p>

              </div>
            </article>

          </div>
        </section>
      </article>
    </li>

  </ol>
</div>
