<% content_for :title do %>GDS design principles<% end %>


<div id="wrapper" class="design-principles styleguide">
  <header>
    <h1>Government Digital Service <strong>Content principles</strong></h1>
    <p>This style guide is part of the <a href="/designprinciples">Design Principles</a> document.</p>
  </header>
  <nav>
    <ul class="sections">
      <li><a href="styleguide" class="gov-uk">GOV.UK</a></li>
      <li><a href="mainstream">Mainstream content types</a></li>
      <li><a href="inside-government" class="current">Inside Government content types</a></li>
      <li><a href="detailed-guides">Detailed guides</a></li>
      <li><a href="whats-new">What&rsquo;s new?</a></li>
      <li><a href="accessible-pdfs">Accessible PDFs</a></li>
    </ul>
  </nav>

  <ol class="principles" id="inside-government">
    <li class="principle">
      <article>
        <h1 id="ig">4. Style differences:<br />Inside Government content types</h1>
        <h2>About this document</h2>
        <p>This guidance is for the content types on Inside Government (<a href="https://www.gov.uk/government">www.gov.uk/government</a>). The main GOV.UK style guide is at: <a href="https://www.gov.uk/designprinciples">www.gov.uk/designprinciples.</a></p>
        <p>GOV.UK is aimed at every citizen in the UK, and those outside of the UK with an interest in the UK government, but particularly those with a professional or personal interest in some aspect of government activity (eg an area of policy) or a part of government (eg an organisation or minister).</p>
         
        <h2 id="ig-users">4.1 Inside Government users</h2>
        <p>Inside Government users usually prefer more in-depth information and some of the content has a specialist audience. However, we still need to get to the point of the information in a succinct, concise, usable way. </p>
        <p>There is no space for waffle anywhere on GOV.UK. </p>
        <p> We are opening up government information for anyone who is interested enough to look. We need to be clear and informative at all times.</p>
            
        <h2 id="images">4.2 Images</h2>
        <p>Use images only when they give useful additional context or information. If it is a picture of a computer keyboard when talking about online services &ndash; this is probably not that useful to users. If you use a picture of a new state-of-the-art hospital when it is opened &ndash; this probably is useful.</p>
        <p>Image size for featuring: 960x640 pixels, 72 dpi, landscape</p>

        <h2 id="attribution">4.2.1 Attribution</h2>
        <p>When attributing images, use this format:<br />
        Francis Maude shakes hands with Mark Serwotka. Picture: George Roberts / Crown copyright.</p>

        <h2 id="alt-text">4.2.2 Alt text</h2>
        <p>Alt text is used as an alternative to an image for people who use screen readers.</p>
        <p>Use alt text where you need to help users understand the visual content. If an image is not essential to understanding the content, use &ldquo;&rdquo;.</p>
        <p>For example, don&rsquo;t tell people there is a logo on the page. However, if there is a picture of a minister in a tank, put in an appropriate description.</p>

        <h2 id="captions">4.2.3 Captions</h2>
        <p>Keep captions under 140 characters including attribution if possible. Exceptions can be made if necessary, eg if you are listing people in a photograph.</p>

        <h2 id="job-titles">4.3 Job titles</h2>
        <p>In the first instance, refer to a minister by their commonly known title, eg Justice Secretary Kenneth Clarke. After that, refer to them by name only, eg Kenneth Clarke.</p>
        <p>In some instances, like appointments or official communications, you may have to refer to someone by their full title, eg The Right Honourable Lord Chancellor and Secretary of State for Justice Kenneth Clarke.</p>
        <p>Ministers and MPs are given their full titles without the Mr or Mrs &ndash; for example, Prime Minister David Cameron. Use the commonly understood acronym &lsquo;MP&rsquo; where possible, not &lsquo;Member of Parliament&rsquo;.</p>

        <h2 id="summaries">4.4 Summaries</h2>
        <p>There is a 140 character limit. The summary is what users will see in search results, so make sure you have enough specific facts to inform the user.</p>

        <h2 id="tags">4.5 Tags</h2>
        <p>Think about where your users are going to look for the content &ndash; it might be different to where we know it is in government.</p>
        
        <h2 id="titles">4.6 Titles</h2>
        <p>Think about how the title will look in search on GOV.UK and on search engines: you are now on a site with (potentially) similar titles for policies and news articles. Make sure your titles are clear for the content type you are using.</p>
       
        <h2>Content types </h2>
          
        <h2 id="case-studies">5. Case studies</h2>
        <p>Case studies are real-world examples that show a need or outcome, it&rsquo;s not for details of programmes.</p>
        
        <h3>Titles</h3>
        <p>These can be more &lsquo;newsy&rsquo; than policy titles but should give the reader a clear idea of what they are going to get.</p>
        <p>Good example: UK money helps to build new homes in Darfur</p>
        <p>Bad example: After the war</p>

        <h3>Opening paragraph</h3>
        <p>One paragraph, 3 sentences or fewer. You want a short, sharp introduction that gives facts: what happened, why and the result.</p>
        <p>Good example:<br />
        The war in Darfur left many people without homes. We gave the Sudanese government &pound;x money and 500 builders to help build homes for 1,000 families.</p>

        <h3>Body copy</h3>
        <p>There are no set headings but make sure you include specific facts about:</p>
        <ul>
          <li>how the case study supports a particular policy (include links to the policy/detail pages)</li>
          <li>stats and facts: how many people this is going to help, how much money is going where etc</li>
          <li>the human element: who is benefiting and how</li>
        </ul>
        <p>Example:</p>
        <p>The 7-year war in Darfur (2003 to 2010) left x people homeless. Despite the ceasefire in 2010, the region is still unstable and work to rebuild homes is slow.</p>
        <p>We sent [building company, builders etc] to Darfur in June 2011. In 6 months they built 50 homes, which will house 200 people including 130 children.</p>
        <p>George, husband and father of 4 children, said:</p>
        <p>&ldquo;It has made such a difference to our lives. My wife was ill and our children were getting sick. We were crammed into a tiny house with 5 other families. The living conditions were awful. Now we have a clean house to ourselves. The children share a room but they love the space and get up to mischief.&rdquo;</p>
        <p>Keep to the usual style. Explain any unusual terms and keep a friendly, informative tone. It is not a magazine and we won&rsquo;t be using slang etc but keep the language easy to understand.</p>
          
        <h3>Video</h3>
        <p>You can use them. The format has to be: http://www.youtube/[filename]</p>

        <h3>Images</h3>
        <p>The first image on the page will be placed automatically, top left.  Subsequent images, and all videos, can be placed in the relevant part of the text using Markdown.</p>

        <h3>Quotes</h3>
        <p>Include quotes but don&rsquo;t overload the page with them unless it is a straight interview. Use 5 or fewer. Use the quotation Markdown for each paragraph.</p>

        <h3>Background</h3>
        <p>Giving context is important but don&rsquo;t overload the page with the past.</p>
        
        <h2 id="about-us">6. Corporate pages: about us</h2>
        <p>Tell users what your department actually <strong>does</strong>. Don&rsquo;t give mission statements and visions &ndash; tell users what you are actually doing for them and what you are responsible for.</p>

        <h3>What we do</h3>
        <p>Use &lsquo;we&rsquo; throughout &ndash; is should be very obvious who the &lsquo;we&rsquo; is on this page more than any other.</p> 
        <p>Remember to:</p>
        <ul>
          <li>keep it active, personal and relevant</li>
          <li>aim for 30 words</li> 
          <li>give an overall view of your department&rsquo;s work &ndash; you may want to highlight areas users may not have thought you are responsible for</li> 
          <li>make sure you use plain English &ndash; this is not the time for SEO-ing jargon words for niche audiences. You can do that on specific lower-level pages</li>
        </ul>
        <p>There are specific pages for you to give more detail, for example: energy use or governance. Keep this page short and concise.</p>

        <h3>Responsibilities</h3>
        <p>Lead with &lsquo;We are responsible for:&rsquo; and bullet a list of your responsibilities. Keep them active, clear and not too detailed &ndash; you can do that in your <a href="policies">policies.</a></p>
        <p>Maximum: 7 bullets.</p>

        <h3>Priorities</h3>
        <p>Lead with: &lsquo;In 2012 and 2013, our priorities will be:&rsquo; (for this year, obviously. Change it next year.)</p>
        <p>It would be best if you took your main priorities based on your business plan &ndash; these are normally specific, clear and succinct.</p> 
        <p>Maximum: 7 bullets.</p>
        
        <h2 id="biographies">6.1. Corporate pages: biographies</h2>
        <h3>Ministerial biographies</h3>
        <p>Remember to:</p>
        <ul>
          <li>keep it short; half a page is plenty for a bio</li>
          <li>lead with: [name] was appointed [title] in [date]. [He/she] is the [party] MP for [consituency]</li>
          <li>first name terms: The Rt Hon Nick Clegg MP at the top of the page, then use Nick Clegg at first mention, then Nick </li>
          <li>a Lord or Baroness will always use their title and surname eg Baroness Warsi</li>
          <li>education: avoid &lsquo;read&rsquo; &ndash; use &lsquo;studied&rsquo;</li>
          <li>political career: a few sentences of career highlights in chronological order; if this is long, use bullet points, with an introductory sentence</li>
          <li>career outside politics: if none, use &lsquo;Political career&rsquo; </li>
          <li>personal life: delete this section if you don&rsquo;t need it and don&rsquo;t include children&rsquo;s names here</li>
        </ul>

        <h3>Management biographies</h3>
        <p>Use a maximum of 3 sentences to explain what the manager is doing and 5 bullets on career highlights.</p>    

        <h2 id="energy-use">6.2. Corporate pages: energy use</h2>
        <p>Tell people which buildings you are monitoring and what you are doing to make sure energy use is efficient.</p>
        <p>Add a link to your energy efficiency certificate as a publication.</p>
        <p>Link to any third party hosted real time energy data tools.</p>
       
        <h2 id="personal-information-charter">6.3. Corporate pages: personal information charter</h2>
        <p>Lead with: &lsquo;Our personal inforation charter contains the standards you can expect when we ask for, or hold, your personal information. It also covers what we ask of you, to help us keep information up to date.&rsquo; </p>
        <p>There are no set headings but include why you ask for information, what you do with it and how users can ask to get copies of the information you hold about them. Look at <a href="https://www.gov.uk/government/organisations/department-for-transport/about/personal-information-charter">DfT&rsquo;s personal charter</a> for an example. </p>

        <h2 id="publication-scheme">6.4. Corporate pages: publication scheme</h2>
        <p>Start by telling users what a publication scheme is. The opening paragraph should be:</p>
        <p>&ldquo;The publication scheme specifies the categories of information that the department and its agencies publish and explains how to get that information.&rdquo;</p>
        <p>Next, add all your publication links under these headings:</p> 
        <ul>
          <li>Classes of information (H2)</li>
          <li>What we do (H3):</li>
          <li>What we spend and how we spend it (H3)</li>
          <li>How we make decisions (H3)</li>
          <li>What our priorities are and how we are doing (H3)</li>
          <li>Our policies and procedures (H3)</li>
          <li>Lists and registers (H3)</li>
          <li>The services we offer (H3)</li>
        </ul>
        <p>If you have too many publications, link to a pre-filtered search on the publications page.</p>
        <p>You can then add something like:</p>
        <p>&ldquo;We generally won&rsquo;t publish information that is:</p>
        <ul>
          <li>protected from disclosure</li>
          <li>in draft form</li>
          <li>no longer readily available</li>
        </ul>
        <p>Archived information previously on our website is available from the National Archives website [insert a relevant link here].&rdquo;</p>
        <p>Then you can go on to say that anything not published under the scheme can be requested under Freedom of Information 
 and add your department&rsquo;s FOI contact details.</p>
        <p>End by giving users any additional information you want to include like pricing and contact details. There are no set headings at the moment but as new depts come onto GOV.UK, we may make this guidance more specific.</p>
      
        <h2 id="stats">6.5. Corporate pages: statistics at [department]</h2>
        <p>At the moment (January 2013), there is no set style for statistics &ndash; we are working on it.</p>
        <p>However, usual usability rules apply: orientate your user in the first paragraph and group your statistics under logical headings so the user can scan easily.</p>
        <p>Have a look at the <a href="https://www.gov.uk/government/organisations/department-of-energy-climate-change/about/statistics">DECC page</a> as an example</p>
           
        <h2 id="working-with">6.6. Corporate pages: working with [dept]</h2>
        <p>Again, no set headings but include:</p>
        <ul>
          <li>what sort of roles you might recruit for</li>
          <li>benefits to working for your department &ndash; travel, holiday, pension</li>
          <li>training and development opportunities</li>
          <li>benefits of working for the civil service &ndash; sports etc</li>
          <li>a link to <a href="http://www.civilservice.gov.uk/recruitment">Civil Service recruitment website</a> or other relevant recruitment websites</li>
        </ul>
        
        <h2 id="welsh-language-scheme">6.7. Welsh language scheme</h2>
        <p>Whilst this is a legal scheme there is no need to lose users with garbled, legal language. Make it easy for users to understand what the scheme means for them.</p>
      
        <h2 id="consultations">7. Consultations</h2>
        <p> This is your chance to ask users to engage with government. Be specific, clear, open and findable.</p>

        <h3>Titles</h3>
        <p>Use colons as connectors and use very plain language. If you have to use jargon or a reference number, make sure you also provide language your all users will know if it is relevant for them. </p>

        <h3>Body text</h3>
        <p>Give a short, succinct summary of what the consultation is asking people to comment on. Again, keep jargon to an absolute minimum. As government, we have to keep all users in mind. We can&rsquo;t exclude people by using unclear language. </p>
        <p>Keep it to under 100 words. </p>

        <h3>Attachments</h3>
        <p>When you upload the attachment it will automatically show the front page of the consultation. The type of document, number of pages and file size are captured automatically.</p>
        <p>The title field for this attachment will be displayed as the link text to download or open the file. This should be the full, official title of the publication as written on its front cover.</p>
        <p>When a government response is available, upload those files to the consultation page so that the whole consultation is findable at a single URL.</p>
      
        <h2 id="news">8. News stories</h2>
        <p>News content directly follows the common style guide, with the exceptions listed below.</p>
        <p>News shouldn&rsquo;t read like a press release &ndash; it should add value to a press release by increasing comprehensibility and user-focus, and removing spin.</p>

        <h2>Titles</h2>
        <p>What is the actual story? Tell it in a few words.</p>
        <p>&ldquo;Minister visits factory&rdquo; is not a story. &ldquo;Vince Cable tells factory workers about workplace law reforms&rdquo; gives the reader a sense of what the story is about.</p>
        <p>Avoid &lsquo;teasing headlines&rsquo;, puns or wordplay &ndash; these make your story hard for people to find. Use the words most people use for the situation. This helps your search ranking.</p>
        <p>Avoid print conventions / &lsquo;journalese&rsquo; eg &ldquo;Minister in youth homelessness bid&rdquo; (&lsquo;bid&rsquo; is used in print where headline space is in short supply).</p>
        <p>Good example:<br />
        Granny in near-death wolf escape</p>
        <p>Bad example:<br />
        Girl goes into forest, encounters problems</p>

        <h2>Introductions</h2>
    
        <h2>Summaries</h2>
        <p>Summaries end with a full stop.</p>
        <p>Summaries do appear on news stories but not on other content types.</p>
        
        <h2>Body copy</h2>
        <p>Introductions should be 15 to 50 words. Aim to tell the story in one or two sentences, eg who, what, where, when, why.</p>
        <p>Here&rsquo;s how to write effective body copy:</p>
        <ul>
          <li>the first paragraph of body copy should lead on from the introduction paragraph &ndash; it should not repeat the information</li>
          <li>use &lsquo;inverted pyramid&rsquo; approach with most important information at the top tapering down to lesser detail</li>
          <li>paragraphs should have no more than 5 sentences each</li>
          <li>large blocks of text should be split by regular sub-headers</li>
          <li>ensure copy includes keywords to boost natural search rankings</li>
          <li>use video and images</li>
        </ul>

        <h2>Sub-headers</h2>
        <p>For news stories of fewer than than 150 words a sub-header below the introduction is discretionary.</p>

        <h2>Article length</h2>
        <p>No lower limit, although the value of a story under 150 words should be questioned.</p>
        <p>Upper limit of 750 words &ndash; with case-by-case exceptions (eg some Budget pages).</p>

        <h2>Quotes</h2>
        <p>Do not include more than 2 concurrent sentences of quotes unless the quotation/speech is the story.</p>

        <h2 id="policy">9. Policy pages</h2>
        <p>A policy is how the government plans to achieve a specific outcome.</p>
        <p>Policies on GOV.UK have 4 parts:</p>
        <ul>
          <li>a title</li>
          <li>a cover sheet</li>
          <li>latest tab (this is generated automatically)</li>
          <li>supporting detail pages</li>
        </ul>

        <h2>Titles</h2>
        <p>Policy titles should express the specific outcome the government is seeking to achieve. They should be:</p>
        <ul>
          <li>clear</li>
          <li>succinct</li>
          <li>specific enough to allow someone to measure progress and achievement</li>
          <li>jargon-free</li>
          <li>active: eg &lsquo;increasing x&rsquo;, &lsquo;reducing y&rsquo;, &lsquo;preventing z&rsquo;, &lsquo;protecting x from y&rsquo;</li>
          <li>related to an outcome</li>
        </ul>
        <p>Use words the wider audience would use. Don&rsquo;t use &lsquo;The x report&rsquo; unless that search term is higher than the explanation of what &lsquo;The x report&rsquo; says.</p>
        <p>Good examples:</p>
        <ul>
          <li>Expanding and improving the rail network</li>
          <li>Making roads safer</li>
          <li>Increasing the number of successful small businesses</li>
        </ul>
        <p>Bad examples:</p>
        <ul>
          <li>Charter for business</li>
          <li>Tackling climate change</li>
        </ul>

        <h2>Issue (mandatory)</h2>
        <p>This should answer the question &lsquo;why does the government have this policy?&rsquo;.</p>
        <p>Give a short, clear and specific description of the problem or opportunity and a brief explanation of what the government is going to do or is doing about it.</p>
        <p>This section isn&rsquo;t:</p>
        <ul>
          <li>about the history</li>
          <li>what led to the policy being implemented</li>
          <li>the government&rsquo;s actions or intended actions</li>
        </ul>
        <p>Example:</p>
        <p>The public sector &ndash; including central government, local councils and devolved administrations &ndash; accounts for around 3% of the UK&rsquo;s carbon emissions. In England alone, the government spends &pound;2.5 billion on  energy for buildings and &pound;1.2 billion on owned-vehicle fuel.</p>
        <p>Improving energy efficiency in the public sector will result in a better use of taxpayers&rsquo; money and help the UK meet existing climate change agreements.</p>

        <h2>Actions (mandatory)</h2>
        <p>This section details what the government is doing about the issue or to achieve the outcome in the policy title.</p>
        <p>Actions should be specific, measurable and time-bound.</p>
        <p>Summarise briefly what government is doing now and what it will do next &ndash; one short paragraph or bullet point for each action with links to supporting detail pages where relevant.</p>
        <p>Past actions go into the background section. If an action was taken in the past but the effects are still being felt (eg the benefits of successfully lobbying the EU), then it is still current. If an action was taken, and then replaced by related and further action, policy, etc, then it&rsquo;s background.</p>
        <p>Example:</p>
        <p>To increase our energy efficiency, by 2015 the government will:</p>
        <ul>
          <li>reduce greenhouse gas emissions by 25% from the whole estate and business-related transport, by introducing x scheme</li>
          <li>make sure the goods, services and suppliers it chooses are energy efficient</li>
        </ul>

        <h2>Background (mandatory)</h2>
        <p>This section should explain how this policy and set of actions came about. Provide essential information for understanding the context of the policy, issue and actions.</p>
        <p>This isn&rsquo;t a dumping ground for information that doesn&rsquo;t fit the other headings, nor a history of everything, but a clear indication of how the policy got to where it is.</p>
        <p>Example:</p>
        <p>We announced our intention to do x as part of the coalition agreement.</p>
        <p>We commissioned research into y in 2010. This showed that that the most cost-effective and useful action we could take would be to do z.</p>
        <p>We consulted experts at an event in 2011 and worked with aaa and bbb to develop our action plan.</p>

        <h2>Who we&rsquo;re consulting or who we&rsquo;ve consulted (optional and depending on time)</h2>
        <p>Explain who has been or will be consulted or involved in the policy, and in what way.</p>
        <p>List any consultations &ndash; formal or informal. Give some detail about what is being done and by whom, don&rsquo;t just add a list of links.</p>
        <p>Example:</p>
        <p>The government ran a consultation on &lsquo;Breaking the cycle: effective punishment, rehabilitation and sentencing of offenders&rsquo;. This set out our proposals for effectively punishing and rehabilitating offenders and reforming sentencing. Following that consultation, we revised our plans to xxx and yyyy.</p>

        <h2>Impact (optional)</h2>
        <p>List (and link inline to) any impact assessment publications.</p>
        <p>Briefly summarise the main points arising from the impact assessments.</p>

        <h2>Bills and legislation (optional)</h2>
        <p>Give summary details of relevant legislation to explain the legal context for the policy and if the policy will mean changes to the law.</p> 
        <p>Write full sentences, not just a list of related laws, and add links where relevant.</p>

        <h2>Who we are working with (optional)</h2>
        <p>List the organisations which have a major involvement, and what work is being done by them or with them.</p>
        <p>Write full sentences, don&rsquo;t just list the organisations.</p>

        <h2>Detail pages (optional)</h2>
        <p>These pages are for users who want to know more about the actions listed on the cover sheet. So have one detail page for each action.</p>
        <p>They should provide supporting detail about the issue and actions.</p>
        <p>For example, if the actions include a programme costing &pound;x and running for 6 months, the detail page should provide further information about who is involved, what they are spending the money on and how.</p>
        <p>These pages must not be used as a dumping ground for material that doesn&rsquo;t fit under other headings.</p>
        <p>If appropriate, include a supplementary detail page called &lsquo;evidence&rsquo; or &lsquo;research&rsquo;. This can be used to present the most important research and statistics relating to the policy.</p>

        <h2 id="publications">10. Publications</h2>
        <p>Publications are &lsquo;stand-alone documents&rsquo;. They are date-stamped and usually not updated once published. Don't use publications when you should be adding an attachment to another Inside Government format, for example: meeting minutes and agendas should be attachments. </p>

        <h2>Titles</h2>
        <p>Titles don&rsquo;t have to reflect the &lsquo;official&rsquo; publication title. Keep them short and search- and user-friendly.</p>
        <p>Front-load all titles &ndash; get all the most important words at the front of the sentence.</p>
        <p>Good example:<br />
        Income Tax reform: impact assessment</p>
        <p>Bad example:<br />
        An assessment of the impact of proposed reforms to Income Tax</p>
        <p>You can mention the report title etc in the summary or page copy if you think users will search for that term.</p>
        <p>Good example:<br />
         &lsquo;Improving government online services&rsquo;</p>
        <p>Bad example:<br />
         &lsquo;The Varney report&rsquo;</p>

        <h2>Summary</h2>
        <p>Give a short, 140 character summary and end with a full stop.</p>

        <h2>Body text &ndash; what it&rsquo;s for</h2>
        <p>The body of a publication page is used to provide a summary of the publication in plain, neutral language &ndash; to reassure the user that it is (or isn&rsquo;t) what they&rsquo;re looking for. Include what the publication is about and its purpose. Publications often outlive governments so keep the language politically neutral.</p>
        <p>Include links to related publications but use series to group them if more than a few.</p>
        
        <p>Good example:<br />
        These reports describe the effect of government proposals to reduce the amount of money spent on legal aid. The aim of the reforms is to make sure legal aid is still available for support and representation in cases where it is justified.</p>
        
        <h2>Attachments &ndash; title field</h2>
        <p>Use the official title of the document.</p>
     
        <h2 id="speeches">11. Speeches</h2>
        <p>In the &lsquo;type&rsquo; dropdown, select:</p>
        <ul>
          <li>Transcript &ndash; only for verbatim reports of exactly what the speaker said, NOT &lsquo;checked against delivery&rsquo;</li>
          <li>Draft &ndash; for what the speaker was supposed to say (&lsquo;checked against delivery&rsquo;, but don&rsquo;t state in the text)</li>
          <li>Speaking notes &ndash; if it is not a complete speech, eg a list of topics, cue cards</li>
          <li>Written statement &ndash; a written statement submitted to the House, a letter to newspaper etc</li>
          <li>Oral statement &ndash; often a statement to the House or a briefing to camera</li>
        </ul>
      </article>
    </li>
  </ol>
</div>
