<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <header>
    <h1>Government Digital Service <strong>Content principles</strong></h1>
    <p>This style guide is part of the <a href="/designprinciples">Design Principles</a> document.</p>
  </header>
  <nav>
    <ul class="sections">
      <li><a href="styleguide" class="gov-uk">GOV.UK</a></li>
    </ul>
  </nav>
  <ul>
        <li><a href="mainstream" class="current">Mainstream</a></li>
      <li><a href="insidegovernment">Inside Government</a></li>
      <li><a href="whatsnew">What's new?</a></li>
      <li><a href="accessiblepdfs">Accessible PDFs</a></li>
      </ul>

  <ol class="principles" id="mainstream">
    <li class="principle">
      <article>
        <h1 id="Style-differences-mainstream">3. Style differences: Mainstream<br />(citizen/business)</h1>
        <div class="outline">
          <p>This is a guide to style and conventions for the mainstream parts of GOV.UK (content and tools for citizens and businesses).</p>
        </div>

        <p>This style guide complements the GOV.UK style guide. Check <a href="https://www.gov.uk/designprinciples">www.gov.uk/designprinciples</a> for the up-to-date version.</p>
        <p>Users are more task-driven on mainstream GOV.UK. Make sure you keep the action of the task firmly in mind.</p>

        <h2>Formats</h2>
        <p>&lsquo;Formats&rsquo; is the term we use to define the different ways of presenting information, for example: guides have multiple pages of information around a topic, answers give a single, concise answer etc.</p>

        <h2 id="guides">3.1 Guides</h2>

        <h2>Overview</h2>
        <p>&lsquo;Part 1&rsquo; of the guide should contain the most important information that the majority of users will want to read &ndash; you can have an &lsquo;overview&rsquo; but you don&rsquo;t have to.</p>
        <p>Following parts should contain more specific information as well as content for niche audiences.</p>

        <h2>Parts</h2>
        <p>You should break content into parts based on user needs as well as the natural structure of the content.</p>
        <p>You don&rsquo;t have to use parts. If you find that you only have 3 or 4 small parts in a guide, consider simply having a page without parts where users can scroll.</p>
        
        <p>For consistency across the site, the following part titles (and where possible, order) should be standard:</p>

        <h2>Overview</h2>
        <ul>
          <li>Eligibility</li>
          <li>Apply for...</li>
          <li>Appeal against...</li>
        </ul>

        <p>Don&rsquo;t force a linear reading pattern.</p>
        <p>Don&rsquo;t duplicate information but also don't assume people have read all parts of the guide.<br />
          You can link between different parts of the guide using slugs.</p>

        <h2 id="answers">3.2 Answers</h2>
        <p>Answers assume prior knowledge and answer a popular &ndash; and specific &ndash; need (so you don&rsquo;t need to explain terms or provide context). For example, the answer &lsquo;National Minimum Wage rate&rsquo; should only give the rate, not information about what the National Minimum Wage is, how to pay it, etc (although you should be clearly linking to related content that does).</p>
        <p>Stick exclusively to the answer &ndash; don&rsquo;t be tempted to include extra information, however useful this might appear to be.</p>

        <h2>Summary</h2>
        <ul>
          <li>one or two sentence(s) summing up the answer for common case (aim for one)</li>
          <li>get the basic information quickly</li>
          <li>not an introduction</li>
          <li>use summary tags</li>
        </ul>

        <h2>Body</h2>
        <ul>
          <li>expand on summary with any necessary detail</li>
          <li>be strict with information you include</li>
          <li>don&rsquo;t stray off topic</li>
          <li>stick to task</li>
          <li>keep it consise &ndash; don&rsquo;t overload it with caveats</li>
          <li>no need to repeat info in subhead</li>
        </ul>

        <h2>Subheads</h2>
        <ul>
          <li>keep as close to search terms as possible</li>
          <li>avoid questions &ndash; use statements</li>
          <li>no need for the &lsquo;if&rsquo; (eg &lsquo;You&rsquo;re working abroad&rsquo;)</li>
          <li>H2 are primary subs</li>
        </ul>

        <h2>Formatting</h2>
        <ul>
          <li>don&rsquo;t break up text with too many subheads</li>
          <li>use formatting options (eg callouts) but not gratuitously</li>
          <li>use accessibility formatting</li>
        </ul>

        <h2>When does an answer become a guide?</h2>
        <p>When the answer:</p>
        <ul>
          <li>can&rsquo;t be simplified &ndash; eg too many variables &ndash; such as &lsquo;What hours your child can work&rsquo;</li>
          <li>depends on too many things, such as the age of your child and the type of job</li>
          <li>can&rsquo;t be summed up</li>
          <li>is low popularity search &ndash; it can form part of a longer guide so it doesn&rsquo;t clog up the results page</li>
        </ul>

        <h2 id="benefits-and-schemes">3.3 Benefits and schemes</h2>

        <h2>Overview</h2>
        <ul>
          <li>give people the main things they want to know without going into detail &ndash; eg rate and how long it&rsquo;s paid for</li>
          <li>separate main points (not one long paragraph)</li>
        </ul>

        <h2>Main sections</h2>
        <ul>
          <li>stick to the title and need</li>
          <li>resist the temptation to provide information around the subject (especially superfluous advice)</li>
          <li>use examples for complex calculations (use example markdown)</li>
          <li>stick to the common case &ndash; any edge cases get put in &lsquo;Further information&rsquo;</li>
        </ul>

        <h2>Further information</h2>
        <ul>
          <li>this isn&rsquo;t a dumping ground &ndash; content still needs to be useful &ndash; if you can't find a place for it, don&rsquo;t use it</li>
          <li>main information for this section: effect on other benefits, appeals and edge cases &ndash; also more information on how things are worked out</li>
        </ul>

        <section class="examples">

          <h2>Cheat sheet</h2>
          <div class="content">
            <article class="process no-image">
              <header>
                <h1>GOV.UK (mainstream) points of style cheat sheet</h1>
              </header>

              <div class="caption">
                <h3>Acronyms</h3>
                <p>Common acronyms don&rsquo;t need markdown (eg VAT, UK, US, EU, MP). Don&rsquo;t use acronyms if you&rsquo;re not going to use the acronym later in the text.</p>

                <h3>Addressing the user</h3>
                <p>Always address the user as &lsquo;you&rsquo; and don&rsquo;t use &lsquo;we&rsquo;, &lsquo;I&rsquo;, &lsquo;our&rsquo;, &lsquo;us&rsquo;.</p>

                <h3>Bullets and steps</h3>
                <p>This is how to do bullets:</p>
                <ul>
                  <li>have a lead-in sentence</li>
                  <li>don&rsquo;t end with &lsquo;and&rsquo;, &lsquo;or&rsquo; or a semicolon</li>
                  <li>don&rsquo;t use sentences within a bullet point &ndash; dashes, semicolons etc are okay</li>
                  <li>do use links in bullets (including downloads) if necessary</li>
                </ul>

                <h3>Steps</h3>
                <p>Use steps to guide a user through a process &ndash; steps are not a numbered list.</p>
                <p>You can use links and downloads (with appropriate markdown) in steps.</p>

                <h3>Capitalisation</h3>
                <p>Capitalise:</p>
                <ul>
                  <li>names of government schemes eg Right to Buy, Queen&rsquo;s Awards for Enterprise</li>
                </ul>

                <h3>Don&rsquo;t capitalise:</h3>
                <ul>
                  <li>government (unless part of a name)</li>
                  <li>the titles of publications &ndash; use an initial cap only, eg &lsquo;Implementing self-financing for council housing&rsquo; (unless it includes a phrase which should be capitalised for other reasons eg &lsquo;Review of the Right to Buy scheme&rsquo;).</li>
                  <li>seasons eg summer</li>
                  <li>compass directions eg the south of England</li>
                </ul>

                <h3>Contractions</h3>
                <ul>
                  <li>Use as much as possible (they&rsquo;ll, you&rsquo;ll etc)</li>
                </ul>

                <h3>Dates and times</h3>
                <ul>
                  <li>6 September, 1976</li>
                  <li>tax year 2011 to 2012</li>
                  <li>5:30pm and 11am (not 1730hrs)</li>
                  <li>midnight, not 00:00</li>
                  <li>Monday to Friday, 9am to 5pm</li>
                  <li>10 November to 21 December</li>
                </ul>

                <h3>Eg, etc and ie</h3>
                <p>Don&rsquo;t use full stops between or after these notations.</p>

                <h3>Email addresses</h3>
                <p>Always write in full (and as a hyperlink in markdown).</p>

                <h3>Legal language</h3>
                <p>If it is a legal requirement, use &lsquo;must&rsquo;.</p>
                <p>If this doesn&rsquo;t provide enough emphasis, use &lsquo;legal requirement&rsquo;.</p>

                <h3>Links</h3>
                <p>Always link to online services first. Link to offline services after (where possible).</p>
                <p>Use external markdown where necessary.</p>
                <p>Hover text: use the same capital style as the text you are marking.</p>

                <h3>Links to documents:</h3>
                <p>Download &lsquo;This is the document title&rsquo; (PDF, 69KB)<br />
                  Check all links on preview before publishing. Make sure link text is helpful (eg not &lsquo;click here&rsquo;).</p>

                <h3>Lists</h3>
                <p>Use bullets for more than a couple of items. If doing a list in a sentence, use commas to separate items, not semicolons.</p>

                <h3>Measurements</h3>
                <p>Use numerals and spell out measurements at first mention eg 10 kilograms.<br />
                  Abbreviate kilograms to kg only after it is first spelt out and use markdown.</p>

                <h3>Numbers and money</h3>
                <ul>
                  <li>&pound;186 million (not m)</li>
                  <li>&pound;860,000 not &pound;0.86m</li>
                  <li>1,000</li>
                  <li>all numbers are in numerics (including 1&ndash;9)</li>
                  <li>use words with common sense, eg when starting a headline: Thirty-four hula hoops found in researcher&rsquo;s drawer</li>
                  <li>use words for common expressions, eg &ldquo;the minister will be looking at one or two areas&rdquo;</li>
                </ul>

                <h3>Quotes</h3>
                <ul>
                  <li>use single quotes for unusual terms</li>
                  <li>text emphasis</li>
                  <li>use bold <strong>very</strong> sparingly</li>
                </ul>

              </div>
            </article>
          </div>
        </section>
      </article>
    </li>
  </ol>

</div>
