<% content_for :title do %>GDS design principles<% end %>


<div id="wrapper" class="design-principles styleguide">
  <header>
    <h1>Government Digital Service <strong>Content principles</strong></h1>
    <p>This style guide is part of the <a href="/design-principles">Design Principles</a> document.</p>
  </header>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="mainstream">
    <li class="principle">
      <article>
        <h1 id="Style-differences-mainstream">3. Mainstream (citizen/business) content types</h1>
        <div class="outline">
          <p>This is a guide to style and conventions for the mainstream parts of GOV.UK (content and tools for citizens and businesses).</p>
        </div>
        <p>This guidance is for the formats on <a href="https://www.gov.uk/">mainstream</a>. </p>
        <p>GOV.UK is aimed at every citizen in the UK.</p>
        <h2 id="mainstream-users">Mainstream users</h2>
        <p>Users are task-driven on mainstream GOV.UK. Make sure you keep the action of the task firmly in mind.</p>
        <p>There is no space for waffle anywhere on GOV.UK.</p>
        <p>We are opening up government information for anyone who is interested enough to look. We need to be clear and informative at all times.</p>

        <h2 id="guides">3.1 Guides</h2>

        <h2 id="overview">Overview</h2>
        <p>&lsquo;Part 1&rsquo; of the guide should contain the most important information that the majority of users will want to read &ndash; you can have an &lsquo;overview&rsquo; but you don&rsquo;t have to.</p>
        <p>Following parts should contain more specific information as well as content for niche audiences.</p>

        <h2 id="parts">Parts</h2>
        <p>You should break content into parts based on user needs as well as the natural structure of the content.</p>
        <p>You don&rsquo;t have to use parts. If you find that you only have 3 or 4 small parts in a guide, consider simply having a page without parts where users can scroll.</p>
        <p>For consistency across the site, the following part titles (and where possible, order) should be standard:</p>

        <h2 id="overview-1">Overview</h2>
        <ul>
          <li>Eligibility</li>
          <li>Apply for…</li>
          <li>Appeal against…</li>
        </ul>
        <p>Don&rsquo;t force a linear reading pattern.</p>
        <p>Don&rsquo;t duplicate information but also don&rsquo;t assume people have read all parts of the guide.</p>
        <p>You can link between different parts of the guide using slugs.</p>

        <h2 id="answers">3.2 Answers</h2>
        <p>Answers assume prior knowledge and answer a popular &ndash; and specific &ndash; need (so you don&rsquo;t need to explain terms or provide context). For example, the answer &lsquo;National Minimum Wage rate&rsquo; should only give the rate, not information about what the National Minimum Wage is, how to pay it, etc (although you should be clearly linking to related content that does).</p>
        <p>Stick exclusively to the answer &ndash; don&rsquo;t be tempted to include extra information, however useful this might appear to be.</p>

        <h2 id="summary">Summary</h2>
        <ul>
          <li>one or two sentence(s) summing up the answer for common case (aim for 1)</li>
          <li>get the basic information quickly</li>
          <li>not an introduction</li>
          <li>use summary tags</li>
        </ul>

        <h2 id="body">Body</h2>
        <ul>
          <li>expand on summary with any necessary detail</li>
          <li>be strict with information you include</li>
          <li>stick to task</li>
          <li>keep it concise &ndash; don&rsquo;t overload it with caveats</li>
          <li>no need to repeat info in subhead</li>
        </ul>

        <h2 id="subheads">Subheads</h2>
        <ul>
          <li>keep as close to search terms as possible</li>
          <li>avoid questions &ndash; use statements</li>
          <li>no need for the &lsquo;if&rsquo; (eg &lsquo;You&rsquo;re working abroad&rsquo;)</li>
          <li>H2 are primary subs</li>
        </ul>

        <h2 id="formatting">Formatting</h2>
        <ul>
          <li>don&rsquo;t break up text with too many subheads</li>
          <li>use formatting options (eg callouts) but don&rsquo;t overload the page</li>
        </ul>

        <h2 id="when-does-an-answer-become-a-guide">When does an answer become a guide?</h2>
        <p>When the answer:</p>
        <ul>
          <li>depends on too many things, for example the age of your child and the type of job</li>
          <li>can&rsquo;t be summed up</li>
          <li>is low popularity in search &ndash; it can form part of a longer guide so it doesn&rsquo;t clog up the results page</li>
        </ul>

        <h2 id="benefits-and-schemes">3.3 Benefits and schemes</h2>
        <h2 id="overview-2">Overview</h2>
        <ul>
          <li>give people the main things they want to know without going into detail &ndash; eg rate and how long it&rsquo;s paid for</li>
          <li>separate main points (not 1 long paragraph)</li>
        </ul>

        <h2 id="main-sections">Main sections</h2>
        <ul>
          <li>stick to the title and need</li>
          <li>resist the temptation to provide information around the subject (especially superfluous advice)</li>
          <li>use examples for complex calculations (use example Markdown)</li>
          <li>stick to the common case &ndash; any edge cases get put in &lsquo;Further information&rsquo;</li>
        </ul>
        <h2 id="further-information">Further information</h2>

        <ul>
          <li>this isn&rsquo;t a dumping ground &ndash; content still needs to be useful &ndash; if you can&rsquo;t find a place for it, don&rsquo;t use it</li>
          <li>main information for this section: effect on other benefits, appeals and edge cases &ndash; also more information on how things are worked out </li>
        </ul>
      </article>
    </li>
  </ol>
</div>
