<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <header>
    <h1>Government Digital Service <strong>Content Principles</strong></h1>
    <p>This style guide is part of the <a href="/designprinciples">Design Principles</a> document.</p>
  </header>
  <nav>
    <ul class="sections">
      <li><a href="styleguide" class="gov-uk current">GOV.UK</a></li>
    </ul>
  </nav>
  <ul>
    <li><a href="mainstream">Mainstream formats</a></li>
    <li><a href="inside-government">Inside Government formats</a></li>
    <li><a href="detailed-guides">Detailed guides</a></li>
    <li><a href="whats-new">What's new?</a></li>
    <li><a href="accessible-pdfs">Accessible PDFs</a></li>
  </ul>
      
      
  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <h1>Style guide: GOV.UK</h1>
        <div class="outline">
          <p>This style guide is for written content on the GOV.UK website.</p>
        </div>
        <p>The first part of this guide is for the whole of GOV.UK. Any information under www.gov.uk should follow this guidance.</p>
        <p>Then there are separate sections for the &lsquo;mainstream&rsquo; content (this is content for both businesses and citizens) and Inside Government content. These go over the different formats (eg the way we present the information) and include detail on specifics.</p>
        <h2>Ever&#45;changing style guide</h2>
        <p>This style guide will evolve &ndash; check <a href="https://www.gov.uk/designprinciples/styleguide">www.gov.uk/designprinciples/styleguide</a> for the up-to-date version. 
        
        <p>If there are style differences for separate sections of the site, you will see a &lsquo;Style differences&rsquo; heading under the main content; if not, this style is to be used across the whole of GOV.UK.</p>
      </article>
    </li>
    <li class="principle">
      <article>
        <h1 id="item_1">1. Tone of voice</h1>
        <div class="outline">
          <p>GOV.UK is for anyone who has an interest in how UK government policies affect them. Using this style guidance will help us make all GOV.UK information readable and understandable. </p>
        </div>
        <p>It has a welcoming and reassuring tone and aims to be a trusted and familiar resource.</p>
        
        <h2 id="active-voice">1.1 Active voice</h2>
        <p>Use the active rather than passive voice. This will help us write concise, clear content. 

        <h2 id="addressing-the-user">1.2 Addressing the user</h2>
        <p>Address the user as &lsquo;you&rsquo; where possible. Content on the site often makes a direct appeal to citizens and businesses to get involved or take action, eg: &lsquo;You can contact <abbr title="HM Revenue &amp; Customs">HMRC</abbr> by phone and email&rsquo; or &lsquo;Pay your car tax.&rsquo;</p>

        <h2>Style differences</h2>
        <p>Mainstream: Don&rsquo;t use &lsquo;we&rsquo;, &lsquo;I&rsquo;, &lsquo;our&rsquo;, &lsquo;us&rsquo;.<br />
          Inside Government: Use &lsquo;we&rsquo; if the &lsquo;we&rsquo; is obvious from the context, eg it&rsquo;s clearly a department or the government.</p>

        <h2 id="be-concise">1.3 Be concise</h2>
        <p>To keep content understandable, concise and relevant, it should be:</p>
        <ul>
          <li>specific</li>
          <li>informative</li>
          <li>clear and concise</li>
          <li>brisk but not terse</li>
          <li>incisive (friendliness can lead to a lack of precision and unnecessary words) &ndash; but remain human (not a faceless machine)</li>
          <li>serious but not pompous</li>
          <li>emotionless &ndash; adjectives can be subjective and make the text sound more emotive and like spin</li>
        </ul>

        <p>You should:</p>
        <ul>
          <li>use contractions (eg can&rsquo;t)</li>
          <li>not let caveats dictate unwieldy grammar &ndash; eg say &lsquo;You can&rsquo; rather than &lsquo;You may be able to&rsquo;</li>
          <li>use the language people are using &ndash; use Google Insights to check for terms people search for</li>
          <li>not use long sentences with complicated sub-clauses</li>
          
        </ul>
        <p>(Note: words ending in &lsquo;&ndash;ion&rsquo; and &lsquo;&ndash;ment&rsquo; tend to make sentences longer and more complicated than they need to be.)</p>
       
        <h2 id="gender-neutral-text">1.4 Gender-neutral text</h2>
        <p>Make sure text is gender neutral wherever possible.</p>

        <h2 id="words-to-avoid">1.5 Words to avoid</h2>
         <p>We lose trust from our users if we write government &rsquo;buzzwords&rsquo; and jargon. Often, these words are too general and vague and can lead to misinterpretation or empty, meaningless text. We need to be specific, use plain English and be very clear about what we are doing. Government communications can generally do very well without these words:</p>
        <ul>
          <li>agenda (unless it is for a meeting)</li>
          <li>advancing</li>
          <li>collaborate (use &lsquo;working with&rsquo;)</li>
          <li>combating</li>
          <li>commit/pledge (we need to be more specific &ndash; we&rsquo;re either doing something or we&rsquo;re not)</li>
          <li>countering</li>
          <li>deliver (pizzas, post and services are delivered &ndash; not abstract concepts like &lsquo;improvements&rsquo; or &lsquo;priorities&rsquo;)</li>
          <li>deploy (unless it is military or software)</li>
          <li>dialogue (we speak to people)</li>
          <li>disincentivise (and incentivise)</li>
          <li>empower</li>
          <li>facilitate (instead, say something specific about how you are helping)</li>
          <li>focusing</li>
          <li>foster (unless it is children)</li>
          <li>impact (as a verb)</li>
          <li>initiate</li>
          <li>key (unless it unlocks something. A subject/thing isn&rsquo;t &lsquo;key&rsquo; &ndash; it's probably &lsquo;important&rsquo;)</li>
          <li>land (as a verb. Only use if you are talking about aircraft)</li>
          <li>leverage (unless in the financial sense)</li>
          <li>liaise</li>
          <li>overarching</li>
          <li>progress (as a verb &ndash; what are you actually doing?)</li>
          <li>promote (unless you are talking about an ad campaign or something)</li>
          <li>robust</li>
          <li>slimming down (processes don't diet &ndash; we are probably removing x amount of paperwork etc)</li>
          <li>streamline</li>
          <li>strengthening (unless it&rsquo;s strengthening bridges or other structures)</li>
          <li>tackling (unless it is rugby, football, some other sport)</li>
          <li>transforming (what are you actually doing to change it)</li>
          <li>utilise</li>
        </ul>
        
         <p>Always avoid metaphors. For example:</p>
        <ul>
            <li>drive (you can only drive vehicles; not schemes or people)</li>
          <li>drive out (unless it is cattle)</li>
           <li>going forward (unlikely we are giving travel directions)</li>
           <li>in order to (superfluous &ndash; don&rsquo;t use it)</li>
           <li>one-stop shop (we are government, not a retail outlet)</li>
           <li>ring fencing</li>
        </ul>
        <p>With all of these words you can generally get rid of them by breaking the term into what you are actually doing. Be open and specific.</p>

        <h2 id="plain-english">1.6 Plain English &ndash; mandatory for all of GOV.UK</h2>
        <p>Use plain English. Don&rsquo;t use complicated or long words when easy or short ones will do. Use &lsquo;buy&rsquo; instead of &lsquo;purchase&rsquo;, &lsquo;help&rsquo; instead of &lsquo;assist&rsquo;, &lsquo;about&rsquo; instead of &lsquo;approximately&rsquo; and &lsquo;like&rsquo; instead of &lsquo;such as&rsquo;.</p>
        <p>Write content as simply as possible so that it is usable and accessible to everyone in the UK, regardless of their language and vocabulary skills.</p>
        <p>Write conversationally &ndash; picture your audience and write as if you were talking to them one-to-one but with the authority of someone who can actively help.</p>

        <p>All audiences should understand our content; this isn&rsquo;t &lsquo;dumbing down&rsquo;, this is opening up government information to all.</p>
      </article>
    </li>
    <li class="principle">
      <article>
        <h1 id="points-of-style">2. Points of style</h1>

        <h2 id="abbreviations-and-acronyms">2.1 Abbreviations and acronyms</h2>
        <p>Spell out acronyms at first mention unless they&rsquo;re well known, eg UK, DVLA, US, EU, VAT, MP etc. This includes government departments or schemes. Unless the acronym is widely known (for example, most people will probably know what DVLA is but there are several interpretations for ECO), spell it out in full.</p>

        <p>The first time you use an abbreviation or acronym, explain it in full on each page, and then refer to it by initials. For example &ndash; HM Revenue &amp; Customs (<abbr title="HM Revenue &amp; Customs">HMRC</abbr>). Don&rsquo;t use an acronym if you&rsquo;re not going to use it again later in the text.</p>
        <p>Don&rsquo;t use full stops in abbreviations &ndash; BBC, not B.B.C.</p>
        <p>Quick reminder: Freedom of Information &ndash; you can make an <abbr title="Freedom of Information">FOI</abbr> request but not a request under the <abbr title="Freedom of Information">FOI</abbr> Act.</p>

        <h2 id="americanisms">2.2 Americanisms</h2>
        <p>Don&rsquo;t use Americanisms. You &lsquo;fill in&rsquo; a form, not &lsquo;fill out&rsquo; a form.</p>
        <p>Exceptions include where it&rsquo;s part of a specific name, eg &lsquo;4th Mechanized Brigade&rsquo;.</p>
        <p>Organise &ndash; not organize (this isn&rsquo;t actually an Americanism but is often seen as such).</p> 
      

        <h2 id="ampersand">2.3 Ampersand</h2>
        <p>Use &lsquo;and&rsquo; rather than an &lsquo;&amp;&rsquo;, unless it is the logo image on Inside Government.</p>

        <h2 id="brackets">2.4 Brackets</h2>
        <p>Use (round brackets), not [square brackets]. The only acceptable use of square brackets is for explanatory notes in reported speech, eg a minister&rsquo;s speech on Inside Government:</p>
        <p>&ldquo;Thank you [Foreign Minister] Mr Smith.&rdquo;</p>

        <h2 id="bullet-points-and-steps">2.5 Bullet points and steps</h2>
        <p>How to use bullet points to make text easier to read:</p>
        <ul>
          <li>always use a lead-in sentence</li>
          <li>bullets should always make sense running on from the lead-in sentence</li>
          <li>use lower case at the start of the bullet</li>
          <li>don&rsquo;t use full stops within bullet points &ndash; where possible start another bullet point or use commas, dashes or semicolons to expand on an item</li>
          <li>don&rsquo;t put &lsquo;or&rsquo;, &lsquo;and&rsquo; after the bullets</li>
          <li>there should be no full stop after a bullet point</li>
          <li>don&rsquo;t use numbered bullets &ndash; there is a steps format for you to use</li>
          <li>use links in bullets (including downloads) if necessary</li>
        </ul>

        <h2>Steps</h2>
        <ul>
          <li>Use steps to guide a user through a process &ndash; steps are not a numbered list.</li>
          <li>You can use links and downloads (with appropriate markdown) in steps.</li>
          <li>Steps end in a full stop because each step should be a complete sentence.</li>
        </ul>

        <h2 id="capitalisation">2.6 Capitalisation</h2>
        <p>DON&rsquo;T USE BLOCK CAPITALS FOR LARGE AMOUNTS OF TEXT AS IT&rsquo;S QUITE HARD TO READ.</p>
        <p>Lower case is preferable but use capitalisation for:</p>
        <ul>
          <li>departments (specific government departments &ndash; see below)</li>
          <li>titles</li>
          <li>buildings</li>
          <li>place names</li>
          <li>brand names</li>
          <li>The Earth (ie our planet), Planet Earth and Earth sciences</li>
          <li>faculties, departments, institutes and schools</li>
          <li>job titles, ministers&rsquo; role titles eg Minister for Housing, Home Secretary</li>
          <li>names of groups, directorates and organisations eg Knowledge and Innovation Group</li>
          <li>Parliament, the House</li>
          <li>an Act or a Bill</li>
          <li>titles of specific Acts or Bills eg Housing Reform Bill</li>
          <li>names of specific, named government schemes known to people outside government eg Right to Buy, Queen&rsquo;s Awards for Enterprise</li>
          <li>specific select committees (eg Public Administration Select Committee)</li>
          <li>header cells in tables</li>
          <li>titles of publications (and within single quotes)</li>
        </ul>

        <p>Don&rsquo;t capitalise:</p>
        <ul>
          <li>government &ndash; never Government, even when referring to an elected administration, (so not the Afghanistan Government) unless part of a specific name, eg Local Government Association, or Inside Government</li>
          <li>minister, never Minister, unless part of a specific job title, eg Minister for the Cabinet Office</li>
          <li>department or ministry &ndash; never Department or Ministry, unless referring to a specific one, eg Ministry of Justice</li>
          <li>white paper, green paper, command paper, House of Commons paper</li>
          <li>director general (note no hyphen), deputy director, director, unless in a specific job title</li>
          <li>group and directorate, unless referring to a specific group or directorate, eg the Commercial Directorate</li>
          <li>departmental board, executive board, the board</li>
          <li>policy themes eg sustainable communities, promoting economic growth, local enterprise zones</li>
          <li>general mention of select committees (but DO cap specific ones &ndash; see above)</li>
        </ul>
     
        <h3>Capitals for government departments</h3>
        <p>Use the following conventions for government departments. A department using an ampersand in its logo image is fine but use &lsquo;and&rsquo; when writing in full text.</p>
        <ul>
          <li>Attorney General's Office (AGO)</li>
          <li>Cabinet Office (CO)</li>
          <li>Department for Business Innovation &amp; Skills (BIS)</li>
          <li>Department for Communities and Local Government (DCLG)</li>
          <li>Department for Culture Media &amp; Sport (DCMS)</li>
          <li>Department for Education (DfE)</li>
          <li>Department for Environment Food &amp; Rural Affairs (Defra)</li>
          <li>Department for International Development (DFID)</li>
          <li>Department for Transport (DfT)</li>
          <li>Department for Work &amp; Pensions (DWP)</li>
          <li>Department of Energy &amp; Climate Change (DECC)</li>
          <li>Department of Health (DH)</li>
          <li>Foreign &amp; Commonwealth Office (FCO)</li>
          <li>HM Treasury (HMT)</li>
          <li>Home Office (HO)</li>
          <li>Ministry of Defence (MOD)</li>
          <li>Ministry of Justice (MOJ)</li>
        </ul>
        <h2 id="dates-and-times">2.7 Dates and times</h2>
        <p>We use &lsquo;to&lsquo; in date and time ranges &ndash; not hyphens, en-rules or em dashes. For example:</p>
        <ul>
          <li>tax year 2011 to 2012</li>
          <li>5:30pm (not 1730hrs)</li>
          <li>midnight, not 00:00</li>
          <li>Monday to Friday, 9am to 5pm (put different days on a new line, don&rsquo;t seperate with a comma etc)</li>
          <li>10 November to 21 December</li>
          <li>10am to 11am (not 10&ndash;11am)</li>
        </ul>
        <p>When referring to &lsquo;today&rsquo; (eg in a news article) make sure you include the date as well. For example: &ldquo;The minister announced today (14 June, 2012) that&hellip;&rdquo;</p>

        <h2 id="eg-etc-ie">2.8 Eg, etc, and ie</h2>
        <p>Don&rsquo;t use full stops after or between these notations.</p>
        <p>If you feel the long form is required (&lsquo;for example&rsquo; instead of &lsquo;eg&rsquo;, &lsquo;specifically&rsquo; instead of &lsquo;ie&rsquo; etc) then this is at the content designer&rsquo;s discretion. User testing has shown that some people are not familiar with abbreviations such as eg, so consider your audience before abbreviating.</p>

        <h2 id="email-addresses">2.9 Email addresses</h2>
        <p>Write email addresses in full, in lowercase and as active links. Don&rsquo;t include any other words as part of the link.</p>

        <h2 id="geography-and-regions">2.10 Geography and regions</h2>
        <p>Compass directions are all in lower case: the north, the south of England, the south-west, north-east Scotland, south Wales.</p>
        <p>The same applies to wider regions: the west, western Europe, the far east, south-east Asia.</p>
        <p>Note the following: East End, West End (London), Middle East, Central America, North America, South America, Latin America.</p>
        <p>You can use a capital for a shortened version of a specific area or region if it&rsquo;s commonly known by that name, eg &lsquo;the Gulf&rsquo; for the Persian Gulf. If it&rsquo;s not in common use in the media etc, stick with lower case eg &lsquo;the strait&rsquo; for &lsquo;the Strait of Hormuz&rsquo;.</p>

        <h2>Great Britain</h2>
        <p>Refers only to England, Scotland and Wales excluding Northern Ireland.</p>
        <p>If you are telling users about multiple areas, use: &lsquo;England, Scotland and Wales.&rsquo;</p>

        <h2>Britain</h2>
        <p>Use UK and United Kingdom in preference to Britain and British (UK business, UK foreign policy, ambassador and high commissioner). Note: British embassy, not UK embassy.</p>

        <h2 id="hyphenation">2.11 Hyphenation</h2>
        <p>Hyphenate:</p>
        <ul>
          <li>re + word starting with &lsquo;e&rsquo; eg re-evaluate</li>
          <li>co-ordinate</li>
        </ul>
        <p>Don&rsquo;t hyphenate:</p>
        <ul>
          <li>reuse</li>
          <li>reorder</li>
          <li>reopen</li>
          <li>email</li>
        </ul>
        <p>If in doubt, don&rsquo;t use a hyphen unless it&rsquo;s confusing without it. If in doubt, check the Oxford English Dictionary for Writers and Editors.</p>

        <h2 id="italics">2.12 Italics</h2>
        <p>Don&rsquo;t use italics. Use &lsquo;single quotation marks&rsquo; if referring to a document, scheme or initiative.</p>

        <h2 id="legal-language">2.13 Legal language</h2>
        <p>If you&rsquo;re talking about a legal requirement, use: &lsquo;must&rsquo;, for example: &lsquo;your employer must pay you the National Minimum Wage (<abbr title="National Minimum Wage">NMW</abbr>)&rsquo;.</p>
        <p>If you feel that &lsquo;must&rsquo; doesn&rsquo;t have enough emphasis, then use: &lsquo;legal requirement / legally entitled&rsquo; etc&hellip; For example: &lsquo;Once your child is registered at school, you are legally responsible for making sure they attend regularly&rsquo;.</p>
        <p>When deciding whether to use &lsquo;must&rsquo; or &lsquo;legally entitled&rsquo; etc, consider how important it is for us to talk about the legal aspect, as well as the overall tone of voice.</p>
        <p>If a requirement is legal, but administrative, or part of a process that won&rsquo;t have criminal repercussions, then use: &lsquo;need to&rsquo;. For example: &lsquo;You will need to provide copies of your marriage certificate&rsquo;.</p>
        <p>This may be a legal requirement, but not completing it would just stop the person from moving on to the next stage of a process, rather than committing a more serious offence.</p>

        <h2 id="links">2.14 Links</h2>
        <p>Frontload and <strong>always link to online services first.</strong> Offer offline alternatives afterwards (where possible).</p>
        <p>Hover text: if you are linking to an external site, tell users in the hover text (even if you haven't in the on-screen text).</p>

        <h2 id="measurements">2.15 Measurements</h2>
        <p>Use numerals and spell out measurements at first mention.</p>
        <p>Abbreviating kilograms to kg is fine &ndash; you don&rsquo;t need to spell it out.</p>
        <p>If the measurement is more than one word, eg &lsquo;kilometres per hour&rsquo; then spell it out the first time it is used with the abbreviation. From then on, abbreviate. If it is only mentioned once, don&rsquo;t abbreviate.</p>
        <p>Use Celsius for temperature, eg 37&deg;C.</p>
      

        <h2 id="numbers">2.16 Numbers</h2>
        <p>Write <strong>all</strong> numbers in numerics (including 1 to 9) except where it&rsquo;s part of a common expression and it would look strange, eg &lsquo;one or two of them&rsquo;. Use common sense.</p>
        <p>One of the 13 words in this sentence is causing problems: this 1.</p>
        <p>This sentence would be better with &lsquo;one&rsquo; as the final word. If a number starts a sentence, write it out in full &lsquo;Thirty-four hula-hoops found in researcher&rsquo;s filing cupboard&rsquo; except where it starts a heading.</p>
        
        <p>For numerals over 999 &ndash; insert a comma for clarity. &lsquo;It was over 9,000&rsquo;. Spell out common fractions, such as one-half, but use a % sign for percentages, ie 50%.</p>
        <p>Use &lsquo;500 to 900&rsquo; and not &lsquo;500&ndash;900&rsquo; (except in tables).</p>

        <h3>Millions</h3>
        <p>Always use million in money (and billion), eg &pound;138 million. Use millions in phrases eg &ldquo;millions of people&rdquo;.</p>

        <h3>Ordinal numbers</h3>
        <p>Spell out first to ninth. After that use 10th etc.</p>
        <p>In tables, use numerals throughout.</p>


        <h2 id="money">2.17 Money</h2>
        <p>Use the &pound; symbol &ndash; &pound;75</p>
        <p>Don&rsquo;t use decimals unless pence are included &ndash; for example use: &pound;75.50 but not &pound;75.00.</p>
        <p>Don&rsquo;t use &lsquo;&pound;0.xxm&rsquo; for amounts less than &pound;1 million.</p>
        <p>Write out &lsquo;pence&rsquo; in full &ndash; &lsquo;calls will cost 4 pence per minute from a landline&rsquo;.</p>

        <h2 id="organisations">2.18 Organisations</h2>
        <p>All organisations are singular, for example: &lsquo;the government has decided to sell assets&rsquo;.</p>
        <p>Departments don&rsquo;t take the definite article, for example: &lsquo;DVLA&rsquo;, not &lsquo;the DVLA&rsquo;</p>
        <p>Use &lsquo;local council&rsquo;, instead of &lsquo;local authority&rsquo; where possible.</p>

        <h2 id="quotes-and-speech-marks">2.19 Quotes and speech marks</h2>
        <p>In long passages of speech, open quotes for every new paragraph, but close quotes only at the end of the final paragraph.</p>
        <h2>Single quotes</h2>
        <p>Use single quotes:</p>
        <ul>
          <li>in headlines</li>
          <li>links</li>
          <li>unusual terms</li>
          <li>when referring to words or publications, for example: &lsquo;Download the publication &lsquo;Understanding Capital Gains Tax&rsquo; (PDF, 360KB)&rsquo;</li>
        </ul>
        <h2>Double quotes</h2>
        <p>Double quotes in body text for direct quotations.</p>
        <h2>Block quotes</h2>
        <p>Use the block quote markdown for quotes longer than a few sentences.</p>

        <h2 id="Singular-plural-and-contractions">2.20 Singular, plural and contractions</h2>
        <p>Use contractions eg &lsquo;they&rsquo;ve&rsquo;, &lsquo;we&rsquo;ll&rsquo;. Avoid using &lsquo;should&rsquo;ve&rsquo;, &lsquo;could&rsquo;ve&rsquo;, &lsquo;would&rsquo;ve&rsquo; etc &ndash; these are hard to read.</p>

        <h2 id="SEO">2.21 Search engine optimisation (SEO)</h2>
        <p>Title points:</p>
        <ul>
          <li>keep it short &ndash; 8 words will appear in search so think about which 8 words are going to best convey your information</li>
          <li>remember you are on a single domain with large cross-overs of content</li>
          <li>concise &ndash; avoid stop words like of, in, at, for, and &ndash; search engines simply ignore these terms so if you use them, make sure they&rsquo;re not taking up the space of a keyword (but make sure it makes sense)</li>
          <li>frontload keywords</li>
          <li>include variations and abbreviations if they are popular in search</li>
          <li>should be specific so users can differentiate from other titles in search results, and so they make sense in isolation</li>
        </ul>
        <p>Meta description points:</p>
        <ul>
          <li>don&rsquo;t just repeat the title &ndash; meta descriptions should cover the scope of the content item and sell it to the intended audience</li>
          <li>include popular keywords found with keyword tools</li>
          <li>descriptions can get rid of ambiguity if titles are similar</li>
          <li>optimal length for meta descriptions is around 150 characters</li>
          <li>use dashes and commas</li>
          <li>don&rsquo;t use full stops</li>
          <li>define terms used in title if they're not popular in search</li>
        </ul>

        <h2 id="spaces">2.22 Spaces</h2>
        <p>Use only 1 space after a full stop, not 2.</p>

        <h2 id="telephone-numbers">2.23 Telephone numbers</h2>
        <p>Use &lsquo;Telephone: 011 111 111&rsquo; or &lsquo;Mobile:&rsquo; not &lsquo;Mob:&rsquo;.</p>
        <p>Use spaces between city and local exchange etc. Here are the different formats to use:</p>
        <ul>
          <li>01273 800 900</li>
          <li>020 7450 4000</li>
          <li>0800 890 567</li>
          <li>07771 900 900</li>
          <li>077718 300 300</li>
          <li>+44 (0)20 7450 4000</li>
          <li>+39 1 33 45 70 90</li>
        </ul>
        <p>When a number is memorable, group the numbers into easily remembered units, eg 0800 80 70 60.</p>

        <h2 id="titles">2.24 Titles</h2>
        <p>Remember all the search engine optimisation points and use colons to introduce the sub clause.</p>

        <p>Good example:<br />
          Income Tax reform: impact assessment</p>

        <p>Bad example:<br />
          An assessment of the impact of proposed reforms to Income Tax</p>

        <h2 id="transactions-and-services">2.25 Transactions and services</h2>
        <p>These are pre-transaction pages. Use <abbr title="Search Engine Optimisation">SEO</abbr> to define the title, so if people search for &lsquo;registry office&rsquo;, put that in and then explain the proper term is &lsquo;register office&rsquo;.</p>
        <p>Give one sentence of what the user can expect from the service &ndash; this will appear before the button.</p>
        <p><strong>&lsquo;What you need to know&rsquo; section</strong><br />
          This is where you put information that the user will need to complete the transaction and information about how long it takes, how much there will be to pay etc.</p>
        <p>You can add alternatives to the online transaction at the bottom of the page.</p>
      </article>
    </li>
  </ol>

</div>
