<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <header>
    <h1>Government Digital Service <strong>Content principles</strong></h1>
    <p>This style guide is part of the <a href="/designprinciples">Design Principles</a> document.</p>
  </header>
  <nav>
    <ul class="sections">
      <li><a href="styleguide" class="gov-uk">GOV.UK</a></li>
      <li><a href="mainstream">Mainstream</a></li>
      <li><a href="insidegovernment">Inside Government</a></li>
      <li><a href="whatsnew" class="current">What's new?</a></li>
    </ul>
  </nav>

  <div class="content">
    <h2>What's new?</h2>
    
    <h3>GOV.UK overall style changes/improvements</h3>
    <p>Markdown on links: when adding meaningful markdown, eg: &rdquo;Apply for a show licence on the footwear website&rdquo;, first word should be capped. We do need to tell people they are going to a different website. </p>
    <p>Helplines in text: will be lower case. For example: &lsquo;For all enquiries on how to use colons, call the GDS helpline on 020 7654 321&rsquo;</p>
    <p>We can use &lsquo;if&rsquo; in titles, if appropriate</p>
    <p>We&rsquo;ve added more &lsquo;words to avoid&rsquo; and moved it out of policies and into the main guide, so this list of words and phrases now affects all of GOV.UK</p>
    
    
    <h3>Inside government format changes</h3>
    <p>You've probably seen all this guidance but now but it is now on this guide.</p>
    <p>[Corporate pages](id="about-us")</p>
    <p>[Detailed guidance]</p>
    <p>[Case studies](id="case-studies")</p>
    <p></p>
  </div>
</div>
