<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <header>
    <h1>Government Digital Service <strong>Content principles</strong></h1>
    <p>This style guide is part of the <a href="/designprinciples">Design Principles</a> document.</p>
  </header>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="accessible-pdfs">
    <li class="principle">
      <article>
        <h1>What's new?</h1>
        <p>You'll find information about style updates on this page.</p>

        <h2>Changes for 8 March, 2012</h2>
        <h3>GOV.UK style changes/improvements</h3>
        <ul>
          <li>use midday, not 12 noon, noon or 12pm</li>
          <li>caps on <a href="/designprinciples/styleguide/capitalisation">acts and bills</a></li>
          <li><a href="/designprinciples/styleguide/dates-and-times">truncated months</a> are allowed if you are pressed for space, for example in tables, publication titles etc</li>
        </ul>

        <h3>Inside Government</h3>
        <p>More advice on <a href="/designprinciples/styleguide/attribution">attribution for photos</a></p>

        <h2>Changes from 18 February, 2012</h2>
        <h3>GOV.UK overall style changes/improvements</h3>
        <p>Markdown on links: when adding meaningful markdown, eg: &rdquo;Apply for a show licence on the footwear website&rdquo;, first word should be capped. We do need to tell people they are going to a different website. </p>
        <p>Helplines in text: will be lower case. For example: &lsquo;For all enquiries on how to use colons, call the GDS helpline on 020 7654 321&rsquo; (that&rsquo;s not a real number, by the way.)</p>
        <p>We can use &lsquo;if&rsquo; in titles, if appropriate.</p>
        <p>We&rsquo;ve added more &lsquo;words to avoid&rsquo; and moved it out of policies and into the main guide, so this list of words and phrases now affects all of GOV.UK. It&rsquo;s under the <a href="/designprinciples/styleguide#words-to-avoid">1.5 words to avoid</a> section.</p>
        <p>There is also new <a href="/designprinciples/insidegovernment#accessible-pdfs">guidance on accessible PDFs</a></p>

        <h3>Inside Government changes</h3>
        <p>There is a lot of updated guidance for this section. I'd suggest you read it all. The only parts that haven&rsquo;t changed are: news, speeches, policies and the style differences. So have a look at these:</p>
        <ul>
          <li><a href="/designprinciples/insidegovernment#case-studies">Case studies</a></li>
          <li><a href="/designprinciples/insidegovernment#about-us">Corporate pages</a></li>
          <li><a href="/designprinciples/detailedguidance">Detailed guidance</a></li>
        </ul>

      </article>
    </li>
  </ol>
</div>
