<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <header>
    <h1>Government Digital Service <strong>Content principles</strong></h1>
    <p>This style guide is part of the <a href="/designprinciples">Design Principles</a> document.</p>
  </header>
  <nav>
    <ul class="sections">
      <li><a href="styleguide" class="gov-uk">GOV.UK</a></li>
      <li><a href="mainstream">Mainstream</a></li>
      <li><a href="insidegovernment">Inside Government</a></li>
      <li><a href="whatsnew" class="current">What's New?</a></li>
    </ul>
  </nav>

  <div class="content">
    <h2>What's New?</h2>
  </div>
</div>