<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <header>
    <h1>Government Digital Service <strong>Content principles</strong></h1>
    <p>This style guide is part of the <a href="/designprinciples">Design Principles</a> document.</p>
  </header>
  <nav>
    <%= render "styleguide_sections" %>
  </nav>

  <ol class="principles" id="accessible-pdfs">
    <li class="principle">
      <article>
  <div class="content">
    <h2>What's new?</h2>
    <p>You'll find information about style updates on this page.</p>
    <h3>GOV.UK overall style changes/improvements</h3>
    <p>Markdown on links: when adding meaningful markdown, eg: &rdquo;Apply for a show licence on the footwear website&rdquo;, first word should be capped. We do need to tell people they are going to a different website. </p>
    <p>Helplines in text: will be lower case. For example: &lsquo;For all enquiries on how to use colons, call the GDS helpline on 020 7654 321&rsquo; (that&rsquo;s not a real number, by the way.)</p>
    <p>We can use &lsquo;if&rsquo; in titles, if appropriate</p>
    <p>We&rsquo;ve added more &lsquo;words to avoid&rsquo; and moved it out of policies and into the main guide, so this list of words and phrases now affects all of GOV.UK. It&rsquo;s under the <a href="jargon"> jargon</a> section.</p>
    <p><a href="accessible-pdfs">Guidance on accessible PDFs</a></p>
    
    <h3>Inside government format changes</h3>
    <p>There is a lot of updated guidance for this section. I'd suggest you read it all. The only parts that haven&rsquo;t changed are: news, speeches, policies and the style differences. So have a look at these:</p>
    <ul>
      <li><a href="case-studies">Case studies</a></li>
      <li><a href="corporate-pages">Corporate pages</a></li>
      <li><a href="Detailed-guidance">Detailed guidance</a></li>
    </ul>
    
  
        
    <h3>What's up next</h3>
    <p>We are going to be looking at:</p>
    <ul>
      <li>giving detailed guidance on tables</li>
      <li>alt text for links</li>
      <li>a-z on caps</li>
      <li>adding SEO guidance to this style guide</li>
    </ul>    
  
  </div>

