<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <header>
    <h1>Government Digital Service <strong>Content principles</strong></h1>
    <p>This style guide is part of the <a href="/designprinciples">Design Principles</a> document.</p>
  </header>
  <nav>
    <ul class="sections">
      <li><a href="styleguide" class="gov-uk">GOV.UK</a></li>
      <li><a href="mainstream">Mainstream</a></li>
      <li><a href="insidegovernment">Inside Government</a></li>
      <li><a href="whatsnew" class="current">What's new?</a></li>
    </ul>
  </nav>

  <div class="content">
    <h2>What's new?</h2>
    <p>Time: By 31 December 2012, we will be changing time from colons to full stops. So, for example: 4.00pm, not 4:30pm</p>
    <p>Markdown on links: when adding meaningful markdown, eg: "Apply for a show licence on the footwear website", first word should be capped. We do need to tell people they are going to a different website. </p>
    <p>Helplines in text: will be lower case. For example: 'For all enquiries on how to use colons, call the GDS helpline on 020 7654 321'</p>
<p>We can use 'if' in titles</p> 
  </div>
</div>