// BASE STYLESHEET FOR IE 7 COMPILER

$is-ie: true;
$ie-version: 7;

@import "application";

#wrapper.design-principles {
  &.styleguide {
    .principles {
      ol li {
        list-style: inside;
      }
    }
  }
}
