/*main.css*/

body{
	background-color:#EBC879;
	font-family: Georgia, serif;
	padding:0;
	margin:0;
}

h1, h2, h3 {
	font-weight: normal;
}
ol{
	margin:0;
	list-style-type:none;
	width:100%;
	padding:0;
}
ol li.principle{
	padding:0;
	margin:0;
	background-color: #82997F;
	clear:both;
	list-style-type:none;
	width:100%;
	-moz-box-shadow: 0px 8px 20px #000000;
	-webkit-box-shadow: 10px 8px 20px #000000;
	box-shadow: 0px 8px 20px #000000;
}
ol li.principle:nth-child(2n){
	background-color:#C9765C;
}

.js-enabled li.principle {
	position:fixed;
	top:0;
	z-index:1;
	display:block;
}
.js-enabled li.principle div.content{}

.js-enabled .current + .principle{
	
}
.js-enabled .current + .principle h1.principle-title{
	position:absolute;
	background-color:blue;
	font-size:30px;
	bottom:0;
};