/*main.css*/

html {
  font-size: 62.5%;
}

@media (max-width: 900px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 1100px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1500px) {
  html {
    font-size: 15px;
  }
}

#wrapper {
  color: #000;
  background: #fff;
  font-family: "Gill Sans W01 Book", "Gill Sans MT Pro", "Gill Sans", GillSans, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.4444444444;
  font-weight: 300;
  padding: 0 52px 13px 104px;
  padding: 0 5.2rem 1.3rem 10.4rem;
  margin: 0;
}

@media (max-width: 640px) {
  #wrapper {
    padding: 0 26px 13px;
    padding: 0 2.6rem 1.3rem;
  }
}

#wrapper * {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

#wrapper ol, 
#wrapper ol > li {
  list-style: none;
}

#wrapper header, #wrapper nav, #wrapper  .principles {
  position: relative;
  margin: 0 auto;
  max-width: 700px;
  max-width: 70rem;
}

#wrapper a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #2E8ACA;
}

#wrapper a:hover,
#wrapper a:focus,
#wrapper nav a:hover .caption,
#wrapper nav a:focus .caption {
  border-color: #ddd;
}

#wrapper a:active {
  color: #2E8ACA;
}

#wrapper nav a {
  border-bottom: none;
}

#wrapper nav a .icon {
  position: relative;
  float: left;
  clear: both;
  text-align: right;
  margin-left: -39px;
  margin-left: -3.9rem;
  width: 26px;
  width: 2.6rem;
  color: #aaa;
}

@media (max-width: 640px) {
  
  #wrapper nav a .icon {
    margin-left: 0;
    text-align: left;
  }

}

#wrapper nav a .caption {
  border-bottom: 1px solid #ddd;
}

#wrapper h1 {
  font-size: 45px;
  font-size: 4.5rem;
  line-height: 1.1555555556;
  font-weight: 300;
  padding: 6px 0 8px;
  padding: 1.8rem 0 0.8rem;
}

@media (max-width: 640px) {
  #wrapper h1 {
    font-size: 26px;
    font-size: 2.6rem;
  }
}

#wrapper h1 strong,
#wrapper article h1 {
  font-family: "Gill Sans W01 Medium", "Gill Sans MT Pro", "Gill Sans", GillSans, sans-serif;
  display: block;
  font-weight: 500;
  letter-spacing: 0.01em;
}

#wrapper header, 
#wrapper article {
  position: relative;
  clear: both;
  padding-bottom: 26px;
  padding-bottom: 2.6rem;
  padding-top: 78px;
  padding-top: 7.8rem;
  min-height: 1px;
}

#wrapper nav {
  padding-top: 26px;
  padding-top: 2.6rem;
}

@media (max-width: 640px) {
  #wrapper header, 
  #wrapper article {
    padding-top: 26px;
    padding-top: 2.6rem;
  }
  #wrapper nav {
    padding-top: 0;
  }
}

#wrapper article h1 {
  color: #dd322d;
}

#wrapper article h1:before {
  position: relative;
  float: left;
  clear: both;
  text-align: right;
  margin-left: -78px;
  margin-left: -7.8rem;
  width: 52px;
  width: 5.2rem;
  font-weight: 300;
  letter-spacing: -0.05em;
}

@media (max-width: 640px) {
  #wrapper article h1:before {
    margin-left: 0;
    width: auto;
    padding-right: 0.5em;
  }
}

#first:before {
  content: "1";
}

#second:before {
  content: "2";
}

#third:before {
  content: "3";
}

#fourth:before {
  content: "4";
}

#fifth:before {
  content: "5";
}

#sixth:before {
  content: "6";
}

#seventh:before {
  content: "7";
}

#eighth:before {
  content: "8";
}

#ninth:before {
  content: "9";
}

#tenth:before {
  content: "10";
}

#wrapper .outline p {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.21875;
  font-weight: 300;
  padding: 14px 0 12px;
  padding: 1.4rem 0 1.2rem;
}

#wrapper .outline p img {
  float: right;
  clear: both;
  width:auto;
  height: auto;
  max-width: 100%;
}

@media (max-width: 640px) {
  #wrapper .outline p {
    font-size: 21px;
    font-size: 2.1rem;
    padding: 8px 0 2px;
    padding: 0.8rem 0 0.2rem;
  }

  #wrapper .outline p img {
    display: none;
  }
}

#wrapper p.outline img.col-1of2 {
  width: 50%;
}

#wrapper p.outline img.col-2of3 {
  width: 66.6666666666%;
}

#wrapper p.outline img.col-1of2-5 {
  width: 40%;
}

#wrapper p.outline img.col-1of3 {
  width: 33.3333333333%;
}

#wrapper article h2 {
  font-family: "Gill Sans W01 Medium", "Gill Sans MT Pro", "Gill Sans", GillSans, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.1538461538;
  font-weight: 500;
  letter-spacing: 0.2em;
  padding: 16px 0 8px;
  padding: 1.6rem 0 0.8rem;
}

#wrapper article h3 {
  color: #DD322D;
  letter-spacing: 0;
  padding: 10px 0 3px;
  padding: 1rem 0 0.3rem;
}

#wrapper article ul {
  margin-bottom: 13px;
  margin-bottom: 1.3rem;
}

#wrapper article .content p {
  letter-spacing: 0;
  padding: 10px 0 3px;
  padding: 1rem 0 0.3rem;
}

#wrapper article section {
  position: relative;
  padding-top: 13px;
  padding-top: 1.3rem;
}

#wrapper article .examples {
  clear: both;
  overflow: visible;
}

#wrapper article .examples .content {
  position: relative;
  clear: both;
  width: auto;
  overflow: hidden;
  display: block;
}

@media (max-width: 640px) {
  #wrapper article .examples .content {
    margin: 0 -13px;
    margin: 0 -1.3rem;
  }
}

#wrapper article .examples .example,
#wrapper article .example a {
  border: none;
}

#wrapper article header {
  padding: 0;
}

#wrapper article .examples .process,
#wrapper article .examples .writing,
#wrapper article .examples .code,
#wrapper article .examples .design,
#wrapper article .examples .comparison {
  position: relative;
  overflow: hidden;
  margin-top: 1px;
  padding: 0;
  display: block;
  background: #eee;
}

#wrapper article .examples header {
  padding: 0 13px;
  padding: 0 1.3rem;
}

#wrapper article .examples h1 {
  border: none;
  color: black;
  font-family: Arial;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 9px;
  padding-top: 0.9rem;
  max-width: 75%;
}

#wrapper article .examples h3 {
  clear: both;
  padding: 26px 13px 13px;
  padding: 2.6rem 1.3rem 1.3rem;
}

#wrapper article .examples .caption {
  font-family: Helmet, Freesans, sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-size: 1.5rem;
}

#wrapper article .examples .highlight{
  font-weight: bold;
  color: #dd322d;
  background-color: #f8f8f8;
}

.header-context,
.beta-notice{
  display:none;
}

#wrapper article .examples p.status {
  position: absolute;
  right: 0;
  top: 8px;
  top: 0.8rem;
}

@media (max-width: 640px) {
  #wrapper article .examples p.status {
    font-family: "Gill Sans W01 Medium", "Gill Sans MT Pro", "Gill Sans", GillSans, sans-serif;
  }
}

#wrapper article .examples .code .example {
  margin: 0 13px;
  margin: 0 1.3rem;
  padding: 13px;
  padding: 1.3rem;
  background: white;
  border: 1px solid #ccc;
  color: black;
  font-family: monospace;
  line-height: 1.3;
  font-size: 14px;
  font-size: 1.4rem;
}

#wrapper article .examples .code .example * {
  font: inherit;
}

#wrapper article .examples .code .caption {
  margin: 0 13px 13px;
  margin: 0 1.3rem 1.3rem;
}

#wrapper article .examples .process .example {
  clear: both;
  float: left;
  display: inline;
  width: 33.33333333%;
}

#wrapper article .examples .process .example img {
  position: relative;
  top: 5px;
  top: 0.5rem;
  margin: 0 0 13px 6%;
  margin: 0 0 1.3rem 6%;
  width: 94%;
  height: auto;
}

#wrapper article .examples .process .caption {
  float: right;
  display: inline;
  width: 66.66666666%;
}

#wrapper article .examples .process.no-image .caption {
  width: 100%;
}

#wrapper article .examples .process .caption h2,
#wrapper article .examples .process .caption p {
  padding: 0 13px 13px;
  padding: 0 1.3rem 1.3rem;
}

#wrapper article .examples .design .example {
  clear: both;
  float: left;
  display: inline;
  width: 66.66666666%;
}

#wrapper article .examples .design .example img {
  position: relative;
  top: 5px;
  top: 0.5rem;
  margin: 0 0 13px 3%;
  margin: 0 0 1.3rem 3%;
  width: 97%;
  height: auto;
}

#wrapper article .examples .design .caption {
  float: right;
  display: inline;
  width: 33.33333333%;
}

#wrapper article .examples .design .caption h2,
#wrapper article .examples .design .caption p {
  padding: 0 13px 13px;
  padding: 0 1.3rem 1.3rem;
}

#wrapper article .examples .writing .example {
  margin: 0 13px;
  margin: 0 1.3rem;
  padding: 3px 13px 13px;
  padding: 0.3rem 1.3rem 1.3rem;
  background: white;
  color: black;
  font-family: Georgia, serif;
  font-style: italic;
  line-height: 1.3;
  font-size: 21px;
  font-size: 2.1rem;
}

#wrapper article .examples .writing .example * {
  font: inherit;
}

#wrapper article .examples .writing .caption {
  margin: 0 13px 13px;
  margin: 0 1.3rem 1.3rem;
}

#wrapper article .examples .comparison .example {
  overflow: hidden;
  margin: 0 13px;
  margin: 0 1.3rem;
}

#wrapper article .examples .comparison .example img {
  float: left;
  width: 50%;
}

#wrapper article .examples .comparison .caption {
  clear: both;
  margin: 0 13px 13px;
  margin: 0 1.3rem 1.3rem;
}



/* Statii */

#wrapper article p.status {
  float: left;
  margin: 0 13px;
  margin: 0 1.3rem;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 500;
  padding: 4px 6px;
  padding: 0.4rem 0.6rem;
  color: black;
  background-color: #ddd;
     -moz-border-radius: 3px;
      -ms-border-radius: 3px;
       -o-border-radius: 3px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

#wrapper article p.experimental {
  background-color: #D33883;
  color:#fff;
}
#wrapper article p.changeable{
  background-color: #F47E31;
  color:#fff;
}
#wrapper article p.tried{
  background-color: #7F9A48;
  color:#fff;
}

#popup.welcome-tour .welcome-content {
  background-color: #d43783;
}

#popup.welcome-tour .welcome-inner {
  background-color: #ea9bc1;
}


/* features added by JS */

@media screen {

  /* hacky preloader for dropdown background image */
  .js-enabled #wrapper {
    background-image: url(../images/dropdown_arrow_open.png);
    background-position: -5000px top;
    background-repeat: no-repeat;
  }

  .js-enabled #wrapper .examples {
    padding-top: 26px;
    padding-top: 2.6rem;
  }
  
  .js-enabled #wrapper .examples h2 {
    float: left;
    display: inline;
    overflow: hidden;
    min-width: 12em;
    padding: 11px 39px 1px 13px;
    padding: 1.1rem 3.9rem 1.1rem 1.3rem;
    margin-bottom: 1px;
    color: white;
    background: #dd322d url(../images/dropdown_arrow_closed.png) no-repeat right center;
    cursor: pointer;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
    -webkit-user-select: none;
           -user-select: none;
  }
  
  .js-enabled #wrapper .open-section h2 {
    background-image: url(../images/dropdown_arrow_open.png);
  }

  .lte-ie8 .js-enabled #wrapper .examples h2 {
    color: #000;
    background: transparent;
    padding: 11px 0 26px;
  }

  
  .js-enabled #wrapper .examples h2:before {
    content: "Show ";
    font-family: "Gill Sans W01 Book", "Gill Sans MT Pro", "Gill Sans", GillSans, sans-serif;
    font-weight: 300;
  }
  
  .js-enabled #wrapper .open-section h2:before {
    content: "Hide ";
    font-family: "Gill Sans W01 Book", "Gill Sans MT Pro", "Gill Sans", GillSans, sans-serif;
    font-weight: 300;
  }
  
  .js-enabled #wrapper .examples .content {
    height: 0;
  }
  
  .js-enabled #wrapper .open-section .content,
  .lte-ie8 .js-enabled #wrapper .examples .content {
    /* reveal hidden examples & for IE */
    height: auto;
    overflow: visible;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
    -webkit-transition: none;
           -transition: none;
  }
  
  .js-enabled #wrapper .examples .content > * {
    opacity: 0;
       -moz-transition: 0.9s ease;
        -ms-transition: 0.9s ease;
         -o-transition: 0.9s ease;
    -webkit-transition: 0.9s ease;
           -transition: 0.9s ease;
  }
  
  .js-enabled #wrapper .open-section .content > *,
  .lte-ie8 .js-enabled #wrapper .examples .content > * {
    /* reveal hidden examples & for IE */
    opacity: 1;
  }

}


/* print styles */

@media print {
  html {
    font-size: 9px!important;
  }
  
  header, nav, .principles {
    margin: 0!important;
    /*max-width: 88%!important;*/
  }

  article {
    width: 100%!important;
  }

  body nav {
    display: block!important;
  }
  
  .principle,
  .examples {
    page-break-before: always;
  } 
}


/* Styleguide */

#wrapper.styleguide article p {
  width: 85%;
  margin-bottom: 13px;
  margin-bottom: 1.3rem;
}

#wrapper.styleguide article > p,
#wrapper.styleguide article > ul li {
  font-family: 'Georgia', serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.625;
}

@media (max-width: 640px) {
  #wrapper.styleguide article p {
    width: 100%;
  }
}


/* over rides */

#global-header,
#footer,
#popup {
  font-size: 16px;
}

#footer{
  clear:both;
}

html{
  background-color:#fff;
}