/*main.css*/

html {
  font-size: 62.5%;
}

@media (max-width: 900px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 1100px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1500px) {
  html {
    font-size: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

ul, ol, li {
  list-style: none;
}

body {
  color: #444;
  background: #fff;
  font-family: "Gill Sans MT Pro", "Gill Sans", GillSans, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 18px 24px;
  padding: 1.8rem 2.4rem;
  margin:0;
}

header, nav, .principles {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
  max-width: 80rem;
}

a {
  color: red;
  text-decoration: none;
  border-bottom: 1px solid red;
}

nav a {
  border-bottom: none;
}

nav a .icon {
  float: left;
  clear: both;
  width: 24px;
  width: 2.4rem;
}

nav a .caption {
  border-bottom: 1px solid red;
}

h1 {
  font-size: 45px;
  font-size: 4.5rem;
  line-height: 1.1555555556;
  font-weight: 300;
  letter-spacing: -0.03em;
  padding: 6px 0 8px;
  padding: 1.4rem 0 0.2rem;
}

h1 strong,
article h1 {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.01em;
}

.outline {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.25;
  font-weight: 300;
  letter-spacing: -0.03em;
  padding: 2px 0 6px;
  padding: 0.6rem 0 0.2rem;
}

article h1:before {
  font-weight: 300;
  color: red;
  padding-right: 24px;
  padding-right: 2.4rem;
}

#first h1:before {
  content: "1";
}

#second h1:before {
  content: "2";
}

#third h1:before {
  content: "3";
}

#fourth h1:before {
  content: "4";
}

#fifth h1:before {
  content: "5";
}

#sixth h1:before {
  content: "6";
}

#seventh h1:before {
  content: "7";
}

#eighth h1:before {
  content: "8";
}

#ninth h1:before {
  content: "9";
}

#tenth h1:before {
  content: "10";
}

article .content p {
  border: 1px solid #ccc;
  text-align: center;
  line-height: 100px;
}

article .content p:before {
  content: "placeholder";
}
