/*main.css*/

body{
  background-color: #fff;
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
  padding:0;
  margin:0;
}

h1, h2, h3 {
  font-weight: normal;
}

.visuallyhidden {
  display:none;
}

ol.principles{
  margin: 0;
  list-style-type:none;
  padding:0;
}
ol li.principle{
  padding:0;
  margin:0 0 0 5%;
  clear:both;
  list-style-type:none;
  width: 95%;
}
.js-enabled ol li.principle {
  position:fixed;
  top:0;
  z-index:1;
  display:block;
}
ol li.principle:nth-child(2n){
  background-color:#f3f3f3;
}

ol li.principle article {
  padding: 4em 5%;
}

h1.principle-title {
  float: left;
  font-family: "Gill Sans MT Pro", "Gill Sans", GillSans, serif;
  font-size: 5em;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  width: 60%;
}

p.principle-outline {
  border-left: solid 2px #BBB;
  float: left;
  font-size: 1.5em;
  padding-left: 2.5%;
  width: 52.5%;
}

section.tips {
  float: left;
  width: 55%;
}

section.examples {
  margin-left: 62.5%;
  margin-right: 2.5%;
  width: 35%;
}

section h1 {
  font-family: "Gill Sans MT Pro", "Gill Sans", GillSans, serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

section.examples ul {
  padding-left: 0;
}

section.examples li {
  list-style: none;
  margin-bottom: 3em;
}

section.examples figure {
  margin: 0;
}

section.examples img {
  max-width: 100%;
}

nav{
  background-color: #fff;
	display: block;
  left: 1%;
	position: fixed;
	z-index: 99;
}

nav ol {
  padding: 0;
}

nav ol li {
  list-style: none;
}

nav ol li a {
  background-color: #000;
  border-radius: 1em;
  color: #fff;
  display: block;
  line-height: 2em;
  margin-bottom: 0.5em;
  text-align: center;
  text-decoration: none;
  width: 2em;
}

/* individual card styling */

#index {
  background-color: #f5f1d3;
}

#index h1 {
  font-family: "Gill Sans MT Pro", "Gill Sans", GillSans, serif;
  font-size: 2em;
  line-height: 1.25;
  margin-top: 0;
}

#index h1 strong {
  display: block;
  font-size: 2.5em;
  font-weight: 500;
}

#first {
  background-color: #dd322d;
}

#second {
  background-color: #f37920;
}

#third {
  background-color: #b5892d;
}

#fourth {
  background-color: #ffc10e;
}

#fifth {
  background-color: #858627;
}

#sixth {
  background-color: #00652e;
}

#seventh {
  background-color: #2ba197;
}

#eighth {
  background-color: #2e8aca;
}

#ninth {
  background-color: #6f70b4;
}

#tenth {
  background-color: #90278e;
}