.visuallyhidden,
.figure-mask {
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

#wrapper {
  @include core-24;

  position: relative;
  color: #000;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  padding: 26px 0 0 0;
  padding: 2.6rem 0 0 0;
  margin: 0 auto;

  @include media(mobile) {
    padding: 10px;
    padding: 1rem;
  }

  @include ie-lte(7) {
    margin: 0 auto;
    width: 960px;
  }

  ol,
  ol > li {
    list-style: none;
  }
}

#wrapper header,
#wrapper nav,
#wrapper .principles,
#wrapper .additional,
#wrapper .feedback,
#wrapper .content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 960px;
  max-width: 96rem;
}

#wrapper nav {
  padding-top: 26px;
  padding-top: 2.6rem;

  a {
    border-bottom: none;

    &:hover .caption,
    &:focus .caption {
      border-color: #ddd;
    }

    .caption {
      border-bottom: 1px solid #ddd;
    }
  }

  ol {
    margin-left: -40px;
    margin-left: -4.0rem;

    li {
      margin-bottom: 10px;
      margin-bottom: 1rem;
    }
  }
}

#wrapper .content {
  clear: both;
  padding: 20px 0;
  padding: 2rem 0;

  article {
    &.design,
    &.process,
    &.comparison,
    &.worked-example {
      clear: left;

      p {
        margin-top: 0;
        padding: 0 13px 13px;
        padding: 0 1.3rem 1.3rem;
      }

      header {
        p {
          padding: 4px 6px;
          padding: 0.4rem 0.6rem;
        }
      }

      .example {
        width: 66.6%;
        float: left;
        margin: 0;
        padding: 0;

        @include media(mobile) {
          width: auto;
          float: none;
        }

        a {
          @include core-14;

          border-bottom: none;
        }

        img {
          width: 96%;
          margin: 0 2% 2% 2%;
        }
      }

      .caption {
        float: left;
        width: 33.3%;

        @include media(mobile) {
          float: none;
          width: auto;
        }

        @include ie-lte(7) {
          width: 30%;
        }
      }
    }

    &.process,
    &.worked-example {
      .example {
        width: 33.3%;

        @include ie-lte(7) {
          width: 30%;
        }
      }

      .caption {
        width: 66.6%;
      }
    }
  }
}

#wrapper a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #2E8ACA;
  padding-bottom: 0;

  &:hover,
  &:focus {
    border-color: #ddd;
  }

  &:active {
    color: #2E8ACA;
  }
}

#wrapper nav a .icon,
#wrapper .checklist .icon {
  position: relative;
  float: left;
  clear: both;
  text-align: right;
  margin-left: -2.1666666em;
  margin-left: -3.9rem;
  width: 1.4444444em;
  width: 2.6rem;
  color: #aaa;
}

#wrapper h1 {
  @include core-80;

  padding: 6px 0 8px;
  padding: 0.6rem 0 0.8rem;
}

#wrapper h1 strong,
#wrapper article h1 {
  @include core-48;

  display: block;
}

#wrapper header,
#wrapper article {
  position: relative;
  clear: both;
  padding-bottom: 26px;
  padding-bottom: 2.6rem;
  padding-top: 38px;
  padding-top: 3.8rem;
  min-height: 1px;

}

#wrapper header p {
  max-width: 85%;
  padding: 23px 0 3px;
  padding: 2.3rem 0 0.3rem;
}

#wrapper .principles {
  padding-left: 0;
  padding-bottom: 78px;
  padding-bottom: 7.8rem;

  &:after {
    content: '.';
    clear: both;
    visibility: hidden;
  }

  li.principle {
    padding: 0;

    article {
      margin-right: 0;
    }
  }
}

#wrapper article h1 {
  color: #dd322d;

  &:before {
    position: relative;
    float: left;
    clear: both;
    text-align: right;
    margin-left: -78px;
    margin-left: -7.8rem;
    width: 52px;
    width: 5.2rem;
    font-weight: 300;
    letter-spacing: -0.05em;
  }
}

#first:before {
  content: "1";
}

#second:before {
  content: "2";
}

#third:before {
  content: "3";
}

#fourth:before {
  content: "4";
}

#fifth:before {
  content: "5";
}

#sixth:before {
  content: "6";
}

#seventh:before {
  content: "7";
}

#eighth:before {
  content: "8";
}

#ninth:before {
  content: "9";
}

#tenth:before {
  content: "10";
}

#wrapper .outline p {
  @include core-27;

  padding: 14px 0 12px;
  padding: 1.4rem 0 1.2rem;

  img {
    float: right;
    clear: both;
    width: auto;
    height: auto;
    max-width: 100%;

    &.col-1of2 {
      width: 50%;
    }

    &.col-2of3 {
      width: 66.6666666666%;
    }

    &.col-1of2-5 {
      width: 40%;
    }

    &.col-1of3 {
      width: 33.3333333333%;
    }
  }
}

#wrapper article h2,
#wrapper header h2 {
  @include bold-27;

  padding: 16px 0 8px;
  padding: 1.6rem 0 0.8rem;
}

#wrapper header h2 {
  padding-bottom: 0;
}

#wrapper article {
  #first + h2 {
    position: relative;
    top: -13px;
    top: -1.3rem;
    color: #dd322d;
  }

  h3 {
    color: #DD322D;
    letter-spacing: 0;
    padding: 10px 0 3px;
    padding: 1rem 0 0.3rem;
  }

  ul {
    margin-bottom: 13px;
    margin-bottom: 1.3rem;
  }

  .content {
    ul,
    ol {
      padding: 1.6rem 0 0.8rem;
    }

    p {
      letter-spacing: 0;
      padding: 10px 0 3px;
      padding: 1rem 0 0.3rem;
    }
  }

  section {
    position: relative;
    padding-top: 13px;
    padding-top: 1.3rem;
  }
}

#wrapper article {
  .examples {
    clear: both;
    overflow: visible;

    a {
      border: none;

      &:hover {
        border-color: #fff;
      }
    }

    header {
      padding: 0 13px;
      padding: 0 1.3rem;
    }

    h3 {
      clear: both;
      padding: 26px 13px 13px;
      padding: 2.6rem 1.3rem 1.3rem;
    }

    .example {
      border: none;
    }

    .content {
      position: relative;
      clear: both;
      width: auto;
      margin: 0;
      overflow: hidden;
      display: block;
    }

    .design,
    .process,
    .writing,
    .code,
    .comparison,
    .table-view {
      position: relative;
      overflow: hidden;
      margin-top: 1px;
      margin-top: 0.1rem;
      padding: 0;
      display: block;
      background: #ddd;
    }

    .highlight {
      font-weight: bold;
      color: #dd322d;
      background-color: #f8f8f8;
    }
  }

  .worked-example {
    padding-top: 0;
  }

  .examples h1,
  .worked-example h1 {
    @include bold-19;

    border: none;
    color: black;
    padding-top: 9px;
    padding-top: 0.9rem;
    max-width: 66.666%;
  }
}

.header-context,
#footer .beta-notice{
  display: none;
}

#wrapper.performanceframework .beta-notice span {
  padding-left: 0;
}

#wrapper .beta-notice {
  @include core-14;

  color: #000;
  text-transform: uppercase;
  display: block;
  z-index: 100;
  margin: 0 auto;
  width: 960px;
  width: 96rem;

  .inner {
    padding-left: 0;
  }

  a {
    padding: 8px 13px;
    padding: 0.8rem 1.3rem;
    background-color: #d43783;
    border: none;
    float: left;
    color: #fff;
    text-decoration: none;
  }

  span {
    padding: 8px 13px;
    padding: 0.8rem 1.3rem;
    float: left;
  }
}

#wrapper {
  .alpha-feedback,
  .beta-feedback {
    position: relative;
    clear: both;
    padding: 26px;
    padding: 2.6rem;
    margin: 0 auto;
    width: 908px;
    width: 90.8rem;

    @include media(mobile) {
      width: auto;
      padding: 16px;
      padding: 1.6rem;
    }

    header {
      padding: 0;
      margin: 0;
    }

    h1 {
      @include bold-27;
    }

    a {
      border-color: white;
    }
  }

  .alpha-feedback {
    background-color: #d43783;
    color: #fff;

    a {
      color: white;
    }
  }

  .beta-feedback {
    background-color: #F17921;
    color: #000;

    a {
      border-bottom: 1px solid #000;
    }
  }
}

#wrapper article .example {
  background: transparent;
}

#wrapper article .examples p.status {
  position: absolute;
  right: 0;
  top: 8px;
  top: 0.8rem;
}

#wrapper article .examples .code .example {
  margin: 0 13px;
  margin: 0 1.3rem;
  padding: 13px;
  padding: 1.3rem;
  background: white;
  border: 1px solid #ccc;
  color: black;
  font-family: monospace;
  line-height: 1.3;
  font-size: 18px;
  font-size: 1.8rem;

  * {
    font: inherit;
  }
}

#wrapper article .examples .code .caption {
  margin: 0 13px 13px;
  margin: 0 1.3rem 1.3rem;
}

/* Statii */
#wrapper article p {
  &.status {
    @include core-14;

    float: left;
    margin: 0 13px;
    margin: 0 1.3rem;
    padding: 4px 6px;
    padding: 0.4rem 0.6rem;
    color: black;
    background-color: #ddd;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  &.experimental {
    background-color: #D33883;
    color: #fff;
  }

  &.changeable{
    background-color: #F47E31;
    color: #fff;
  }

  &.tried{
    background-color: #7F9A48;
    color: #fff;
  }
}

#popup.welcome-tour .dp-welcome-content {
  background-color: #d43783;

  .welcome-inner {
    background-color: #ea9bc1;
  }
}

#wrapper {
  table {
    @include core-14;

    border-collapse: collapse;
    border-spacing: 0;
    margin: 1em 0 2em 0;
    width: auto;

    li {
      @include core-16;
    }
  }

  .additional {
    padding-top: 1.25925926em;
    padding-top: 2.3rem;
  }

  .feedback {
    padding-top: 2.3em;
  }

  .checklist li {
    list-style: none;
    clear: both;
  }
}

#wrapper article .examples .table-view table {
  overflow: visible;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
}

#wrapper table caption {
  text-align: left;
  margin-bottom: 0.5em;
  padding-left: 1em;
}

#wrapper th, #wrapper td {
  vertical-align: top;
  line-height: 1.3em;
  padding: 0.7em 0.5em 0.7em 1em;
}

#wrapper .table-view table th:nth-child(2) {
  width: 40%;
}

#wrapper tr:nth-child(even) td {
  background-color: #fff;
}

#wrapper td {
  background: #fafafa;
  border: dotted 1px #bbb;
}

#wrapper tr:nth-child(1) td {
  border-top: none;
}

#wrapper table td li,
#wrapper .dashed-list li {
  list-style: none;
}

#wrapper table td li {
  margin-bottom: 2.3rem;
}

#wrapper ul.dashed-list li:before {
  content: '- ';
}

#wrapper .dashed-list li:last-child {
  margin-bottom: 0;
}

#wrapper th {
  line-height: 1.25em;
  text-align: left;
  color: #000;
  font-weight: normal;
  background-color: #e1e8e8;
  border: solid 1px #bbb;
}

#wrapper .main-img {
  padding-right: 15%;
  margin: 0 auto;
  max-width: 550px;
}

#wrapper .main-img img {
  display: block;
  width: 100%;
}

/* hacky preloader for dropdown background image */
.js-enabled #wrapper {
  background-image: image-url('dropdown_arrow_open.png');
  background-position: -5000px top;
  background-repeat: no-repeat;
}

.js-enabled #wrapper .examples {
  padding-top: 26px;
  padding-top: 2.6rem;
}

.js-enabled #wrapper .examples h2 {
  float: left;
  display: inline;
  overflow: hidden;
  min-width: 12em;
  padding: 11px 39px 1px 13px;
  padding: 1.1rem 3.9rem 1.1rem 1.3rem;
  color: white;
  background: #dd322d image-url('dropdown_arrow_closed.png') no-repeat right center;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -user-select: none;
}

.js-enabled #wrapper .open-section h2 {
  background-image: image-url('dropdown_arrow_open.png');
}

.js-enabled #wrapper .examples h2 a,
.js-enabled #wrapper .examples h2 a:active {
  border: none;
  color: inherit;
}

.js-enabled #wrapper .examples h2 a:focus {
  background: #000;
  outline: 3px solid #000;
}

.js-enabled #wrapper .examples h2:before {
  content: "Show ";
  font-weight: 300;
}

.js-enabled #wrapper .open-section h2:before {
  content: "Hide ";
  font-weight: 300;
}

.js-enabled #wrapper .examples .content {
  height: 0;
}

.js-enabled #wrapper .open-section .content {
  /* reveal hidden examples & for IE */
  height: auto;
  overflow: visible;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  -transition: none;
}

.js-enabled #wrapper .examples .content > * {
  opacity: 0;
  -moz-transition: 0.9s ease;
  -ms-transition: 0.9s ease;
  -o-transition: 0.9s ease;
  -webkit-transition: 0.9s ease;
  -transition: 0.9s ease;
}

.js-enabled #wrapper .open-section .content > * {
  /* reveal hidden examples & for IE */
  opacity: 1;
}

/* Styleguide */

#wrapper.styleguide article p {
  letter-spacing: 0;
  padding: 10px 0 3px;
  padding: 1rem 0 0.3rem;
}

#wrapper.styleguide article > p,
#wrapper.styleguide article > ul li {
  line-height: 1.625;
}

#wrapper .sections {
  margin: 0 auto;
  padding: 0;

  li {
    display: inline;

    @include media(mobile) {
      display: block;
      margin-bottom: 10px;
    }

    a {
      @include core-16;

      background-color: #DD322D;
      color: #fff;
      text-decoration: none;
      border: 1px solid #DD322D;
      padding: 6px 11px;

      @include media(mobile) {
        display: block;
      }

      &.current {
        background-color: #fff;
        color: #DD322D;
      }
    }
  }
}

#wrapper article .examples {
  ul {
    margin-left: 1em;
  }
}

#wrapper.styleguide article .examples {
  h1 {
    margin-top: 5px;
  }

  li {
    margin-left: 0.75em;
  }
}

#wrapper .sections li a
#wrapper article h2,
#wrapper header h2 {
  @include bold-27;
}

#wrapper article li {
  position: relative;
  list-style-position: outside;
  list-style-type: disc;
  margin-left: -0.5em;
  padding-left: 0.5em;

  b {
    font-weight: bold;
  }
}

/* print styles */
@media print {
  html {
    font-size: 9px!important;
  }

  #wrapper .beta-notice {
    padding: 0 26px;
    padding: 0 2.6rem;

    a {
      display: none;
    }
  }

  header, nav, .principles {
    margin: 0!important;
  }

  article {
    width: 100%!important;
    page-break-before: avoid;
    page-break-after: avoid;
  }

  body nav {
    display: block!important;
  }

  .principle,
  .examples {
    page-break-before: always;
  }

  a {
    border-bottom: none!important;
  }
}

/* over rides */
#global-header,
#footer,
#popup {
  @include core-16;
}

#footer {
  clear: both;
}

html {
  background-color: #fff;
}
