/*main.css*/

html {
  font-size: 62.5%;
}

@media (max-width: 900px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 1100px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1500px) {
  html {
    font-size: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

ul, ol, li {
  list-style: none;
}

body {
  color: #444;
  background: #fff;
  font-family: "Gill Sans MT Pro", "Gill Sans", GillSans, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.4444444444;
  font-weight: 300;
  padding: 0 52px 13px 104px;
  padding: 0 5.2rem 1.3rem 10.4rem;
  margin: 0;
}

@media (max-width: 640px) {
  body {
    padding: 0 13px 13px 39px;
    padding: 0 1.3rem 1.3rem 3.9rem;
  }
}

header, nav, .principles {
  position: relative;
  margin: 0 auto;
  max-width: 700px;
  max-width: 70rem;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

a:hover,
a:focus,
nav a:hover .caption,
nav a:focus .caption {
  border-color: #2E8ACA;
}

a:active {
  color: #2E8ACA;
}

nav a {
  border-bottom: none;
}

nav a .icon {
  position: relative;
  float: left;
  clear: both;
  text-align: right;
  margin-left: -39px;
  margin-left: -3.9rem;
  width: 26px;
  width: 2.6rem;
  color: #aaa;
}

nav a .caption {
  border-bottom: 1px solid #ddd;
}

h1 {
  font-size: 45px;
  font-size: 4.5rem;
  line-height: 1.1555555556;
  font-weight: 300;
  padding: 6px 0 8px;
  padding: 1.8rem 0 0.8rem;
}

@media (max-width: 640px) {
  h1 {
    font-size: 26px;
    font-size: 2.6rem;
  }
}

h1 strong,
article h1 {
  display: block;
  font-weight: 500;
  letter-spacing: 0.01em;
}

header, article {
  position: relative;
  clear: both;
  padding-bottom: 26px;
  padding-bottom: 2.6rem;
  padding-top: 78px;
  padding-top: 7.8rem;
}

nav {
  padding-top: 26px;
  padding-top: 2.6rem;
}

@media (max-width: 640px) {
  header, article {
    padding-top: 26px;
    padding-top: 2.6rem;
  }
  nav {
    padding-top: 0;
  }
}

article h1 {
  color: #dd322d;
}

article h1:before {
  position: relative;
  float: left;
  clear: both;
  text-align: right;
  margin-left: -78px;
  margin-left: -7.8rem;
  width: 52px;
  width: 5.2rem;
  font-weight: 300;
  letter-spacing: -0.05em;
}

@media (max-width: 640px) {
  article h1:before {
    margin-left: -39px;
    margin-left: -3.9rem;
    width: 30px;
    width: 3rem;
  }
}

#first h1:before {
  content: "1";
}

#second h1:before {
  content: "2";
}

#third h1:before {
  content: "3";
}

#fourth h1:before {
  content: "4";
}

#fifth h1:before {
  content: "5";
}

#sixth h1:before {
  content: "6";
}

#seventh h1:before {
  content: "7";
}

#eighth h1:before {
  content: "8";
}

#ninth h1:before {
  content: "9";
}

#tenth h1:before {
  content: "10";
}

.outline {
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.21875;
  font-weight: 300;
  padding: 14px 0 12px;
  padding: 1.4rem 0 1.2rem;
}

.outline img {
  float: right;
  clear: both;
  width:auto;
  height: auto;
  max-width: 100%;
}

@media (max-width: 640px) {
  .outline {
    font-size: 21px;
    font-size: 2.1rem;
    padding: 8px 0 2px;
    padding: 0.8rem 0 0.2rem;
  }

  .outline img {
    display: none;
  }
}

.outline img.col-1of2 {
  width: 50%;
}

.outline img.col-1of3 {
  width: 33.3333333333%;
}

article h2 {
  text-transform: uppercase;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding: 17px 0 9px;
  padding: 1.7rem 0 0.9rem;
}

article .content p {
  letter-spacing: 0;
  padding: 10px 0 3px;
  padding: 1rem 0 0.3rem;
}

article .content p:before {
  content: "Shankle hamburger beef, pork belly meatball swine boudin frankfurter pastrami jerky. Swine bresaola rump, chuck ball tip drumstick andouille cow shankle pork meatloaf pork belly strip steak tri-tip speck. Corned beef pork prosciutto tail brisket pig, spare ribs shank venison pork loin. Short ribs biltong beef, ground round tongue strip steak swine spare ribs fatback bresaola. Jowl swine filet mignon flank, sausage pork loin strip steak t-bone.";
}

article section {
  position: relative;
  padding-top: 13px;
  padding-top: 1.3rem;
}

article .examples {
  clear: both;
}

article .examples .content {
  position: relative;
  clear: both;
  width: auto;
  overflow: hidden;
  background: #eee;
}

@media (max-width: 640px) {
  article .examples .content {
    margin-left: -39px;
    margin-left: -3.9rem;
    margin-right: -13px;
    margin-right: -1.3rem;
  }
}


/* features added by JS */

.js-enabled .examples {
  padding-top: 26px;
  padding-top: 2.6rem;
}

.js-enabled .examples h2 {
  float: left;
  min-width: 12em;
  margin-bottom: 1px;
  padding: 13px 39px 9px 13px;
  padding: 1.3rem 3.9rem 0.9rem 1.3rem;
  color: white;
  background: #dd322d url(../images/dropdown_arrow_closed.png) no-repeat right center;
  cursor: pointer;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
  -webkit-user-select: none;
         -user-select: none;
}

.js-enabled .open-section h2 {
  background-image: url(../images/dropdown_arrow_open.png);
}

.js-enabled .examples h2:before {
  content: "Show ";
  font-weight: 300;
}

.js-enabled .open-section h2:before {
  content: "Hide ";
  font-weight: 300;
}

.js-enabled .examples .content {
  height: 0;
}

.js-enabled .open-section .content {
  height: auto;
  overflow: visible;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
  -webkit-transition: none;
         -transition: none;
}

.js-enabled .examples .content > * {
  opacity: 0;
     -moz-transition: 0.9s ease;
      -ms-transition: 0.9s ease;
       -o-transition: 0.9s ease;
  -webkit-transition: 0.9s ease;
         -transition: 0.9s ease;
}

.js-enabled .open-section .content > * {
  opacity: 1;
}
