<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <meta name="viewport" content="
      width=device-width; 
      initial-scale=1.0; 
      maximum-scale=1.0; 
      user-scalable=0;">
      
    <link href="/app/assets/stylesheets/main.css" type="text/css" rel="stylesheet" />
    <link href="/app/assets/stylesheets/print.css" type="text/css" rel="stylesheet" media="print" />
    <script src="/app/assets/javascripts/main.js"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
